<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	default-autowire="byName">



	<bean id="velocityConfigurer"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath">
<!-- 				<value>file:${baib_htdocs}/templates</value> -->
				<value>classpath:/htdocs/templates</value>
		</property>
		<property name="velocityProperties">
			<props>
				<prop key="directive.foreach.counter.name">loopCounter</prop>
				<prop key="directive.foreach.counter.initial.value">0</prop>
				<prop key="input.encoding">UTF-8</prop>
				<prop key="output.encoding">UTF-8</prop>
				<prop key="contentType">text/html;charset=UTF-8</prop>
					<!-- debug时可以设置为true，发布时设置为false -->
				<prop key="velocimacro.library.autoreload">true</prop>
			</props>
		</property>
	</bean>
    
    
	<bean id="viewResolver"
		class="com.onway.web.frameset.smvc.view.OnwayVelocityViewResolver">
		<property name="suffix" value=".html" />
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="beansMap" ref="velocityBeansMap" />
		<property name="viewClass"
			value="com.onway.web.frameset.smvc.view.VelocityContextToolBox">
		</property>
	</bean>
	
	<!-- 控制器未捕获异常处理器 -->
<!-- 	<bean id="exceptionResolver"
		class="com.onway.web.frameset.smvc.exception.resolver.CommonHandlerExceptionResolver">
		<property name="defaultErrorTarget" value="/500.htm" />
		<property name="exceptionHandlers">
			<list>
				<bean class="com.onway.web.controller.error.FrontWebExceptionResolver">
					<property name="errorPage" value="error" />
				</bean>
			</list>
		</property>
	</bean> -->

    <bean id="controllerTemplate"
          class="com.onway.web.controller.template.ControllerTemplateImpl" />
</beans>