<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.jiuy.user.mapper.UrlResourceMapper"> 
 
 	<!-- 主要的返回映射-->
	<resultMap id="BaseResultMap" type="com.jiuy.user.model.UrlResource"	>
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name"  property="name"  jdbcType="VARCHAR" />
		<result column="uri"  property="uri"  jdbcType="VARCHAR" />
		<result column="is_menu"  property="isMenu"  jdbcType="INTEGER" />
		<result column="parent_id"  property="parentId"  jdbcType="VARCHAR" />
		<result column="groups"  property="groups"  jdbcType="VARCHAR" />
		<result column="m_id"  property="mId"  jdbcType="VARCHAR" />
		<result column="status"  property="status"  jdbcType="INTEGER" />
		<result column="sort"  property="sort"  jdbcType="INTEGER" />
	</resultMap>

	<!-- 所有的列名-->
	<sql id="Base_Column_List" >
		id,name,uri,is_menu,parent_id,groups,m_id,status,sort
	</sql>

	<!-- 精确更新的字段-->
	<sql id="updateBase">
		<if test="id  !=null">
			id = #{id,jdbcType=BIGINT}, 
		</if>
		<if test="name  !=null">
			name = #{name,jdbcType=VARCHAR}, 
		</if>
		<if test="uri  !=null">
			uri = #{uri,jdbcType=VARCHAR}, 
		</if>
		<if test="isMenu  !=null">
			is_menu = #{isMenu,jdbcType=INTEGER}, 
		</if>
		<if test="parentId  !=null">
			parent_id = #{parentId,jdbcType=VARCHAR}, 
		</if>
		<if test="groups  !=null">
			groups = #{groups,jdbcType=VARCHAR}, 
		</if>
		<if test="mId  !=null">
			m_id = #{mId,jdbcType=VARCHAR}, 
		</if>
		<if test="status  !=null">
			status = #{status,jdbcType=INTEGER}, 
		</if>
		<if test="sort  !=null">
			sort = #{sort,jdbcType=INTEGER} 
		</if>
	</sql>

	<!-- 通过主键查找-->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
		select 
		<include refid="Base_Column_List" />
		from yjj_rb_url_resource
		where  id = #{id,jdbcType=BIGINT} 
	</select>

	<!-- 通过主键删除-->
	<delete id="deleteByPrimaryKey" parameterType="Long" >
		delete from yjj_rb_url_resource
		where id = #{id,jdbcType=BIGINT} 
	</delete>

	<!-- 普通插入全字段插入-->
	<insert id="insert" parameterType="com.jiuy.user.model.UrlResource" >
		insert into yjj_rb_url_resource
		(
			id,
			name,
			uri,
			is_menu,
			parent_id,
			groups,
			m_id,
			status,
			sort,
		)
		values
		(
			#{id ,jdbcType=BIGINT},
			#{name ,jdbcType=VARCHAR},
			#{uri ,jdbcType=VARCHAR},
			#{isMenu ,jdbcType=INTEGER},
			#{parentId ,jdbcType=VARCHAR},
			#{groups ,jdbcType=VARCHAR},
			#{mId ,jdbcType=VARCHAR},
			#{status ,jdbcType=INTEGER},
			#{sort ,jdbcType=INTEGER}
		)
	</insert>

	<!-- 批量插入，全部字段插入-->
	<insert id="insertBach"   parameterType="List" >
		insert into yjj_rb_url_resource
		(
			id,
			name,
			uri,
			is_menu,
			parent_id,
			groups,
			m_id,
			status,
			sort,
		)
		values 
		<foreach collection="list" item="item" separator=",">
		(
			#{item.id ,jdbcType=BIGINT},
			#{item.name ,jdbcType=VARCHAR},
			#{item.uri ,jdbcType=VARCHAR},
			#{item.isMenu ,jdbcType=INTEGER},
			#{item.parentId ,jdbcType=VARCHAR},
			#{item.groups ,jdbcType=VARCHAR},
			#{item.mId ,jdbcType=VARCHAR},
			#{item.status ,jdbcType=INTEGER},
			#{item.sort ,jdbcType=INTEGER}
		)
		</foreach>
	</insert>

	<!-- 精确插入，非null得字段才会插入-->
	<insert id="insertSelective" parameterType="com.jiuy.user.model.UrlResource" useGeneratedKeys="true" keyProperty="id" >
		insert into yjj_rb_url_resource
		<trim prefix="(" suffix=")" suffixOverrides="," > 
			<if test="id !=null">  
				id,
			</if>
			<if test="name !=null">  
				name,
			</if>
			<if test="uri !=null">  
				uri,
			</if>
			<if test="isMenu !=null">  
				is_menu,
			</if>
			<if test="parentId !=null">  
				parent_id,
			</if>
			<if test="groups !=null">  
				groups,
			</if>
			<if test="mId !=null">  
				m_id,
			</if>
			<if test="status !=null">  
				status,
			</if>
			<if test="sort !=null">  
				sort,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id  !=null">
				#{id,jdbcType=BIGINT}, 
			</if>
			<if test="name  !=null">
				#{name,jdbcType=VARCHAR}, 
			</if>
			<if test="uri  !=null">
				#{uri,jdbcType=VARCHAR}, 
			</if>
			<if test="isMenu  !=null">
				#{isMenu,jdbcType=INTEGER}, 
			</if>
			<if test="parentId  !=null">
				#{parentId,jdbcType=VARCHAR}, 
			</if>
			<if test="groups  !=null">
				#{groups,jdbcType=VARCHAR}, 
			</if>
			<if test="mId  !=null">
				#{mId,jdbcType=VARCHAR}, 
			</if>
			<if test="status  !=null">
				#{status,jdbcType=INTEGER}, 
			</if>
			<if test="sort  !=null">
				#{sort,jdbcType=INTEGER} 
			</if>
		</trim>
	</insert> 

	<!-- 精确更新-->
	<update id="updateByPrimaryKeySelective" parameterType="com.jiuy.user.model.UrlResource" >
		update yjj_rb_url_resource
		<set>
			<include refid="updateBase"/>
		</set>
		where id = #{id,jdbcType=BIGINT} 
	</update> 

	<!-- 全字段更新 需要注意-->
	<update id="updateByPrimaryKey" parameterType="com.jiuy.user.model.UrlResource" >
		update yjj_rb_url_resource
		set 
			id = #{id ,jdbcType=BIGINT},
			name = #{name ,jdbcType=VARCHAR},
			uri = #{uri ,jdbcType=VARCHAR},
			is_menu = #{isMenu ,jdbcType=INTEGER},
			parent_id = #{parentId ,jdbcType=VARCHAR},
			groups = #{groups ,jdbcType=VARCHAR},
			m_id = #{mId ,jdbcType=VARCHAR},
			status = #{status ,jdbcType=INTEGER},
			sort = #{sort ,jdbcType=INTEGER}
		where id = #{id,jdbcType=BIGINT} 
	</update> 

	<!-- 所有的条件集合-->
	<sql id="whereCase"  >
		where  1=1 
		<if test="id  !=null">
			AND id = #{id,jdbcType=BIGINT} 
		</if>
		<if test="name  !=null">
			AND name = #{name,jdbcType=VARCHAR} 
		</if>
		<if test="uri  !=null">
			AND uri = #{uri,jdbcType=VARCHAR} 
		</if>
		<if test="isMenu  !=null">
			AND is_menu = #{isMenu,jdbcType=INTEGER} 
		</if>
		<if test="parentId  !=null">
			AND parent_id = #{parentId,jdbcType=VARCHAR} 
		</if>
		<if test="groups  !=null">
			AND groups = #{groups,jdbcType=VARCHAR} 
		</if>
		<if test="mId  !=null">
			AND m_id = #{mId,jdbcType=VARCHAR} 
		</if>
		<if test="status  !=null">
			AND status = #{status,jdbcType=INTEGER} 
		</if>
		<if test="sort  !=null">
			AND sort = #{sort,jdbcType=INTEGER} 
		</if>
		<include refid="costomWhereCase"/>
	</sql>

	<!-- 查询一条，如果返回多条会报错-->
	<select id="selectOne" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" /> 
		FROM yjj_rb_url_resource 
		<include refid="whereCase" /> 
	</select>

	<!-- 查询一个list-->
	<select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" /> 
		FROM yjj_rb_url_resource 
		<include refid="whereCase" /> 
	</select>

	<!--  @Costom -->
	<!-- 从上一行注释以上为系统生成 从这一行往下为用户自定义 请将自定义的sql放在此行下面 -->
	<sql id="costomWhereCase">
	</sql>

</mapper>