<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuyuan.dao.mapper.supplier.GroundUserLoginLogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jiuyuan.entity.newentity.GroundUserLoginLog">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="ip" property="ip" />
		<result column="client_type" property="clientType" />
		<result column="client_version" property="clientVersion" />
		<result column="create_time" property="createTime" />
	</resultMap>

</mapper>
