<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiuyuan.dao.mapper.supplier.OrderNewLogMapper">

	<insert id="addOrderLog">
		<![CDATA[
			insert into store_OrderLog
			(StoreId, OrderNo, OldStatus, NewStatus, CreateTime)
			values
			(#{storeId}, #{orderNo}, #{oldStatus}, #{newStatus}, #{createTime})
		]]>
	</insert>
	
	<select id="selectOrderLogByOrderNoAndStatus" resultType="com.jiuyuan.entity.OrderNewLog">
		<![CDATA[
			select * from store_OrderLog
			where OrderNo = #{orderNo} and NewStatus = #{orderStatus} limit 1
		]]>
	</select>
	
</mapper>