<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiuyuan.dao.mapper.supplier.ShopUserMapper">

	<select id="getStoreBusinessByStoreId" resultType="com.jiuyuan.entity.newentity.StoreBusiness">
		<![CDATA[
			select * from yjj_StoreBusiness
			where Id = #{storeId} 
		]]>
	</select>

</mapper>