<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jiuyuan.dao.mapper.supplier.ShopProductsMapper">

    <update id="soldOut">
        update
          shop_product
        set
            sold_out = 2
        where
           product_id = #{productId}
    </update>

</mapper>
