<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiuyuan.dao.mapper.supplier.ShopExpressSupplierMapper">
	
	<select id="getExpressSupplierList"  parameterType="map"   resultType="com.yujj.entity.ExpressSupplier">
	<![CDATA[
		select * from yjj_ExpressSupplier where status = #{status}
		]]>
	</select>
	
	<select id="getExpressSupplierByEngName"  parameterType="map"   resultType="com.yujj.entity.ExpressSupplier">
	<![CDATA[
		select * from yjj_ExpressSupplier where EngName = #{engName}
		]]>
	</select>

</mapper>