<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuyuan.dao.mapper.supplier.SupplierChangeOrderPriceActionLogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jiuyuan.entity.newentity.SupplierChangeOrderPriceActionLog">
		<id column="id" property="id" />
		<result column="order_no" property="orderNo" />
		<result column="supplier_id" property="supplierId" />
		<result column="old_totalPay" property="oldTotalPay" />
		<result column="new_totalPay" property="newTotalPay" />
		<result column="original_totalPay" property="originalTotalPay" />
		<result column="ip" property="ip" />
		<result column="action_time" property="actionTime" />
		<result column="action_name" property="actionName" />
	</resultMap>

</mapper>
