<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.jiuy.rb.mapper.coupon.ShareCoinsRuleMapper"> 
 
 	<!-- 主要的返回映射-->
	<resultMap id="BaseResultMap" type="com.jiuy.rb.model.coupon.ShareCoinsRule"	>
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="type"  property="type"  jdbcType="INTEGER" />
		<result column="status"  property="status"  jdbcType="INTEGER" />
		<result column="count"  property="count"  jdbcType="BIGINT" />
		<result column="count_type"  property="countType"  jdbcType="INTEGER" />
		<result column="proportion"  property="proportion"  jdbcType="DECIMAL" />
		<result column="deadline"  property="deadline"  jdbcType="TIMESTAMP" />
		<result column="description"  property="description"  jdbcType="BLOB" />
		<result column="create_time"  property="createTime"  jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- 所有的列名-->
	<sql id="Base_Column_List" >
		id,type,status,count,count_type,proportion,deadline,description,create_time
	</sql>

	<!-- 精确更新的字段-->
	<sql id="updateBase">
		<if test="id  !=null">
			id = #{id,jdbcType=BIGINT}, 
		</if>
		<if test="type  !=null">
			type = #{type,jdbcType=INTEGER}, 
		</if>
		<if test="status  !=null">
			status = #{status,jdbcType=INTEGER}, 
		</if>
		<if test="count  !=null">
			count = #{count,jdbcType=BIGINT}, 
		</if>
		<if test="countType  !=null">
			count_type = #{countType,jdbcType=INTEGER}, 
		</if>
		<if test="proportion  !=null">
			proportion = #{proportion,jdbcType=DECIMAL}, 
		</if>
		<if test="deadline  !=null">
			deadline = #{deadline,jdbcType=TIMESTAMP}, 
		</if>
		<if test="description  !=null">
			description = #{description,jdbcType=BLOB}, 
		</if>
		<if test="createTime  !=null">
			create_time = #{createTime,jdbcType=TIMESTAMP} 
		</if>
	</sql>

	<!-- 通过主键查找-->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
		select 
		<include refid="Base_Column_List" />
		from yjj_share_coins_rule
		where  id = #{id,jdbcType=BIGINT} 
	</select>

	<!-- 通过主键删除-->
	<delete id="deleteByPrimaryKey" parameterType="Long" >
		delete from yjj_share_coins_rule
		where id = #{id,jdbcType=BIGINT} 
	</delete>

	<!-- 普通插入全字段插t入-->
	<insert id="insert" parameterType="com.jiuy.rb.model.coupon.ShareCoinsRule" >
		insert into yjj_share_coins_rule
		(
			id,
			type,
			status,
			count,
			count_type,
			proportion,
			deadline,
			description,
			create_time
		)
		values
		(
			#{id ,jdbcType=BIGINT},
			#{type ,jdbcType=INTEGER},
			#{status ,jdbcType=INTEGER},
			#{count ,jdbcType=BIGINT},
			#{countType ,jdbcType=INTEGER},
			#{proportion ,jdbcType=DECIMAL},
			#{deadline ,jdbcType=TIMESTAMP},
			#{description ,jdbcType=BLOB},
			#{createTime ,jdbcType=TIMESTAMP}
		)
	</insert>

	<!-- 批量插入，全部字段插入-->
	<insert id="insertBach"   parameterType="List" >
		insert into yjj_share_coins_rule
		(
			id,
			type,
			status,
			count,
			count_type,
			proportion,
			deadline,
			description,
			create_time
		)
		values 
		<foreach collection="list" item="item" separator=",">
		(
			#{item.id ,jdbcType=BIGINT},
			#{item.type ,jdbcType=INTEGER},
			#{item.status ,jdbcType=INTEGER},
			#{item.count ,jdbcType=BIGINT},
			#{item.countType ,jdbcType=INTEGER},
			#{item.proportion ,jdbcType=DECIMAL},
			#{item.deadline ,jdbcType=TIMESTAMP},
			#{item.description ,jdbcType=BLOB},
			#{item.createTime ,jdbcType=TIMESTAMP}
		)
		</foreach>
	</insert>

	<!-- 精确插入，非null得字段才会插入-->
	<insert id="insertSelective" parameterType="com.jiuy.rb.model.coupon.ShareCoinsRule" useGeneratedKeys="true" keyProperty="id" >
		insert into yjj_share_coins_rule
		<trim prefix="(" suffix=")" suffixOverrides="," > 
			<if test="id !=null">  
				id,
			</if>
			<if test="type !=null">  
				type,
			</if>
			<if test="status !=null">  
				status,
			</if>
			<if test="count !=null">  
				count,
			</if>
			<if test="countType !=null">  
				count_type,
			</if>
			<if test="proportion !=null">  
				proportion,
			</if>
			<if test="deadline !=null">  
				deadline,
			</if>
			<if test="description !=null">  
				description,
			</if>
			<if test="createTime !=null">  
				create_time,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id  !=null">
				#{id,jdbcType=BIGINT}, 
			</if>
			<if test="type  !=null">
				#{type,jdbcType=INTEGER}, 
			</if>
			<if test="status  !=null">
				#{status,jdbcType=INTEGER}, 
			</if>
			<if test="count  !=null">
				#{count,jdbcType=BIGINT}, 
			</if>
			<if test="countType  !=null">
				#{countType,jdbcType=INTEGER}, 
			</if>
			<if test="proportion  !=null">
				#{proportion,jdbcType=DECIMAL}, 
			</if>
			<if test="deadline  !=null">
				#{deadline,jdbcType=TIMESTAMP}, 
			</if>
			<if test="description  !=null">
				#{description,jdbcType=BLOB}, 
			</if>
			<if test="createTime  !=null">
				#{createTime,jdbcType=TIMESTAMP} 
			</if>
		</trim>
	</insert> 

	<!-- 精确更新-->
	<update id="updateByPrimaryKeySelective" parameterType="com.jiuy.rb.model.coupon.ShareCoinsRule" >
		update yjj_share_coins_rule
		<set>
			<include refid="updateBase"/>
		</set>
		where id = #{id,jdbcType=BIGINT} 
	</update> 

	<!-- 全字段更新 需要注意-->
	<update id="updateByPrimaryKey" parameterType="com.jiuy.rb.model.coupon.ShareCoinsRule" >
		update yjj_share_coins_rule
		set 
			id = #{id ,jdbcType=BIGINT},
			type = #{type ,jdbcType=INTEGER},
			status = #{status ,jdbcType=INTEGER},
			count = #{count ,jdbcType=BIGINT},
			count_type = #{countType ,jdbcType=INTEGER},
			proportion = #{proportion ,jdbcType=DECIMAL},
			deadline = #{deadline ,jdbcType=TIMESTAMP},
			description = #{description ,jdbcType=BLOB},
			create_time = #{createTime ,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT} 
	</update> 

	<!-- 所有的条件集合-->
	<sql id="whereCase"  >
		where  1=1 
		<if test="id  !=null">
			AND id = #{id,jdbcType=BIGINT} 
		</if>
		<if test="type  !=null">
			AND type = #{type,jdbcType=INTEGER} 
		</if>
		<if test="status  !=null">
			AND status = #{status,jdbcType=INTEGER} 
		</if>
		<if test="count  !=null">
			AND count = #{count,jdbcType=BIGINT} 
		</if>
		<if test="countType  !=null">
			AND count_type = #{countType,jdbcType=INTEGER} 
		</if>
		<if test="proportion  !=null">
			AND proportion = #{proportion,jdbcType=DECIMAL} 
		</if>
		<if test="deadline  !=null">
			AND deadline = #{deadline,jdbcType=TIMESTAMP} 
		</if>
		<if test="description  !=null">
			AND description = #{description,jdbcType=BLOB} 
		</if>
		<if test="createTime  !=null">
			AND create_time = #{createTime,jdbcType=TIMESTAMP} 
		</if>
		<include refid="costomWhereCase"/>
	</sql>

	<!-- 查询一条，如果返回多条会报错-->
	<select id="selectOne" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" /> 
		FROM yjj_share_coins_rule 
		<include refid="whereCase" /> 
	</select>

	<!-- 查询一个list-->
	<select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" /> 
		FROM yjj_share_coins_rule 
		<include refid="whereCase" /> 
	</select>

	<!-- 查询一个list-->
	<select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT
		count(1) 
		FROM yjj_share_coins_rule
		<include refid="whereCase" /> 
	</select>

	<!--  @Costom -->
	<!-- 从上一行注释以上为系统生成 从这一行往下为用户自定义 请将自定义的sql放在此行下面 -->
	<sql id="costomWhereCase">
	</sql>

</mapper>
