<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="pc/common::header-common-seo"></div>
    <link rel="stylesheet" href="/css/aboutCompany.css">
</head>
<body>
    <div th:include="pc/common::#nav-common"></div>
    <div class="about-head"></div>
    <!-- 公司介绍 -->
    <div class="wd1200 about-section01">
        <div class="public-title">
            <h2 class="title">公司介绍</h2>
            <div class="sub-title">
                <span class="line"></span>
                <span class="name">COMPANY PROFILE</span>
                <span class="line"></span>
            </div>
        </div>
        <div class="about-mod01">
            <dl class="about-content">
                <dt>中国服装行业S2B互联网模式</dt>
                <dd>
                    <p>杭州玖远网络科技有限公司旗下产品俞姐姐门店宝，成立于2015年4月，在“服装+电商”行业中，践行S2B模式(Supplier/Service to business)， 将服务(服装采购批发+智能门店服务)与受众(女装实体门店)精准匹配锁定， 使服装门店提升综合竞争力。</p>
                    <p>初创时引入天使投资，估值3300万元；经过一年市场业务拓展和项目价值提升，于2016年4月估值破亿元。自16年10月起，启动实体零售店合作推广计划，开始全面布局“俞姐姐新零售”服装行业版图。在2017年2月，公司加入“智能门店”产品服务链，项目价值急剧提升。</p>
                    <p>自此，公司助力线下服装实体门店转型升级，取得良好的市场效果。同时，公司致力成为全国的服装实体门店服务商，及服装垂直领域S2B模式的行业标杆。</p>
                </dd>
            </dl>
            <img class="about-img1" src="/images/about/about-01.jpg" alt="俞姐姐门店宝">
        </div>
    </div>
    <!-- 所获荣誉 -->
    <div class="about-section02">
        <div class="public-title">
            <h2 class="title">所获荣誉</h2>
            <div class="sub-title">
                <span class="line"></span>
                <span class="name">HONORS</span>
                <span class="line"></span>
            </div>
        </div>
        <div class="wd1200 about-mod02">
            <ul>
                <li>
                    <img src="/images/about/honers-01.png" alt="浙江十大创新女杰企业">
                    <p>浙江十大创新女杰企业</p>
                </li>
                <li>
                    <img src="/images/about/honers-02.png" alt="浙商创新女杰百强企业">
                    <p>浙商创新女杰百强企业</p>
                </li>
                <li>
                    <img src="/images/about/honers-03.png" alt="2017年雏鹰计划企业">
                    <p>2017年雏鹰计划企业</p>
                </li>
                <li>
                    <img src="/images/about/honers-04.png" alt="浙江省区域经济合作企业发展促进会理事单位">
                    <p>浙江省区域经济合作企业发展促进会理事单位</p>
                </li>
            </ul>
        </div>
    </div>
    <!-- 创始人介绍 -->
    <div class="about-section03">
        <div class="public-title">
            <h2 class="title">创始人介绍</h2>
            <div class="sub-title">
                <span class="line"></span>
                <span class="name">FOUNDER</span>
                <span class="line"></span>
            </div>
        </div>
        <div class="wd1200 about-mod03">
            <img class="founder-img" src="/images/about/founder.jpg">
            <div class="founder-mod">
                <div class="title">
                    <p class="first">创始人</p>
                    <p>Founder and CEO</p>
                </div>
                <dl class="explain-01">
                    <dt>俞艺禾</dt>
                    <dd>浙商女杰全国理事会执行会长</dd>
                    <dd>杭州玖远网络科技有限公司董事长</dd>
                </dl>
                <div class="explain-02">
                    <p class="first">1: 曾创立杰茜服饰／极宠等品牌，并带领电商团队创立森霸 天猫旗舰店。</p>
                    <p>2: 曾获得“浙江省创新女杰十强”等荣誉。</p>
                </div>
                <dl class="explain-03">
                    <dt>媒体报道</dt>
                    <dd>1：杭州日报：俞姐姐门店宝，重构服装产业生态  </dd>
                    <dd>2：市场导报封面人物：俞艺禾 | 纪念改革开放40周年，浙商创业榜样 </dd>
                    <dd>3：凤凰网：女装行业领跑者，“俞姐姐门店宝“ 开启服装S2B创新模式</dd>
                    <dd>4：其他新闻/媒体报道</dd>
                </dl>
            </div>
        </div>
    </div>
    <!-- 企业文化 -->
    <div class="about-section04">
        <div class="public-title">
            <h2 class="title">企业文化</h2>
            <div class="sub-title">
                <span class="line"></span>
                <span class="name">CORPORATE CULTURE</span>
                <span class="line"></span>
            </div>
        </div>
        <div class="wd1200">
            <dl class="mod-01">
                <dt>管理理念</dt>
                <dd>
                    构建员工职业发展体系，专业领域／时尚导向等专业方向培训，使员工劳有所获，与公司同步成长。丰富员工工作精神体系，从工作环境／激励制度／信任尊重等多方面为员工创造最适合的发展环境，获得成就感和满足感的双重享受。
                </dd>
            </dl>
            <img class="mod01-img" src="/images/about/about-02.jpg" alt="管理理念">
            <div class="mod-02">
                <img class="mod02-img" src="/images/about/about-03.jpg" alt="公司价值观">
                <dl>
                    <dt>公司价值观</dt>
                    <dd>客户第一／时尚活力／诚信正直／合作共赢</dd>
                    <dd><img src="/images/about/about-04.jpg" alt="公司价值观"></dd>
                </dl>
            </div>
        </div>
    </div>
    <!-- 人才计划 -->
    <div class="wd1200 about-section05">
        <dl class="mod-title">
            <dt>人才计划</dt>
            <dd>吸引适合的人才，培养、激励并留住人才，储备和发展人才</dd>
        </dl>
        <div class="section05-box">
            <div class="bg"></div>
            <dl class="mod-box mod-01">
                <dt>完善的人才挑选及储备机制</dt>
                <dd>1.1；按需引进</dd>
                <dd>1.2；适才适用人才测评</dd>
                <dd>1.3；人才盘点提升</dd>
                <dd>1.4；储备人才的联络沟通</dd>
            </dl>
            <dl class="mod-box mod-02">
                <dt>激励性的人才管理机制</dt>
                <dd>1.1；客观的衡量工具</dd>
                <dd>1.2；科学的管理流程</dd>
                <dd>1.3；自上而下的监督机制</dd>
                <dd>1.4；公平的绩效评估</dd>
            </dl>
            <dl class="mod-box mod-03">
                <dt>透明的晋升机制</dt>
                <dd>1.1；明确的晋升标准</dd>
                <dd>1.2；公开的晋升流程</dd>
                <dd>1.3；完善的晋升制度</dd>
            </dl>
            <dl class="mod-box mod-04">
                <dt>用心的留人机制</dt>
                <dd>1.1；留人要留心</dd>
                <dd>1.2；以“利”留人</dd>
                <dd>1.3；以“事”留人</dd>
            </dl>
            <dl class="mod-box mod-05">
                <dt>赋能的培养体系</dt>
                <dd>1.1；入职培训指导</dd>
                <dd>1.2；本岗学习提升</dd>
                <dd>1.3；跨岗知识的学习</dd>
                <dd>1.4；委外培训机会</dd>
            </dl>
        </div>
        <div class="section05-img">
            <img class="big" src="/images/about/about-05.jpg" alt="人才计划">
            <div class="img-list">
               <img class="small" src="/images/about/about-06.jpg" alt="人才计划">
               <img class="small" src="/images/about/about-07.jpg" alt="人才计划">
               <img class="small" src="/images/about/about-08.jpg" alt="人才计划">
               <img class="small" src="/images/about/about-09.jpg" alt="人才计划"> 
            </div>
        </div>
    </div>
    <!-- 底部 -->
	<div th:replace="pc/common::#foot-common"></div>
</body>
</html>
