<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="pc/common::header-common-seo"></div>
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/index.css?v20180811">

</head>
<body>
    <div th:include="pc/common::#nav-common"></div>
    <div class="swiper-container banner-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/images/index/banner01.jpg" alt="俞姐姐门店宝"></div>
<!--             <div class="swiper-slide"><img src="/images/index/banner02.jpg" alt="俞姐姐门店宝"></div>
            <div class="swiper-slide"><img src="/images/index/banner03.jpg" alt="俞姐姐门店宝"></div>
            <div class="swiper-slide"><img src="/images/index/banner04.jpg" alt="俞姐姐门店宝"></div> -->
        </div>
    </div>
    <div class="ui-notice">
        <dl class="wd1200">
            <dt class="ft-red">最新公告</dt>
            <dd class="first"><a href="https://mp.weixin.qq.com/s/FzpK6udQQSHBAtM2LhGLWA">俞艺禾荣获"浙商创业榜样"</a></dd>
            <dd><a href="https://mp.weixin.qq.com/s/0ejIAf3ZLBOyBV_6oiSaZw">玖远荣获2017“雏鹰计划”企业</a></dd>
            <dd><a href="https://mp.weixin.qq.com/s/vvtjjgLl4wl6RL1EZYDVOQ">智能门店:重构服装产业生态</a></dd>
        </dl>
    </div>
    <div class="wd1200 ui-section01">
        <div class="section-title">
            <h2 class="title">服装新零售 <span>|</span> 让服装生意不再难做</h2>
            <p class="sub-title">优质进货／运营无忧／高效卖货，一站式运营解决方案</p>
        </div>
        <div class="section01">
            <img class="mod-img" src="/images/index/section01-img.png" align="服装新零售让服装生意不再难做">
            <div class="mod-text">
                <h3 class="title">优质进货+运营无忧+高效卖货</h3>
                <p class="content">针对行业市场痛点，公司打造“俞姐姐智能门店”首创【新零售全域运营手段】，逐一击破“进货难”“卖货难”“运营难”等市场难题，形成“优质进货+运营无忧+高效卖货”的服务闭环。致力于为女装B端客户提供一站式运营解决方案，同时为女装行业带来全新的新零售模式升级。</p>
            </div>
        </div>
    </div>
    <div class="ui-section02">
        <div class="section-title">
            <h2 class="title">本地化全方位服务</h2>
            <p class="sub-title">超千人专业地面服务团队，覆盖全国下至区县的服务范围，提供切实有效的服务支持。</p>
        </div>
    </div>
    <div class="ui-section03">
        <p class="text-1">为全球<span class="counter">6,892,567</span>商户</p>
        <p class="text-2">提供7 × 24小时全天候服务支持</p>
        <p class="text-3">疑问解答／售前咨询／售后服务／一对一专属，更贴心更及时</p>
    </div>
    <div class="ui-section04">
        <h3 class="title">500+品牌客户的合作</h3>
        <div class="wd1200 swiper-container brand-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul class="brand-list">
                        <li><img src="/images/brand/brand1.png" alt=""></li>
                        <li><img src="/images/brand/brand2.png" alt=""></li>
                        <li><img src="/images/brand/brand3.png" alt=""></li>
                        <li><img src="/images/brand/brand4.png" alt=""></li>
                        <li><img src="/images/brand/brand5.png" alt=""></li>
                        <li><img src="/images/brand/brand6.png" alt=""></li>
                        <li><img src="/images/brand/brand7.png" alt=""></li>
                        <li><img src="/images/brand/brand8.png" alt=""></li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="brand-list">
                        <li><img src="/images/brand/brand9.png" alt=""></li>
                        <li><img src="/images/brand/brand10.png" alt=""></li>
                        <li><img src="/images/brand/brand11.png" alt=""></li>
                        <li><img src="/images/brand/brand12.png" alt=""></li>
                        <li><img src="/images/brand/brand13.png" alt=""></li>
                        <li><img src="/images/brand/brand14.png" alt=""></li>
                        <li><img src="/images/brand/brand15.png" alt=""></li>
                        <li><img src="/images/brand/brand16.png" alt=""></li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="brand-list">
                        <li><img src="/images/brand/brand17.png" alt=""></li>
                        <li><img src="/images/brand/brand18.png" alt=""></li>
                        <li><img src="/images/brand/brand19.png" alt=""></li>
                        <li><img src="/images/brand/brand20.png" alt=""></li>
                        <li><img src="/images/brand/brand21.png" alt=""></li>
                        <li><img src="/images/brand/brand22.png" alt=""></li>
                        <li><img src="/images/brand/brand23.png" alt=""></li>
                        <li><img src="/images/brand/brand24.png" alt=""></li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="brand-list">
                        <li><img src="/images/brand/brand25.png" alt=""></li>
                        <li><img src="/images/brand/brand26.png" alt=""></li>
                        <li><img src="/images/brand/brand27.png" alt=""></li>
                        <li><img src="/images/brand/brand28.png" alt=""></li>
                        <li><img src="/images/brand/brand29.png" alt=""></li>
                        <li><img src="/images/brand/brand30.png" alt=""></li>
                        <li><img src="/images/brand/brand31.png" alt=""></li>
                        <li><img src="/images/brand/brand32.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 新闻中心 -->
    <div class="wd1200 ui-section05">
        <div class="public-title">
            <h2 class="title">新闻中心</h2>
            <div class="sub-title">
                <span class="line"></span>
                <span class="name">NEWS CENTER</span>
                <span class="line"></span>
            </div>
        </div>
        <div class="new-list">
            <article class="item" th:each="article:${articles.rows}">
                <div class="time">
                    <div class="date" th:text="${#dates.format(article.createTime,'MM-dd')}"></div>
                    <div class="year" th:text="${#dates.format(article.createTime,'yyyy')}"></div>
                </div>
                <div class="info">
                    <a class="link" th:href="@{'/articleDetail/'+${article.id}+'.html'}" target="_blank">
                        <h3 class="new-title" th:text="${article.title}"></h3>
                        <p class="summary" th:text="${article.abstracts}"></p>
                    </a>
                </div>
                <a th:href="@{'/articleDetail/'+${article.id}+'.html'}" target="_blank">
                    <img class="thumb" th:src="${article.previewImageUrl}" th:alt="${article.title}">
                </a>
            </article>
        </div>
        <a class="all-article" href="/news/list1.html">查看全部</a>
    </div>
    <!-- 底部 -->
    <div th:replace="pc/common::#foot-common"></div>
    <script type="text/javascript" src="js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="js/jquery.countup.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script src="js/index.js?v20180810"></script>
</body>
</html>
