<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuai.company.store.mapper.CommodityMapper">

    <resultMap id="CommodityResult" type="Commodity">
        <result column="id" property="id" jdbcType="INTEGER" javaType="Integer"/>
        <result column="uuid" property="uid" jdbcType="VARCHAR" javaType="String"/>
        <result column="combo_id" property="comboId" jdbcType="VARCHAR" javaType="String"/>
        <result column="name" property="name" jdbcType="VARCHAR" javaType="String"/>
        <result column="size" property="size" jdbcType="INTEGER" javaType="Integer"/>
        <result column="price" property="price" jdbcType="DOUBLE" javaType="Double"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="deleted" property="deleted" jdbcType="TINYINT" javaType="Integer"/>
    </resultMap>


    <cache flushInterval="40000" eviction="FIFO"/>
   <select id="comboDetails" resultMap="CommodityResult">
       SELECT * FROM t_commodity WHERE combo_id=#{uid}
   </select>
</mapper>