<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finace.miscroservice.activity.mapper.CreditLogMapper">

    <resultMap id="BaseCreditLogResult" type="com.finace.miscroservice.activity.po.CreditLogPO" >
        <result property="id" column="id"/>
        <result column="user_id" property="user_id" />
        <result column="type_id" property="type_id" />
        <result column="op" property="op" />
        <result property="value" column="value"/>
        <result column="addtime" property="addtime" />
        <result column="addip" property="addip" />
        <result column="op_user" property="op_user" />
        <result column="total" property="total" />
        <result column="remark" property="remark" />
        <result column="activity_id" property="activity_id" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 新增金豆日志 -->
    <insert id="saveCreditLog" parameterType="com.finace.miscroservice.activity.po.CreditLogPO">
        insert into credit_log(user_id,type_id,op,`value`,remark,op_user,addtime,addip,total,activity_id,`status`)
        values(#{user_id},#{type_id},#{op},#{value},#{remark},#{op_user},#{addtime},#{addip},#{total},#{activity_id},#{status})
    </insert>

    <!-- 获取金豆日志分页信息 -->
    <select id="getCreditLogByUserId" parameterType="String" resultType="com.finace.miscroservice.activity.po.CreditLogPO">
        SELECT * FROM credit_log WHERE USER_ID=#{userId} ORDER BY id DESC
    </select>

    <select id="getCreditLogSizeByUserId" resultType="java.lang.Integer">
        SELECT count(id) FROM credit_log WHERE USER_ID=#{userId}
    </select>









</mapper>











