<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e_commerce.miscroservice.operate.mapper.ShopMemberAccountCashOutInMapper">


    <select id="listDetail" parameterType="java.util.Map" resultType="Map" >
        SELECT
        outIn.id,
        store.BusinessName AS businessName,
        outIn.user_dstb_grade AS userDstbGrade,
        member.user_nickname AS userNickName,
        member.id AS memberId,
        outIn.in_out_type AS inOutType,
        outIn.oper_cash AS cash,
        outIn.oper_gold_coin AS goldCoin,
        outIn.type,
        outIn.order_no AS orderNo,
        outIn.create_time AS createTime,
        outIn.`status` AS `status`,
        IFNULL(outIn.oper_time, 0) AS operTime,
        IFNULL(record.order_success_time, 0) AS orderSuccessTime,
        IFNULL(record.pay_time, 0) AS payTime
        FROM
        shop_member_account_cash_out_in outIn
        JOIN shop_member member ON outIn.user_id = member.id
        JOIN yjj_storebusiness store ON member.store_id = store.Id
        LEFT JOIN shop_member_order_dstb_record record ON record.order_no = outIn.order_no
        WHERE
        outIn.del_status = 0
        <if test="queryCashOrGoldGoin != null and queryCashOrGoldGoin == 1">
            AND outIn.oper_cash &gt; 0
        </if>
        <if test="queryCashOrGoldGoin != null and queryCashOrGoldGoin == 2">
            AND outIn.oper_gold_coin &gt; 0
        </if>
        <if test="storeName != null and storeName !=''">
            AND store.BusinessName LIKE CONCAT('%',#{storeName},'%')
        </if>
        <if test="userId != null">
            AND outIn.user_id = #{userId}
        </if>
        <if test="userNickName != null and userNickName != ''">
            AND member.user_nickname LIKE CONCAT('%',#{userNickName},'%')
        </if>
        <if test="userDstbRoleType != null">
            AND outIn.user_dstb_grade = #{userDstbRoleType}
        </if>
        <if test="inOutType != null">
            AND outIn.in_out_type = #{inOutType}
        </if>
        <if test="types != null">
            AND outIn.type IN
            <foreach collection="types" item="type" open="(" separator="," close=")">
            #{type}
            </foreach>
        </if>
        <if test="status != null">
            AND outIn.`status` = #{status}
        </if>
        <if test="createTimeCeil != null and createTimeCeil != ''">
            AND record.pay_time &lt;= #{createTimeCeil}
        </if>
        <if test="createTimeFloor != null and createTimeFloor != ''">
            AND record.pay_time &gt;= #{createTimeFloor}
        </if>
        <if test="operTimeFloor != null and operTimeFloor != ''">
            AND outIn.oper_time &gt;= #{operTimeFloor}
        </if>
        <if test="operTimeCeil != null and operTimeCeil != ''">
            AND outIn.oper_time &lt;= #{operTimeCeil}
        </if>

        ORDER BY record.pay_time DESC

    </select>




    <select id="listOrderEarnings" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        outIn.id AS id,
        outIn.order_earnings_snapshoot AS orderEarningsSnapShoot,
        outIn.user_id AS userId,
        member.user_nickname AS userName,
        outIn.type AS `type`,
        -- 返佣比例
        outIn.earnings_ratio AS earningsRatio,
        outIn.oper_cash AS earningsCash,
        outIn.`status` AS `status`,
        outIn.oper_gold_coin AS earningsGoldCoin,
        -- 收益金币比例
        outIn.currency_ratio AS currencyRatio,
        IFNULL(rec.pay_time, 0) AS orderPayTime,
        IFNULL(rec.order_success_time, 0) AS orderSuccessTime,
        IFNULL(outIn.oper_time, 0) AS operTime,
        -- 应收现金
        IFNULL(oldOutIn.oper_cash,-1) as shouldInCash,
        -- 应收金币
        IFNULL(oldOutIn.oper_gold_coin,-1) as shouldInGoldCoin

        FROM
        shop_member_order_dstb_record rec
        JOIN shop_member_account_cash_out_in outIn ON outIn.order_no = rec.order_no
        JOIN shop_member member ON member.id = outIn.user_id
        LEFT JOIN shop_member_account_cash_out_in oldOutIn ON oldOutIn.id = outIn.source_id AND oldOutIn.del_status = 2
        WHERE
        outIn.del_status = 0
        AND outIn.in_out_type = 1
        AND outIn.order_no = #{orderNo}
        <if test="userName != null and userName !=''">
          AND member.user_nickname LIKE CONCAT('%',#{userName},'%')
        </if>
        <if test="userMemberId != null">
          AND outIn.user_id = #{userMemberId}
        </if>
        <if test="id != null">
          AND outIn.id = #{id}
        </if>
        <if test="status != null">
          AND outIn.`status` = #{status}
        </if>
        <if test="type != null">
          AND outIn.type = #{type}
        </if>
        <if test="operCashCeil != null">
          AND outIn.oper_cash &lt; #{operCashCeil}
        </if>
        <if test="operCashFloor != null">
          AND outIn.oper_cash &gt; #{operCashFloor}
        </if>
        <if test="operGoldCoinCeil != null">
          AND outIn.oper_gold_coin &lt; #{operGoldCoinCeil}
        </if>
        <if test="operGoldCoinFloor != null">
          AND outIn.oper_gold_coin &gt; #{operGoldCoinFloor}
        </if>

        ORDER BY outIn.user_dstb_grade DESC
    </select>

    
    <select id="findUsersByQuery" resultType="com.e_commerce.miscroservice.commons.entity.distribution.ShopMemAcctCashOutInQuery"
            parameterType="java.util.Map">
        SELECT *
        FROM (
            SELECT
            dstb.user_id AS userId,
            member.user_nickname AS userName,
            dstb.grade AS userMemberGrade,
            store.BusinessName AS storeName,
            IFNULL(SUM(outIn.oper_cash), 0) AS earningsCash,
            IFNULL(SUM(outIn.oper_gold_coin), 0) AS earningsGoldCoin
            FROM
            yjj_distribution_system dstb
            LEFT JOIN shop_member_account_cash_out_in outIn ON dstb.user_id = outIn.user_id
            AND outIn.type IN (0, 1, 2, 10, 11) -- 已结算
            AND outIn.in_out_type = 1
            AND outIn.`status` = 2
            AND outIn.del_status = 0
            LEFT JOIN shop_member member ON member.id = dstb.user_id
            LEFT JOIN yjj_storebusiness store ON store.Id = member.store_id
            LEFT JOIN shop_member_order_dstb_record rec ON rec.order_no = outIn.order_no
            WHERE
            1 = 1
            <if test="payTimeFloor != null">
                AND rec.pay_time &gt; #{payTimeFloor}
            </if>
            <if test="payTimeCeil != null">
                AND rec.pay_time &lt; #{payTimeCeil}
            </if>
            <if test="storeName != null and storeName !=''">
                AND store.BusinessName LIKE CONCAT('%', #{storeName}, '%')
            </if>
            <if test="userId != null">
                AND dstb.user_id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                AND member.user_nickname LIKE CONCAT('%', #{userName}, '%')
            </if>
            GROUP BY
            dstb.user_id
        ) AS temp
        WHERE 1=1
        <if test="operCashFloor != null">
            AND temp.earningsCash &gt; #{operCashFloor}
        </if>
        <if test="operCashCeil != null">
            AND temp.earningsCash &lt; #{operCashCeil}
        </if>
        <if test="operGoldCoinFloor != null">
            AND temp.earningsGoldCoin &gt; #{operGoldCoinFloor}
        </if>
        <if test="operGoldCoinCeil != null">
            AND temp.earningsGoldCoin &lt; #{operGoldCoinCeil}
        </if>
        ORDER BY temp.earningsCash DESC
    </select>




    <select id="findUserIdsByQuery" resultType="long" parameterType="java.util.Map">
        SELECT temp.userId
        FROM (
            SELECT
                dstb.user_id AS userId,
                IFNULL(SUM(outIn.oper_cash), 0) AS earningsCash,
                IFNULL(SUM(outIn.oper_gold_coin), 0) AS earningsGoldCoin
            FROM
            yjj_distribution_system dstb
            LEFT JOIN shop_member_account_cash_out_in outIn ON dstb.user_id = outIn.user_id
                AND outIn.type IN (0, 1, 2, 10, 11) -- 已结算
                AND outIn.in_out_type = 1
                AND outIn.`status` = 2
                AND outIn.del_status = 0
            LEFT JOIN shop_member member ON member.id = dstb.user_id
            LEFT JOIN yjj_storebusiness store ON store.Id = member.store_id
            LEFT JOIN shop_member_order_dstb_record rec ON rec.order_no = outIn.order_no
            WHERE
              1 = 1
            <if test="payTimeFloor != null">
                AND rec.pay_time &gt; #{payTimeFloor}
            </if>
            <if test="payTimeCeil != null">
                AND rec.pay_time &lt; #{payTimeCeil}
            </if>
            <if test="storeName != null and storeName !=''">
                AND store.BusinessName LIKE CONCAT('%', #{storeName}, '%')
            </if>
            <if test="userId != null">
                AND dstb.user_id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                AND member.user_nickname LIKE CONCAT('%', #{userName}, '%')
            </if>
            GROUP BY
            dstb.user_id
        ) AS temp
        WHERE 1=1
        <if test="operCashFloor != null">
            AND temp.earningsCash &gt; #{operCashFloor}
        </if>
        <if test="operCashCeil != null">
            AND temp.earningsCash &lt; #{operCashCeil}
        </if>
        <if test="operGoldCoinFloor != null">
            AND temp.earningsGoldCoin &gt; #{operGoldCoinFloor}
        </if>
        <if test="operGoldCoinCeil != null">
            AND temp.earningsGoldCoin &lt; #{operGoldCoinCeil}
        </if>
    </select>





    <select id="findOrderTotalCountAndMoneyByUserIds" resultType="java.util.Map">
        SELECT
            temp.user_id AS userId, COUNT(temp.order_no) AS orderCount, IFNULL(SUM(temp.order_money),0) AS orderDealMoney
        FROM
            (
                -- 用户-订单号分组表
                SELECT
                    user_id,
                    rec.order_no,
                    rec.order_money
                FROM
                    shop_member_account_cash_out_in outIn
                JOIN shop_member_order_dstb_record rec ON outIn.order_no = rec.order_no
                WHERE
                    outIn.`status` = 2
                    AND outIn.in_out_type = 1
                    AND rec.order_success_time > 0
                    AND outIn.del_status = 0
                    AND outIn.user_id IN
                    <foreach collection="userIds" item="uid" open="(" separator="," close=")">
                      #{uid}
                    </foreach>
                GROUP BY
                    outIn.user_id,
                    rec.order_no
            ) AS temp
        GROUP BY temp.user_id

    </select>




    <select id="findDstbTotalEarningsByUserIds" resultType="java.util.Map">
        SELECT
        temp.userId AS userId,
        IFNULL(SUM(temp.commissionCash),0) AS totalCommissionCash,
        IFNULL(SUM(temp.commissionGoldCoin),0) AS totalCommissionGoldCoin,
        IFNULL(SUM(temp.managerCash),0) AS totalManagerCash,
        IFNULL(SUM(temp.managerGoldCoin),0) AS totalManagerGoldCoin
        FROM (
            SELECT
                user_id AS userId,
                CASE WHEN type IN (0,1,2) THEN oper_cash ELSE 0 END AS commissionCash,
                CASE WHEN type IN (0,1,2) THEN oper_gold_coin ELSE 0 END AS commissionGoldCoin,
                CASE WHEN type IN (0,1,2) THEN 0 ELSE oper_cash END AS managerCash,
                CASE WHEN type IN (0,1,2) THEN 0 ELSE oper_gold_coin END AS managerGoldCoin
            FROM
                shop_member_account_cash_out_in outIn
            WHERE
                outIn.`status` = 2
            AND outIn.in_out_type = 1
            AND outIn.type IN (0,1,2,10,11)
            AND outIn.del_status = 0
            AND outIn.user_id IN 
            <foreach collection="userIds" item="uId" open="(" separator="," close=")">
                #{uId}
            </foreach>
        ) AS temp
        GROUP BY temp.userId
    </select>

    
    
    
    <select id="countOrderTotalCountAndMoneyByUserIds" resultType="java.util.Map">
        SELECT
        COUNT(temp.order_no) AS orderCount, IFNULL(SUM(temp.order_money), 0) AS orderTotalMoney
        FROM
        (
        SELECT
        rec.order_no,
        rec.order_money
        FROM
        shop_member_account_cash_out_in outIn
        JOIN shop_member_order_dstb_record rec ON outIn.order_no = rec.order_no
        AND outIn.`status` = 2
        AND rec.order_success_time > 0
        AND outIn.in_out_type = 1
        AND outIn.type IN
        <foreach collection="typeList" item="type" open="(" separator="," close=")">
            #{type}
        </foreach>
        AND outIn.del_status = 0
        AND outIn.user_id IN
        <if test="justCash != null and justCash == 1">
            AND outIn.oper_cash > 0
        </if>
        <if test="justGoldCoin != null and justGoldCoin == 1">
            AND outIn.oper_gold_coin > 0
        </if>
        <foreach collection="userIds" item="uid" open="(" separator="," close=")">
          #{uid}
        </foreach>
        GROUP BY
        rec.order_no
        ) AS temp
    </select>




    <select id="sumDstbTotalEarningsByUserIds" resultType="java.util.Map">
        SELECT
        IFNULL(SUM(temp.commissionCash),0) AS totalCommissionCash,
        IFNULL(SUM(temp.commissionGoldCoin),0) AS totalCommissionGoldCoin,
        IFNULL(SUM(temp.managerCash),0) AS totalManagerCash,
        IFNULL(SUM(temp.managerGoldCoin),0) AS totalManagerGoldCoin
        FROM (
        SELECT
        user_id AS userId,
        CASE WHEN type IN (0,1,2) THEN oper_cash ELSE 0 END AS commissionCash,
        CASE WHEN type IN (0,1,2) THEN oper_gold_coin ELSE 0 END AS commissionGoldCoin,
        CASE WHEN type IN (0,1,2) THEN 0 ELSE oper_cash END AS managerCash,
        CASE WHEN type IN (0,1,2) THEN 0 ELSE oper_gold_coin END AS managerGoldCoin
        FROM
        shop_member_account_cash_out_in outIn
        WHERE
        outIn.`status` IN
        <foreach collection="statusList" item="stat" open="(" separator="," close=")">
            #{stat}
        </foreach>
        AND outIn.in_out_type = 1
        AND outIn.type IN (0,1,2,10,11)
        AND outIn.del_status = 0
        AND outIn.user_id IN
        <foreach collection="userIds" item="uId" open="(" separator="," close=")">
          #{uId}
        </foreach>
        ) AS temp
    </select>




    <select id="listOrderCommissionEarnings" resultType="map" parameterType="map">
        SELECT
        outIn.order_no AS orderNo,
        outIn.order_earnings_snapshoot AS orderEarningsSnapShoot,
        ord.pay_money AS payMoney,
        ord.member_id AS orderMemberId,
        member.user_nickname AS orderMemberUserName,
        dstb.grade AS orderMemberGrade,
        outIn.type as type,
        outIn.`status` AS `status`,
        outIn.earnings_ratio AS earningsRaio,
        outIn.currency_ratio AS currencyRatio,
        outIn.oper_cash AS operCash,
        IFNULL(loseOutIn.oper_cash,outIn.oper_cash) AS shouldInCash,
        outIn.oper_gold_coin AS operGoldCoin,
        IFNULL(loseOutIn.oper_gold_coin,outIn.oper_gold_coin) AS shouldInGoldCoin,
        ord.pay_time AS payTime,
        ord.order_finish_time AS orderSuccessTime,
        outIn.oper_time AS operTime
        FROM
        shop_member_account_cash_out_in outIn
        JOIN shop_member_order ord ON ord.order_number = outIn.order_no
        JOIN shop_member member ON member.id = ord.member_id
        LEFT JOIN yjj_distribution_system dstb ON dstb.user_id = ord.member_id
        LEFT JOIN shop_member_account_cash_out_in loseOutIn ON loseOutIn.id = outIn.source_id
        AND loseOutIn.del_status = 2
        WHERE
        outIn.user_id = #{userId}
        AND outIn.type IN (0, 1, 2)
        AND outIn.in_out_type = 1
        AND outIn.del_status = 0
        <if test="payTimeFloor != null and payTimeFloor !=''">
            AND ord.pay_time &gt; #{payTimeFloor}
        </if>
        <if test="payTimeCeil != null and payTimeCeil !=''">
            AND rec.pay_time &lt; #{payTimeCeil}
        </if>
        <if test="status != null">
            AND outIn.`status` = #{status}
        </if>
        <if test="userMemberId != null">
            AND ord.member_id = #{userMemberId}
        </if>
        <if test="userName != null and userName != ''">
            AND member.user_nickname LIKE CONCAT('%',#{userName},'%')
        </if>
        <if test="userMemberGrade != null">
            AND dstb.grade = #{userMemberGrade}
        </if>
        <if test="orderNo != null and orderNo != ''">
            AND outIn.order_no = #{orderNo}
        </if>
        <if test="type != null">
            AND outIn.type = #{type}
        </if>

        ORDER BY ord.pay_time DESC
    </select>




    <select id="listOrderManagerEarnings" resultType="map" parameterType="map">
        SELECT
        temp.orderNo,
        temp.orderMemberId,
        temp.userName,
        temp.memberUserGrade,
        temp.`status`,
        IFNULL(SUM(temp.dstbManagerEarningsSnapshoot), 0) AS dstbManagerEarningsSnapshoot,
        IFNULL(SUM(temp.partnerManagerEarningsSnapshoot), 0) AS partnerManagerEarningsSnapshoot,
        IFNULL(SUM(temp.dstbGoldCoin), 0) AS dstbGoldCoin,
        IFNULL(SUM(temp.dstbCash), 0) AS dstbCash,
        IFNULL(SUM(temp.partnerGoldCoin), 0) AS partnerGoldCoin,
        IFNULL(SUM(temp.partnerCash), 0) AS partnerCash,
        IFNULL(SUM(temp.dstbEarningsRatio), 0) AS dstbEarningsRatio,
        IFNULL(SUM(temp.partnerEarningsRatio), 0) AS partnerEarningsRatio,
        IFNULL(SUM(temp.dstbCurrencyRatio), 0) AS dstbCurrencyRatio,
        IFNULL(SUM(temp.partnerCurrencyRatio), 0) AS partnerCurrencyRatio,

        IFNULL(SUM(temp.dstbShouldInCash), 0) AS dstbShouldInCash,
        IFNULL(SUM(temp.dstbShouldInGoldCoin), 0) AS dstbShouldInGoldCoin,
        IFNULL(SUM(temp.partnerShouldInCash), 0) AS partnerShouldInCash,
        IFNULL(SUM(temp.partnerShouldInGoldCoin), 0) AS partnerShouldInGoldCoin,

        temp.operTime AS operTime,
        temp.orderPayTime AS orderPayTime,
        temp.orderSuccessTime AS orderSuccessTime
        FROM
        (
            SELECT
                outIn.id,
                outIn.order_no AS orderNo,
                ord.member_id AS orderMemberId,
                member.user_nickname AS userName,
                dstb.grade AS memberUserGrade,
                outIn.oper_time AS operTime,
                ord.pay_time AS orderPayTime,
                ord.order_finish_time AS orderSuccessTime,
                -- 分销商收益
                CASE outIn.type WHEN 10 THEN outIn.order_earnings_snapshoot ELSE 0 END AS dstbManagerEarningsSnapshoot,
                -- 合伙人收益
                CASE outIn.type WHEN 11 THEN outIn.order_earnings_snapshoot ELSE 0 END AS partnerManagerEarningsSnapshoot,
                outIn.`status` AS `status`,
                -- 分销商金币
                CASE outIn.type WHEN 10 THEN outIn.oper_gold_coin ELSE 0 END AS dstbGoldCoin,
                -- 分销商现金
                CASE outIn.type WHEN 10 THEN outIn.oper_cash ELSE 0 END AS dstbCash,
                -- 合伙人金币
                CASE outIn.type WHEN 11 THEN outIn.oper_gold_coin ELSE 0 END AS partnerGoldCoin,
                -- 合伙人现金
                CASE outIn.type WHEN 11 THEN outIn.oper_cash ELSE 0 END AS partnerCash,
                -- 分销商现金收益
                CASE outIn.type WHEN 10 THEN outIn.earnings_ratio ELSE 0 END AS dstbEarningsRatio,
                -- 合伙人现金收益
                CASE outIn.type WHEN 11 THEN outIn.earnings_ratio ELSE 0 END AS partnerEarningsRatio,
                -- 分销商金币比例
                CASE outIn.type WHEN 10 THEN outIn.currency_ratio ELSE 0 END AS dstbCurrencyRatio,
                -- 合伙人金币比例
                CASE outIn.type WHEN 11 THEN outIn.currency_ratio ELSE 0 END AS partnerCurrencyRatio,

                -- 应收分销商现金
                CASE WHEN outIn.type = 11 THEN 0
                WHEN outIn.type = 10 AND oldOutIn.oper_cash > 0 THEN oldOutIn.oper_cash
                ELSE outIn.oper_cash END AS dstbShouldInCash,
                -- 应收分销商金币
                CASE WHEN outIn.type = 11 THEN 0
                WHEN outIn.type = 10 AND oldOutIn.oper_gold_coin > 0 THEN oldOutIn.oper_gold_coin
                ELSE outIn.oper_gold_coin END AS dstbShouldInGoldCoin,
                -- 应收合伙人现金
                CASE WHEN outIn.type = 10 THEN 0
                WHEN outIn.type = 11 AND oldOutIn.oper_cash > 0 THEN oldOutIn.oper_cash
                ELSE outIn.oper_cash END AS partnerShouldInCash,
                -- 应收合伙人金币
                CASE WHEN outIn.type = 10 THEN 0
                WHEN outIn.type = 11 AND oldOutIn.oper_gold_coin > 0 THEN oldOutIn.oper_gold_coin
                ELSE outIn.oper_gold_coin END AS partnerShouldInGoldCoin

            FROM
              shop_member_account_cash_out_in outIn
            JOIN shop_member_order ord ON outIn.order_no = ord.order_number
            JOIN shop_member member ON member.id = ord.member_id
            LEFT JOIN yjj_distribution_system dstb ON dstb.user_id = ord.member_id
            LEFT JOIN shop_member_account_cash_out_in oldOutIn ON oldOutIn.id = outIn.source_id AND oldOutIn.`status` = 2
            WHERE
                outIn.user_id = #{userId}
                AND outIn.type IN (10, 11)
                AND outIn.in_out_type = 1
                AND outIn.del_status = 0
                <if test="payTimeFloor != null and payTimeFloor !=''">
                    AND ord.pay_time &gt; #{payTimeFloor}
                </if>
                <if test="payTimeCeil != null and payTimeCeil !=''">
                    AND rec.pay_time &lt; #{payTimeCeil}
                </if>
                <if test="status != null">
                  AND outIn.`status` = #{status}
                </if>
                <if test="userMemberId != null">
                    AND ord.member_id = #{userMemberId}
                </if>
                <if test="orderNo != null and orderNo != ''">
                  AND outIn.order_no = #{orderNo}
                </if>
            ) AS temp
        GROUP BY
        temp.orderNo

        ORDER BY temp.orderPayTime DESC
    </select>



    <select id="userOrderTotalCountAndMoney" resultType="map" parameterType="map">
        SELECT
        COUNT(temp.order_no) AS orderCount, IFNULL(SUM(temp.pay_money), 0) AS orderTotalMoney
        FROM (
        SELECT
        outIn.order_no, ord.pay_money
        FROM
        `shop_member_account_cash_out_in` outIn
        JOIN shop_member_order ord ON ord.order_number = outIn.order_no
        JOIN shop_member member ON member.id = ord.member_id
        LEFT JOIN yjj_distribution_system dstb ON dstb.user_id = ord.member_id
        WHERE outIn.del_status = 0
        -- 只统计已支付的,待结算的什么的都不管
        AND ord.pay_money > 0
        AND outIn.user_id = #{userId}

        <if test="payTimeFloor != null and payTimeFloor != ''">
          AND ord.pay_time &gt;
        </if>
        <if test="payTimeCeil != null and payTimeCeil != ''">
          AND ord.pay_time &lt; #{payTimeCeil}
        </if>
        <if test="userMemberId != null">
          AND ord.member_id = #{userMemberId}
        </if>
        <if test="userName != null and userName != ''">
          AND member.user_nickname LIKE CONCAT('%',#{userName},'%')
        </if>
        <if test="userMemberGrade != null">
          AND dstb.grade = #{userMemberGrade}
        </if>
        <if test="orderNo != null and orderNo !=''">
          AND outIn.order_no = #{orderNo}
        </if>
        <if test="justCash != null and justCash == 1">
          AND outIn.oper_cash > 0
        </if>
        <if test="justGoldCoin != null and justGoldCoin == 1">
          AND outIn.oper_gold_coin > 0
        </if>
        AND outIn.type IN 
          <foreach collection="typeList" item="type" open="(" separator="," close=")">
              #{type}
          </foreach>
        GROUP BY outIn.order_no
        ) AS temp

    </select>





    <select id="findUserCashAndGoldCoin" resultType="map" parameterType="map">
        SELECT
        IFNULL(SUM(outIn.oper_cash), 0) AS totalCash,
        IFNULL(SUM(outIn.oper_gold_coin), 0) AS totalGoldCoin
        FROM
        `shop_member_account_cash_out_in` outIn
        JOIN shop_member_order ord ON ord.order_number = outIn.order_no
        JOIN shop_member member ON member.id = ord.member_id
        LEFT JOIN yjj_distribution_system dstb ON dstb.user_id = ord.member_id
        WHERE outIn.del_status = 0
        AND outIn.user_id = #{userId}

        <if test="status != null">
            AND outIn.`status` = #{status}
        </if>
        <if test="payTimeFloor != null">
            AND ord.pay_time &gt; #{payTimeFloor}
        </if>
        <if test="payTimeCeil != null">
            AND ord.pay_time &lt; #{payTimeCeil}
        </if>
        <if test="userMemberId != null">
            AND ord.member_id = #{userMemberId}
        </if>
        <if test="userName != null and userName != ''">
            AND member.user_nickname LIKE CONCAT('%',#{userName},'%')
        </if>
        <if test="userMemberGrade != null">
            AND dstb.grade = #{userMemberGrade}
        </if>
        <if test="orderNo != null and orderNo !=''">
            AND outIn.order_no = #{orderNo}
        </if>
        <if test="justCash != null and justCash == 1">
            AND outIn.oper_cash > 0
        </if>
        <if test="justGoldCoin != null and justGoldCoin == 1">
            AND outIn.oper_gold_coin > 0
        </if>
        AND outIn.type IN
        <foreach collection="typeList" item="type" open="(" separator="," close=")">
            #{type}
        </foreach>
    </select>



    <select id="teamOrderCommission" parameterType="map" resultType="map">
        SELECT
        outIn.id AS id,
        outIn.order_earnings_snapshoot AS orderEarningsSnapshoot,
        outIn.user_id AS userId,
        member.user_nickname AS userName,
        outIn.user_dstb_grade AS userGrade,
        outIn.type AS `type`,
        outIn.`status` AS `status`,
        outIn.earnings_ratio AS earningsRatio,
        outIn.currency_ratio AS currencyRatio,
        outIn.oper_cash AS operCash,
        CASE WHEN oldOutIn.oper_cash > 0 THEN oldOutIn.oper_cash ELSE outIn.oper_cash END AS shouldInCash,
        outIn.oper_gold_coin AS operGoldCoin,
        CASE WHEN oldOutIn.oper_gold_coin > 0 THEN oldOutIn.oper_gold_coin ELSE outIn.oper_gold_coin END AS shouldInGoldCoin,
        rec.pay_time AS payTime,
        rec.order_success_time AS orderSuccessTime,
        outIn.oper_time AS operTime
        FROM
        shop_member_account_cash_out_in outIn
        JOIN yjj_distribution_system dstb ON dstb.user_id = outIn.user_id
        JOIN shop_member_order_dstb_record rec ON rec.order_no = outIn.order_no
        LEFT JOIN shop_member member ON member.id = outIn.user_id
        LEFT JOIN shop_member_account_cash_out_in oldOutIn ON oldOutIn.id = outIn.source_id AND oldOutIn.`status` = 2
        WHERE
        (
        dstb.distributor_id = #{userId}
        OR dstb.partner_id = #{userId}
        )
        AND outIn.order_no = #{orderNo}
        AND outIn.del_status = 0
        AND outIn.type IN (0,1,2)

        <if test="userName != null and userName != ''">
          AND member.user_nickname LIKE CONCAT('%',#{userName},'%')
        </if>
        <if test="userMemberId != null">
          AND outIn.user_id = #{userMemberId}
        </if>
        <if test="type != null">
          AND outIn.type = #{type}
        </if>
        <if test="id != null">
          AND outIn.id = #{id}
        </if>
        <if test="operCashFloor != null">
          AND oper_cash &gt; #{operCashFloor}
        </if>
        <if test="operCashCeil != null">
          AND oper_cash &lt; #{operCashCeil}
        </if>
        <if test="operGoldCoinFloor != null">
          AND oper_gold_coin &gt; #{operGoldCoinFloor}
        </if>
        <if test="operGoldCoinCeil != null">
          AND oper_gold_coin &lt; #{operGoldCoinCeil}
        </if>

        ORDER BY outIn.oper_time DESC
    </select>





    <select id="listCashOut" resultType="map" parameterType="map">
        SELECT  *
        FROM (
            SELECT
            outIn.id AS outInId,
            outIn.user_id AS userId,
            store.BusinessName AS storeName,
            member.user_nickname AS UserName,
            outIn.order_no AS orderNo,
            outIn.create_time AS createTime,
            outIn.update_time AS updateTime,
            outIn.oper_time AS successTime,
            outIn.`status` AS `status`,
            outIn.`detail_status` AS detailStatus,
            outIn.in_out_type AS inOutType,
            outIn.payment_no AS paymentNo,
            outIn.oper_cash AS operCash,
            outIn.remark AS remark,
            CASE outIn.`detail_status`
            WHEN 1 THEN 1
            ELSE 2
            END AS firstOrderBy
            FROM
            shop_member_account_cash_out_in outIn
            LEFT JOIN shop_member member ON outIn.user_id = member.id
            LEFT JOIN yjj_storebusiness store ON store.Id = member.store_id
            WHERE
            outIn.type = 50
            AND outIn.del_status = 0
            <if test="inOutType != null">
                AND outIn.in_out_type = #{inOutType}
            </if>
            <if test="detailStatus != null">
                AND outIn.`detail_status` = #{detailStatus}
            </if>
            <if test="userName != null and userName != ''">
                AND member.user_nickname LIKE CONCAT('%',#{userName},'%')
            </if>
            <if test="storeName != null and storeName != ''">
                AND store.BusinessName LIKE CONCAT('%',#{storeName},'%')
            </if>
            <if test="createTimeFloor != null and createTimeFloor != ''">
                AND outIn.create_time &gt; #{createTimeFloor}
            </if>
            <if test="createTimeCeil != null and createTimeCeil != ''">
                AND outIn.create_time &lt; #{createTimeCeil}
            </if>
        ) AS temp
        ORDER BY temp.firstOrderBy ASC, updateTime DESC


    </select>

</mapper>











