<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e_commerce.miscroservice.operate.mapper.StoreQuestionAnswerManageMapper">
    <!--批量显示隐藏-->
    <update id="batchDisplayOrHiding" parameterType="java.util.List">
        update yjj_question_answer set status =#{showNot} where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <!-- 批量 删除-->
    <update id="batchDelNot" parameterType="java.util.List" >
        update yjj_question_answer set del_status =#{delNot} where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <!--转移问题类型-->
    <update id="exchangeQuestionType" >
        update  yjj_question_answer set question_type_id = #{exchangeId} where question_type_id = #{id}
    </update>
    <select id="findAllStoreQuestionAnswerTpye"
            resultType="com.e_commerce.miscroservice.operate.entity.response.StoreQuestionTypeResponse">

        select *,create_time as `time` from yjj_question_type
        <trim prefix="where" prefixOverrides="AND|OR">
            del_status = 0
            <if test="storeQuestionAnswerRequest.typeName!=null and storeQuestionAnswerRequest.typeName!=''">
                and type_value = #{storeQuestionAnswerRequest.typeName}
            </if>
            <if test="storeQuestionAnswerRequest.createBy!=null and storeQuestionAnswerRequest.createBy!=''">
                and create_ty = #{storeQuestionAnswerRequest.createBy}
            </if>
            <if test="storeQuestionAnswerRequest.createTimeStart!=null and storeQuestionAnswerRequest.createTimeStart!=''">
                and create_time  <![CDATA[>=]]> #{storeQuestionAnswerRequest.createTimeStart}
            </if>
            <if test="storeQuestionAnswerRequest.createTimeEnd!=null and storeQuestionAnswerRequest.createTimeEnd!=''">
                and create_time  <![CDATA[<=]]> #{storeQuestionAnswerRequest.createTimeEnd}
            </if>
        </trim>
    </select>
    <select id="findAllStoreQuestionAnswer"
            resultType="com.e_commerce.miscroservice.operate.entity.response.YjjQuestionAnswerResponse">

        select a.*,a.create_time as `time`,b.type_value from yjj_question_answer a left join yjj_question_type b on
        a.question_type_id = b.id
        <trim prefix="where" prefixOverrides="AND|OR">
            a.del_status=0
            <if test="storeQuestionAnswerRequest.typeStatus!=null and storeQuestionAnswerRequest.typeStatus!=''">
                and a.question_type_id = #{storeQuestionAnswerRequest.typeStatus}
            </if>
            <if test="storeQuestionAnswerRequest.questionName!=null and storeQuestionAnswerRequest.questionName!=''">
                and a.question = #{storeQuestionAnswerRequest.questionName}
            </if>
            <if test="storeQuestionAnswerRequest.status!=null and storeQuestionAnswerRequest.status!=''">
                and a.status = #{storeQuestionAnswerRequest.status}
            </if>
            <if test="storeQuestionAnswerRequest.createBy!=null and storeQuestionAnswerRequest.createBy!=''">
                and a.create_ty = #{storeQuestionAnswerRequest.createBy}
            </if>
            <if test="storeQuestionAnswerRequest.createTimeStart!=null and storeQuestionAnswerRequest.createTimeStart!=''">
                and a.create_time  <![CDATA[>=]]> #{storeQuestionAnswerRequest.createTimeStart}
            </if>
            <if test="storeQuestionAnswerRequest.createTimeEnd!=null and storeQuestionAnswerRequest.createTimeEnd!=''">
                and a.create_time  <![CDATA[<=]]> #{storeQuestionAnswerRequest.createTimeEnd}
            </if>
        </trim>
        order by a.search_time DESC
    </select>
    <!--更新关联问题 数量-->
    <update id="updateQuestionSize">
        update yjj_question_type
        <set>
            <if test="code==0">
                question_size = question_size+#{questionSize}
            </if>
            <if test="code==1">
                question_size = question_size-#{questionSize}
            </if>
        </set>
        where id = #{id}
    </update>
    <!--批量关联问题修改-->
    <update id="updateQuestionSizeList" parameterType="java.util.List">
        update yjj_question_type
        <set>
            <if test="code==0">
                question_size = question_size+1
            </if>
            <if test="code==1">
                question_size = question_size-1
            </if>
        </set>
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <!--根据问题id 集合查询问题-->
    <select id="findQuestionAnswerByIdList" parameterType="java.util.List" resultType="com.e_commerce.miscroservice.commons.entity.application.user.YjjQuestionAnswer">
        select
        *
        from yjj_question_answer
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <!--根据问题id集合获取 类型id集合-->
    <select id="findQuestionTypeIdByIdList" parameterType="java.util.List" resultType="java.lang.String">
        select
        question_type_id
        from yjj_question_answer
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>











