<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finace.miscroservice.task_scheduling.mapper.TimerSchedulerMapper">

    <!--<cache flushInterval="40000" eviction="FIFO"/>-->
    <select id="findTimerSchedulerAllByNotExpire" resultType="TimerSchedulerPO">
        select * from t_timer_scheduling where deleted =FALSE

    </select>

    <update id="removeTimerSchedulerByUUId">
        UPDATE t_timer_scheduling
        <set>
            <if test="uuid!=null">deleted =TRUE</if>
        </set>
        WHERE uuid = #{uuid} and deleted = FALSE
    </update>

    <!--返回对象里面有自增的Id-->
    <insert useGeneratedKeys="true" keyProperty="id" id="saveTimerScheduler">
        <!--高频插入,性能受影响-->
        <!--insert into t_timer_scheduling
        (`uuid`,`timer_scheduler_name`,`timer_scheduler_cron`,`timer_scheduler_param`,`timer_scheduler_type`)
        SELECT #{uuid}
        ,#{timerSchedulerName},#{timerSchedulerCron},#{timerSchedulerParam},#{timerSchedulerType}
        from dual
        WHERE not EXISTS (select uuid from t_timer_scheduling where (uuid = #{uuid} or timer_scheduler_name
        =#{timerSchedulerName}) and deleted =FALSE )-->
        insert ignore into t_timer_scheduling
        (`uuid`,`timer_scheduler_name`,`timer_scheduler_cron`,`timer_scheduler_param`,`timer_scheduler_type`)
        VALUES (#{uuid},#{timerSchedulerName},#{timerSchedulerCron},#{timerSchedulerParam},#{timerSchedulerType} )
    </insert>

</mapper>