@import '~@/lib/reset.scss';

.mint-msgbox{
  width: 75% !important;
  border-radius: 0.1rem!important;
}

.mint-msgbox-btn{
  background-color: #64DDCE !important
}
.mint-msgbox-confirm{
  color: #FFFFFF !important;
}
.mint-msgbox-title{
  font-weight: normal !important;
}