<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finace.miscroservice.activity.mapper.UserChannelGeneralizeMapper">

    <resultMap id="BaseUserChannelResult" type="com.finace.miscroservice.activity.po.entity.UserChannelGeneralize" >
        <result column="id" property="id"  />
        <result column="appid" property="appid"  />
        <result column="idfa" property="idfa"  />
        <result column="keywords" property="keywords"  />
        <result column="channel" property="channel"  />
        <result column="timestamp" property="timestamp"  />
        <result column="callback" property="callback"  />
        <result column="phone" property="phone"  />
        <result column="activate" property="activate"  />
    </resultMap>

    <select id="findChannelGeneralize" resultMap="BaseUserChannelResult">
        SELECT * FROM user_channel_generalize where idfa = #{idfa} and phone = #{phone}
    </select>

    <!--渠道推广 保存-->
    <insert id="insertUserChannelGeneralize">
        INSERT  into user_channel_generalize
        ( appid,
        idfa,
        keywords,
        channel,
        `timestamp`,
        `callback`,
        `phone`,
        `activate`)
        SELECT  #{userChannelGeneralize.appid},
            #{userChannelGeneralize.idfa},
            #{userChannelGeneralize.keywords},
            #{userChannelGeneralize.channel},
            #{userChannelGeneralize.timestamp},
            #{userChannelGeneralize.callback},
            #{userChannelGeneralize.phone},
            #{userChannelGeneralize.activate} FROM dual WHERE not EXISTS (SELECT idfa from user_channel_generalize where idfa = #{userChannelGeneralize.idfa})
    </insert>
    <update id="upUserChannelGeneralize">
        UPDATE user_channel_generalize set activate = 1 where idfa = #{idfa}
    </update>
    <select id="findChannelGeneralizes" resultType="String">
        SELECT idfa from user_channel_generalize
    </select>
</mapper>











