<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e_commerce.miscroservice.product.mapper.DynamicPropertyProductMapper">


    <select id="listDynaPropAndValue" resultType="com.e_commerce.miscroservice.product.vo.ProductPropertyDTO">
        SELECT
		ydpp.dyna_prop_id dynaPropId,
		ydp.`name` dynaPropName,
		GROUP_CONCAT(ydpp.dyna_prop_value) as dynaPropValue
		FROM
		yjj_dynamic_property_product ydpp,
		yjj_dynamic_property_value ydpv,
		yjj_dynamic_property ydp
		WHERE
		ydpp.product_id =#{productId}
		AND
		ydpp.dyna_prop_id = ydp.id
		AND ydpv.dyna_prop_id = ydp.id
		AND
		ydpp.dyna_prop_value_id = ydpv.id
		AND ydp.status = 1
		AND ydpv.status = 1
		group BY ydpp.dyna_prop_id
    </select>
</mapper>