<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.e_commerce.miscroservice.product.mapper.ProductSkuMapper">


	<!-- 主要的返回映射-->
	<resultMap id="BaseResultMap" type="com.e_commerce.miscroservice.product.entity.ProductSku"	>
		<id column="Id" property="id" jdbcType="BIGINT" />
		<result column="ProductId"  property="productId"  jdbcType="BIGINT" />
		<result column="wxa_product_id"  property="wxaProductId"  jdbcType="BIGINT" />
		<result column="PropertyIds"  property="propertyIds"  jdbcType="VARCHAR" />
		<result column="Price"  property="price"  jdbcType="INTEGER" />
		<result column="RemainCount"  property="remainCount"  jdbcType="INTEGER" />
		<result column="SpecificImage"  property="specificImage"  jdbcType="VARCHAR" />
		<result column="Status"  property="status"  jdbcType="TINYINT" />
		<result column="CreateTime"  property="createTime"  jdbcType="BIGINT" />
		<result column="UpdateTime"  property="updateTime"  jdbcType="BIGINT" />
		<result column="SkuNo"  property="skuNo"  jdbcType="BIGINT" />
		<result column="Cash"  property="cash"  jdbcType="DECIMAL" />
		<result column="Weight"  property="weight"  jdbcType="DECIMAL" />
		<result column="Name"  property="name"  jdbcType="VARCHAR" />
		<result column="MarketPrice"  property="marketPrice"  jdbcType="DECIMAL" />
		<result column="CostPrice"  property="costPrice"  jdbcType="DECIMAL" />
		<result column="ClothesNumber"  property="clothesNumber"  jdbcType="VARCHAR" />
		<result column="LOWarehouseId"  property="lOWarehouseId"  jdbcType="BIGINT" />
		<result column="RemainKeepTime"  property="remainKeepTime"  jdbcType="INTEGER" />
		<result column="BrandId"  property="brandId"  jdbcType="BIGINT" />
		<result column="SaleStartTime"  property="saleStartTime"  jdbcType="BIGINT" />
		<result column="SaleEndTime"  property="saleEndTime"  jdbcType="BIGINT" />
		<result column="Sort"  property="sort"  jdbcType="INTEGER" />
		<result column="RemainCountLock"  property="remainCountLock"  jdbcType="INTEGER" />
		<result column="RemainCountStartTime"  property="remainCountStartTime"  jdbcType="BIGINT" />
		<result column="RemainCountEndTime"  property="remainCountEndTime"  jdbcType="BIGINT" />
		<result column="IsRemainCountLock"  property="isRemainCountLock"  jdbcType="TINYINT" />
		<result column="PushTime"  property="pushTime"  jdbcType="BIGINT" />
		<result column="PromotionSaleCount"  property="promotionSaleCount"  jdbcType="INTEGER" />
		<result column="PromotionVisitCount"  property="promotionVisitCount"  jdbcType="INTEGER" />
		<result column="RemainCount2"  property="remainCount2"  jdbcType="INTEGER" />
		<result column="LOWarehouseId2"  property="lOWarehouseId2"  jdbcType="BIGINT" />
		<result column="SetLOWarehouseId2"  property="setLOWarehouseId2"  jdbcType="TINYINT" />
		<result column="Position"  property="position"  jdbcType="VARCHAR" />
		<result column="colorId"  property="colorId"  jdbcType="BIGINT" />
		<result column="colorName"  property="colorName"  jdbcType="VARCHAR" />
		<result column="sizeId"  property="sizeId"  jdbcType="BIGINT" />
		<result column="sizeName"  property="sizeName"  jdbcType="VARCHAR" />
		<result column="timing_set_remain_count_time"  property="timingSetRemainCountTime"  jdbcType="BIGINT" />
		<result column="timing_set_type"  property="timingSetType"  jdbcType="TINYINT" />
		<result column="timing_set_count"  property="timingSetCount"  jdbcType="INTEGER" />
		<result column="own_type"  property="ownType"  jdbcType="INTEGER" />
	</resultMap>

	<!-- 所有的列名-->
	<sql id="Base_Column_List" >
		Id,ProductId,wxa_product_id,PropertyIds,Price,RemainCount,SpecificImage,Status,CreateTime,
		UpdateTime,SkuNo,Cash,Weight,Name,MarketPrice,CostPrice,ClothesNumber,
		LOWarehouseId,RemainKeepTime,BrandId,SaleStartTime,SaleEndTime,Sort,RemainCountLock,RemainCountStartTime,
		RemainCountEndTime,IsRemainCountLock,PushTime,PromotionSaleCount,PromotionVisitCount,RemainCount2,LOWarehouseId2,SetLOWarehouseId2,
		Position,colorId,colorName,sizeId,sizeName,timing_set_remain_count_time,timing_set_type,timing_set_count,
		own_type
	</sql>


	<!-- 所有的条件集合-->
	<sql id="whereCase"  >
		where  1=1
		<if test="id  !=null">
			AND Id = #{id,jdbcType=BIGINT}
		</if>
		<if test="productId  !=null">
			AND ProductId = #{productId,jdbcType=BIGINT}
		</if>
		<if test="wxaProductId  !=null">
			AND wxa_product_id = #{wxaProductId,jdbcType=BIGINT}
		</if>
		<if test="propertyIds  !=null">
			AND PropertyIds = #{propertyIds,jdbcType=VARCHAR}
		</if>
		<if test="price  !=null">
			AND Price = #{price,jdbcType=INTEGER}
		</if>
		<if test="remainCount  !=null">
			AND RemainCount = #{remainCount,jdbcType=INTEGER}
		</if>
		<if test="specificImage  !=null">
			AND SpecificImage = #{specificImage,jdbcType=VARCHAR}
		</if>
		<if test="status  !=null">
			AND Status = #{status,jdbcType=TINYINT}
		</if>
		<if test="createTime  !=null">
			AND CreateTime = #{createTime,jdbcType=BIGINT}
		</if>
		<if test="updateTime  !=null">
			AND UpdateTime = #{updateTime,jdbcType=BIGINT}
		</if>
		<if test="skuNo  !=null">
			AND SkuNo = #{skuNo,jdbcType=BIGINT}
		</if>
		<if test="cash  !=null">
			AND Cash = #{cash,jdbcType=DECIMAL}
		</if>
		<if test="weight  !=null">
			AND Weight = #{weight,jdbcType=DECIMAL}
		</if>
		<if test="name  !=null">
			AND Name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="marketPrice  !=null">
			AND MarketPrice = #{marketPrice,jdbcType=DECIMAL}
		</if>
		<if test="costPrice  !=null">
			AND CostPrice = #{costPrice,jdbcType=DECIMAL}
		</if>
		<if test="clothesNumber  !=null">
			AND ClothesNumber = #{clothesNumber,jdbcType=VARCHAR}
		</if>
		<if test="lOWarehouseId  !=null">
			AND LOWarehouseId = #{lOWarehouseId,jdbcType=BIGINT}
		</if>
		<if test="remainKeepTime  !=null">
			AND RemainKeepTime = #{remainKeepTime,jdbcType=INTEGER}
		</if>
		<if test="brandId  !=null">
			AND BrandId = #{brandId,jdbcType=BIGINT}
		</if>
		<if test="saleStartTime  !=null">
			AND SaleStartTime = #{saleStartTime,jdbcType=BIGINT}
		</if>
		<if test="saleEndTime  !=null">
			AND SaleEndTime = #{saleEndTime,jdbcType=BIGINT}
		</if>
		<if test="sort  !=null">
			AND Sort = #{sort,jdbcType=INTEGER}
		</if>
		<if test="remainCountLock  !=null">
			AND RemainCountLock = #{remainCountLock,jdbcType=INTEGER}
		</if>
		<if test="remainCountStartTime  !=null">
			AND RemainCountStartTime = #{remainCountStartTime,jdbcType=BIGINT}
		</if>
		<if test="remainCountEndTime  !=null">
			AND RemainCountEndTime = #{remainCountEndTime,jdbcType=BIGINT}
		</if>
		<if test="isRemainCountLock  !=null">
			AND IsRemainCountLock = #{isRemainCountLock,jdbcType=TINYINT}
		</if>
		<if test="pushTime  !=null">
			AND PushTime = #{pushTime,jdbcType=BIGINT}
		</if>
		<if test="promotionSaleCount  !=null">
			AND PromotionSaleCount = #{promotionSaleCount,jdbcType=INTEGER}
		</if>
		<if test="promotionVisitCount  !=null">
			AND PromotionVisitCount = #{promotionVisitCount,jdbcType=INTEGER}
		</if>
		<if test="remainCount2  !=null">
			AND RemainCount2 = #{remainCount2,jdbcType=INTEGER}
		</if>
		<if test="lOWarehouseId2  !=null">
			AND LOWarehouseId2 = #{lOWarehouseId2,jdbcType=BIGINT}
		</if>
		<if test="setLOWarehouseId2  !=null">
			AND SetLOWarehouseId2 = #{setLOWarehouseId2,jdbcType=TINYINT}
		</if>
		<if test="position  !=null">
			AND Position = #{position,jdbcType=VARCHAR}
		</if>
		<if test="colorId  !=null">
			AND colorId = #{colorId,jdbcType=BIGINT}
		</if>
		<if test="colorName  !=null">
			AND colorName = #{colorName,jdbcType=VARCHAR}
		</if>
		<if test="sizeId  !=null">
			AND sizeId = #{sizeId,jdbcType=BIGINT}
		</if>
		<if test="sizeName  !=null">
			AND sizeName = #{sizeName,jdbcType=VARCHAR}
		</if>
		<if test="timingSetRemainCountTime  !=null">
			AND timing_set_remain_count_time = #{timingSetRemainCountTime,jdbcType=BIGINT}
		</if>
		<if test="timingSetType  !=null">
			AND timing_set_type = #{timingSetType,jdbcType=TINYINT}
		</if>
		<if test="timingSetCount  !=null">
			AND timing_set_count = #{timingSetCount,jdbcType=INTEGER}
		</if>
		<if test="ownType  !=null">
			AND own_type = #{ownType,jdbcType=INTEGER}
		</if>
		<include refid="costomWhereCase"/>
	</sql>



	<!-- 精确更新的字段-->
	<sql id="updateBase">
		<if test="id  !=null">
			Id = #{id,jdbcType=BIGINT},
		</if>
		<if test="productId  !=null">
			ProductId = #{productId,jdbcType=BIGINT},
		</if>
		<if test="wxaProductId  !=null">
			wxa_product_id = #{wxaProductId,jdbcType=BIGINT},
		</if>
		<if test="propertyIds  !=null">
			PropertyIds = #{propertyIds,jdbcType=VARCHAR},
		</if>
		<if test="price  !=null">
			Price = #{price,jdbcType=INTEGER},
		</if>
		<if test="remainCount  !=null">
			RemainCount = #{remainCount,jdbcType=INTEGER},
		</if>
		<if test="specificImage  !=null">
			SpecificImage = #{specificImage,jdbcType=VARCHAR},
		</if>
		<if test="status  !=null">
			Status = #{status,jdbcType=TINYINT},
		</if>
		<if test="createTime  !=null">
			CreateTime = #{createTime,jdbcType=BIGINT},
		</if>
		<if test="updateTime  !=null">
			UpdateTime = #{updateTime,jdbcType=BIGINT},
		</if>
		<if test="skuNo  !=null">
			SkuNo = #{skuNo,jdbcType=BIGINT},
		</if>
		<if test="cash  !=null">
			Cash = #{cash,jdbcType=DECIMAL},
		</if>
		<if test="weight  !=null">
			Weight = #{weight,jdbcType=DECIMAL},
		</if>
		<if test="name  !=null">
			Name = #{name,jdbcType=VARCHAR},
		</if>
		<if test="marketPrice  !=null">
			MarketPrice = #{marketPrice,jdbcType=DECIMAL},
		</if>
		<if test="costPrice  !=null">
			CostPrice = #{costPrice,jdbcType=DECIMAL},
		</if>
		<if test="clothesNumber  !=null">
			ClothesNumber = #{clothesNumber,jdbcType=VARCHAR},
		</if>
		<if test="lOWarehouseId  !=null">
			LOWarehouseId = #{lOWarehouseId,jdbcType=BIGINT},
		</if>
		<if test="remainKeepTime  !=null">
			RemainKeepTime = #{remainKeepTime,jdbcType=INTEGER},
		</if>
		<if test="brandId  !=null">
			BrandId = #{brandId,jdbcType=BIGINT},
		</if>
		<if test="saleStartTime  !=null">
			SaleStartTime = #{saleStartTime,jdbcType=BIGINT},
		</if>
		<if test="saleEndTime  !=null">
			SaleEndTime = #{saleEndTime,jdbcType=BIGINT},
		</if>
		<if test="sort  !=null">
			Sort = #{sort,jdbcType=INTEGER},
		</if>
		<if test="remainCountLock  !=null">
			RemainCountLock = #{remainCountLock,jdbcType=INTEGER},
		</if>
		<if test="remainCountStartTime  !=null">
			RemainCountStartTime = #{remainCountStartTime,jdbcType=BIGINT},
		</if>
		<if test="remainCountEndTime  !=null">
			RemainCountEndTime = #{remainCountEndTime,jdbcType=BIGINT},
		</if>
		<if test="isRemainCountLock  !=null">
			IsRemainCountLock = #{isRemainCountLock,jdbcType=TINYINT},
		</if>
		<if test="pushTime  !=null">
			PushTime = #{pushTime,jdbcType=BIGINT},
		</if>
		<if test="promotionSaleCount  !=null">
			PromotionSaleCount = #{promotionSaleCount,jdbcType=INTEGER},
		</if>
		<if test="promotionVisitCount  !=null">
			PromotionVisitCount = #{promotionVisitCount,jdbcType=INTEGER},
		</if>
		<if test="remainCount2  !=null">
			RemainCount2 = #{remainCount2,jdbcType=INTEGER},
		</if>
		<if test="lOWarehouseId2  !=null">
			LOWarehouseId2 = #{lOWarehouseId2,jdbcType=BIGINT},
		</if>
		<if test="setLOWarehouseId2  !=null">
			SetLOWarehouseId2 = #{setLOWarehouseId2,jdbcType=TINYINT},
		</if>
		<if test="position  !=null">
			Position = #{position,jdbcType=VARCHAR},
		</if>
		<if test="colorId  !=null">
			colorId = #{colorId,jdbcType=BIGINT},
		</if>
		<if test="colorName  !=null">
			colorName = #{colorName,jdbcType=VARCHAR},
		</if>
		<if test="sizeId  !=null">
			sizeId = #{sizeId,jdbcType=BIGINT},
		</if>
		<if test="sizeName  !=null">
			sizeName = #{sizeName,jdbcType=VARCHAR},
		</if>
		<if test="timingSetRemainCountTime  !=null">
			timing_set_remain_count_time = #{timingSetRemainCountTime,jdbcType=BIGINT},
		</if>
		<if test="timingSetType  !=null">
			timing_set_type = #{timingSetType,jdbcType=TINYINT},
		</if>
		<if test="timingSetCount  !=null">
			timing_set_count = #{timingSetCount,jdbcType=INTEGER},
		</if>
		<if test="ownType  !=null">
			own_type = #{ownType,jdbcType=INTEGER}
		</if>
	</sql>

	<!-- 查询一个list-->
	<select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM yjj_productsku
		<include refid="whereCase" />
	</select>


	<!-- 精确更新-->
	<update id="updateByPrimaryKey" parameterType="com.e_commerce.miscroservice.product.entity.ProductSku" >
		update yjj_productsku
		<set>
			<include refid="updateBase"/>
		</set>
		where Id = #{id,jdbcType=BIGINT}
	</update>


	<!--  @Costom -->
	<!-- 从上一行注释以上为系统生成 从这一行往下为用户自定义 请将自定义的sql放在此行下面 -->
	<sql id="costomWhereCase">
		<if test="statusList != null">
			AND Status IN
			<foreach collection="statusList" item="stat" open="(" separator="," close=")">
				#{stat}
			</foreach>
		</if>
	</sql>


 	<select id="findInventoryByProductIds" resultType="map">
		SELECT
		ProductId AS productId, IFNULL(sum(RemainCount),0) AS inventory
		FROM
		yjj_ProductSKU
		WHERE
  		ProductId IN
  		<foreach collection="ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
		AND STATUS = 0
		AND own_type = 1
	  GROUP BY ProductId
	</select>


	<select id="storeProductInventory" resultType="int">
		SELECT
		IFNULL(sum(RemainCount),0) AS inventory
		FROM
		yjj_ProductSKU
		WHERE
		wxa_product_id = #{shopProductId}
	    AND STATUS = 0
		AND own_type = 2
	</select>


	<select id="supplierProductInventory" resultType="int">
		SELECT
		IFNULL(sum(RemainCount),0) AS inventory
		FROM
		yjj_ProductSKU
		WHERE
		ProductId = #{productId}
		AND STATUS = 0
		AND own_type = 1
	</select>



	<!-- 根据平台商品查询sku -->
    <select id="listSkuBySupplierProductIds"
			parameterType="map"
            resultType="com.e_commerce.miscroservice.product.entity.ProductSku">
		select
			Id AS id,
			ProductId AS productId,
			wxa_product_id AS wxaProductId,
			colorId AS colorId,
			colorName AS colorName,
			sizeId AS sizeId,
			sizeName AS sizeName,
			RemainCount AS remainCount
        from yjj_ProductSKU
        where ProductId IN 
        <foreach collection="productIds" item="productId" open="(" separator="," close=")">
			#{productId}
		</foreach>
        and SaleStartTime &lt; #{current}
        and (SaleEndTime = 0 or SaleEndTime &gt; #{current})
        and `Status` = 0
        and own_type = 1
	</select>



	<!-- 查询小程序商品sku -->
    <select id="listSkuByShopProductIds" resultType="com.e_commerce.miscroservice.product.entity.ProductSku">
	    select
			Id AS id,
			ProductId AS productId,
			wxa_product_id AS wxaProductId,
			colorId AS colorId,
			colorName AS colorName,
			sizeId AS sizeId,
			sizeName AS sizeName,
			RemainCount AS remainCount
		from yjj_ProductSKU
		where wxa_product_id IN 
		<foreach collection="shopProductIds" item="shopProductId" open="(" separator="," close=")">
			#{shopProductId}
		</foreach>
		and `Status` = 0
		and own_type = 2
	</select>


	<!-- 查询商品sku -->
	<select id="findSimpleOfProductId" resultType="com.e_commerce.miscroservice.product.entity.ProductSku">
		SELECT
			Id AS id,
			ProductId AS productId,
			wxa_product_id AS wxaProductId,
			RemainCount AS remainCount,
			`Status` AS `status`,
			colorName,
			colorId,
			sizeName,
			sizeId,
			own_type AS ownType
		FROM
			yjj_productsku
		WHERE
			`Status` IN 
			<foreach collection="statusList" item="status" open="(" separator="," close=")">
				#{status}
			</foreach>
		<if test="isShopElseSupplier == true">
			AND wxa_product_id = #{productId}
			AND own_type = 2
		</if>
		<if test="isShopElseSupplier == false">
			AND ProductId = #{productId}
			AND own_type = 1
		</if>
	</select>


	<!-- 批量删除sku -->
	<update id="deleteShopProductSkuByIds">
		UPDATE yjj_productsku
		SET `Status` = -3
		WHERE Id IN
		<foreach collection="skuIds" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
</mapper>