<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.store.dao.mapper.ActivityPlaceMapper">

	<select id="getById" resultType="ActivityPlace">
		select * from yjj_ActivityPlace
		where Id = #{id} and Status=0 and type in (0,1) 
	</select>
	
</mapper>