<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.store.dao.mapper.FinanceLogMapper">

	<insert id="addFinanceLog" parameterType="map">
		<![CDATA[
			INSERT INTO store_FinanceLog
			(StoreId,
			UserId,
			Type,
			RelatedId,
			Cash,
			CreateTime) VALUES
			(#{financeLog.storeId}, #{financeLog.userId}, #{financeLog.type}, #{financeLog.relatedId}, #{financeLog.cash}, #{financeLog.createTime})
		]]>
    </insert>
</mapper>