<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.store.dao.mapper.ProductMapper">
	<select id="getProductByIds" resultType="ProductVOShop">
		<![CDATA[
			select a.member_ladder_price_max as memberLadderPriceMax,a.member_ladder_price_min as memberLadderPriceMin,a.member_ladder_price_json as memberLadderPriceJson,a.*,a.badge_image as badgeImage,a.vedio_main as vedioMain,(select logo from yjj_Subscript where id = a.SubscriptId) subscriptLogo, (SELECT count(1) FROM yjj_ProductSKU sku where   sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000) and ProductId =a.Id) skuOnSaleNum
			
			 from yjj_Product a
			where Id in
		]]>
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			<![CDATA[
				#{id}
			]]>
		</foreach>
	</select>
	

	
	
	 <sql id="guideProduct">
		  and ( Type = 0 or Type = 1)
    </sql>
    
	 <!-- sql id="storeAvailableProduct">
		    <if test="storeId > 0">
		        and (brandId in (SELECT brandId FROM yjj_StoreBrandRelation where StoreId = #{storeId} ) )
		    </if>
    </sql -->
	
	<select id="getProducts" resultType="Product">
		<![CDATA[
			select Id, Type, Name, DetailImages, SaleTotalCount, PromotionImage, BrandId, MarketPrice, Cash, JiuCoin, Weight, PromotionSetting, PromotionStartTime, PromotionEndTime, PromotionCash, PromotionJiuCoin, PromotionSaleCount, PromotionVisitCount, CreateTime,(select logo from yjj_Subscript where id= SubscriptId) subscriptLogo, (SELECT count(1) FROM yjj_ProductSKU sku where   sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000) and ProductId =a.Id) skuOnSaleNum from yjj_Product a
		]]>
	</select>
	
	<select id="getRestrictById" resultType="RestrictionCombination">
		<![CDATA[
			select * from yjj_RestrictionCombination
			where Id = #{restrictId} and status = 0
		]]>
		
	</select>
	
	<select id="getSubscriptById" resultType="Subscript">
		<![CDATA[
			select * from yjj_Subscript
			where Id = #{id} and status = 0
		]]>
		
	</select>
	
	<select id="getRestrictByIdSet" resultType="RestrictionCombination">
		<![CDATA[
			select * from yjj_RestrictionCombination
			where status = 0 and Id in
		]]>
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			<![CDATA[
				#{id}
			]]>
		</foreach>
		
	</select>
	
	<select id="getProductCountOfCategory" parameterType="map" resultType="int">
		<![CDATA[
			select count(1) from yjj_Product a
			where a.WholeSaleCash>0 AND a.id in (
		]]>
		<![CDATA[
			select ProductId from yjj_ProductCategory where Status = 0 and CategoryId in
		]]>
		<foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
			<![CDATA[
				#{categoryId}
			]]>
		</foreach>
		<![CDATA[
			)  and a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where /* sku.RemainCount>0 AND*/ sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)  and a.ShowStatus = 0 
		]]>
	</select>
	
	<select id="getProductCountOfCategoryByFilter" parameterType="map" resultType="int">
		<![CDATA[
			select count(1) from yjj_Product a
			where  a.minLadderPrice > 0 and a.id in (
		]]>
		<![CDATA[
			select ProductId from yjj_ProductCategory where Status = 0 and CategoryId in
		]]>
		<foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
			<![CDATA[
				#{categoryId}
			]]>
		</foreach>
		
		<![CDATA[
			)  and a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where /* sku.RemainCount>0 AND*/ sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)  and a.ShowStatus = 0 
		]]>
		
		<if test="guideFlag == 1">
		       
			<include refid="guideProduct"/>
		 </if>
		 <!-- if test="guideFlag == 0">
			<include refid="storeAvailableProduct"/>
		 </if -->
		
		       
		 
		<!-- 
		<if test="storeId > 0">
		        and brandId in (SELECT brandId FROM yjj_StoreBrandRelation where BusinessNumber = #{storeId})
		 </if>
		 -->
		<if test="brandId > 0">
		<![CDATA[
		and a.BrandId = #{brandId}
		]]>
		</if>
		<if test="keyWords.length() > 0">
		<![CDATA[
		and ((a.Name LIKE CONCAT("%", #{keyWords}, "%")) OR (a.ClothesNumber LIKE CONCAT("%", #{keyWords}, "%")) OR (a.brandName LIKE CONCAT("%", #{keyWords}, "%")))
		]]>
		</if>
		
		<if test="minPrice > 0">
		<![CDATA[
		and a.WholeSaleCash >= #{minPrice}
		]]>
		</if>
		<if test="maxPrice > 0">
		<![CDATA[
		and a.WholeSaleCash <= #{maxPrice}
		]]>	
		</if>
		
		<if test="brandType != -1">
			<![CDATA[
				and a.brand_type =#{brandType}
			]]>
		</if>
		<if test="inStock">
		<![CDATA[
		and  a.id in (select ProductId from yjj_ProductSKU where RemainCount > 0 )
		]]>	
		</if>
		<if test="onSale">
		<![CDATA[
		and   unix_timestamp() * 1000 < PromotionEndTime  and unix_timestamp() * 1000 > PromotionStartTime   and PromotionSetting = 1
		]]>	
		</if>
		<if test="filterMap.size() > 0">
				and
		  <foreach collection="filterMap" index="key"   item="id" separator="and"  >
                <![CDATA[
			 a.id in (select ProductId from yjj_ProductProperty where  PropertyNameId = #{key} and PropertyValueId in (
			 ]]>
			 <foreach collection="id"    item="vls" separator=","  >
                <![CDATA[
			 #{vls}
			
			]]>
            </foreach>
             <![CDATA[
			 
			 ) )
		
			]]>
            </foreach>
			
		</if>
		<if test="colorSizeMap.size() > 0">
				and
		   <foreach collection="colorSizeMap" index="key"   item="id" separator="and"  >
                <![CDATA[
			a.id in (select ProductId from yjj_ProductSKU where status >= 0 and (
			 ]]>
			 <foreach collection="id" index="key"   item="colorSize" separator="OR"  >
                <![CDATA[
			  PropertyIds like   '%${colorSize}%'
			]]>
            </foreach>
             <![CDATA[
			 
			 )) 
		
			]]>
            </foreach>
		</if>

		<if test="tagFilterMap.size() > 0">
				and
		  <foreach collection="tagFilterMap" index="key"   item="id" separator="and"  >
                <![CDATA[
			 a.id in (SELECT  ProductId FROM yjj_ProductTag where TagId in (
			 ]]>
			
			 <foreach collection="id"    item="vl" separator=","  >
                <![CDATA[
			 #{vl}
			
			]]>
            </foreach>
             <![CDATA[
			 ) and Status = 0 )
		
			]]>
            </foreach>
			
		</if>
	</select>
	
	<select id="getProductCountOfCategoryByFilterAndTagIds" parameterType="map" resultType="int">
		<![CDATA[
			select count(1) from yjj_Product a
			where  a.minLadderPrice > 0 AND a.vip = #{vip} and a.id in (
		]]>
		<![CDATA[
			SELECT ProductId FROM yjj_ProductTag WHERE STATUS = 0 AND TagId in 
		]]>
		<foreach collection="tagIds" item="tagId" open="(" separator="," close=")">
			<![CDATA[
				#{tagId}
			]]>
		</foreach>
		
		<![CDATA[
			)  and a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where /* sku.RemainCount>0 AND */sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)  and a.ShowStatus = 0 
		]]>
		<if test="guideFlag == 1">
		       
			<include refid="guideProduct"/>
		 </if>
		 <!-- if test="guideFlag == 0">
			<include refid="storeAvailableProduct"/>
		 </if -->
		
		       
		 
		<!-- 
		<if test="storeId > 0">
		        and brandId in (SELECT brandId FROM yjj_StoreBrandRelation where BusinessNumber = #{storeId})
		 </if>
		 -->
		<if test="brandId > 0">
		<![CDATA[
		and a.BrandId = #{brandId}
		]]>
		</if>
		<if test="keyWords.length() > 0">
		<![CDATA[
		and a.Name like  concat("%", #{keyWords}, "%")
		]]>
		</if>
		<if test="minPrice > 0">
		<![CDATA[
		and a.cash >= #{minPrice}
		]]>
		</if>
		<if test="maxPrice > 0">
		<![CDATA[
		and a.cash <= #{maxPrice}
		]]>	
		</if>
		<if test="brandType != -1">
			<![CDATA[
				and a.brand_type =#{brandType}
			]]>
		</if>
		
		<if test="inStock">
		<![CDATA[
		and  a.id in (select ProductId from yjj_ProductSKU where RemainCount > 0 )
		]]>	
		</if>
		<if test="onSale">
		<![CDATA[
		and   unix_timestamp() * 1000 < PromotionEndTime  and unix_timestamp() * 1000 > PromotionStartTime   and PromotionSetting = 1
		]]>	
		</if>
		<if test="filterMap.size() > 0">
				and
		  <foreach collection="filterMap" index="key"   item="id" separator="and"  >
                <![CDATA[
			 a.id in (select ProductId from yjj_ProductProperty where  PropertyNameId = #{key} and PropertyValueId in (
			 ]]>
			 <foreach collection="id"    item="vls" separator=","  >
                <![CDATA[
			 #{vls}
			
			]]>
            </foreach>
             <![CDATA[
			 
			 ) )
		
			]]>
            </foreach>
			
		</if>
		<if test="colorSizeMap.size() > 0">
				and
		   <foreach collection="colorSizeMap" index="key"   item="id" separator="and"  >
                <![CDATA[
			a.id in (select ProductId from yjj_ProductSKU where status >= 0 and (
			 ]]>
			 <foreach collection="id" index="key"   item="colorSize" separator="OR"  >
                <![CDATA[
			  PropertyIds like   '%${colorSize}%'
			]]>
            </foreach>
             <![CDATA[
			 
			 )) 
		
			]]>
            </foreach>
		</if>

		<if test="tagFilterMap.size() > 0">
				and
		  <foreach collection="tagFilterMap" index="key"   item="id" separator="and"  >
                <![CDATA[
			 a.id in (SELECT  ProductId FROM yjj_ProductTag where TagId in (
			 ]]>
			
			 <foreach collection="id"    item="vl" separator=","  >
                <![CDATA[
			 #{vl}
			
			]]>
            </foreach>
             <![CDATA[
			 ) and Status = 0 )
		
			]]>
            </foreach>
			
		</if>
	</select>

	<select id="getProductOfCategory" parameterType="map" resultType="Product">
		<![CDATA[
			select *,(select logo from yjj_Subscript where id= SubscriptId) subscriptLogo
			]]>
		<if test="sortType.intValue == 10">
		<![CDATA[
		,(select visitCount from yjj_ProductVisitTemp where ProductId = a.id ) visitCount 
		]]>
		</if>
		<![CDATA[
			 from yjj_Product a
			where a.WholeSaleCash>0 AND a.id in (
		]]>
		<![CDATA[
			select ProductId from yjj_ProductCategory where Status = 0 and CategoryId in
		]]>
		<foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
			<![CDATA[
				#{categoryId}
			]]>
		</foreach>
		<![CDATA[
			) and a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where  /*sku.RemainCount>0 AND*/ sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)  and a.ShowStatus = 0 
		]]>
		<if test="sortType != null">
			<![CDATA[
				${sortType.orderSql}
			]]>
		</if>
		<![CDATA[
			limit #{pageQuery.limit} offset #{pageQuery.offset}
		]]>
	</select>

	<select id="getProductByFilter" parameterType="map" resultType="ProductVOShop">
		<![CDATA[
			select a.member_ladder_price_min as memberLadderPriceMin,a.member_ladder_price_max as memberLadderPriceMax,a.member_ladder_price_json as memberLadderPriceJson,a.*,a.badge_image as badgeImage,a.vedio_main as vedioMain,(select logo from yjj_Subscript where id = SubscriptId) subscriptLogo
			]]>
			
<!-- 	 	<if test="storeId > 0">
			<![CDATA[
			,(SELECT count(1) FROM shop_product where store_id = #{storeId} and product_id= a.id  and status = 0) uploadNum
			]]>
		</if>  -->
		
		<if test="sortType.intValue == 10">
		<![CDATA[
		,(select visitCount from yjj_ProductVisitTemp where ProductId = a.id ) visitCount 
		]]>
		</if>
		<![CDATA[
			from yjj_Product a
			left join yjj_sales_volume_product as svp on svp.product_id = a.id and svp.product_type = 2
			where a.minLadderPrice >0 
			AND a.id in (
		]]>
		<![CDATA[
			select ProductId from yjj_ProductCategory where Status = 0 and CategoryId in
		]]>
		<foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
			<![CDATA[
				#{categoryId}
			]]>
		</foreach>
		

		<![CDATA[
			) and a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where /* sku.RemainCount>0 AND V375*/sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)  and a.ShowStatus = 0 
			
		]]>
		
		<if test="guideFlag == 1">
		       
		<include refid="guideProduct"/>
		 </if>
		 <!-- if test="guideFlag == 0">
			<include refid="storeAvailableProduct"/>
		 </if -->
		
		<!--
		 <if test="storeId > 0">
		        and brandId in (SELECT brandId FROM yjj_StoreBrandRelation where BusinessNumber = #{storeId})
		 </if>
		-->
		
		<if test="brandId > 0">
		<![CDATA[
		and a.BrandId = #{brandId}
		]]>
		</if>
		<if test="keyWords.length() > 0">
		<![CDATA[
		and ((a.Name LIKE CONCAT("%", #{keyWords}, "%")) OR (a.ClothesNumber LIKE CONCAT("%", #{keyWords}, "%")) OR (a.brandName LIKE CONCAT("%", #{keyWords}, "%")))
		]]>
		</if>
		<if test="minPrice > 0">
		<![CDATA[
		and a.WholeSaleCash >= #{minPrice}
		]]>
		</if>
		<if test="maxPrice > 0">
		<![CDATA[
		and a.WholeSaleCash <= #{maxPrice}
		]]>	
		</if>
		<if test="brandType != -1">
			<![CDATA[
				and brand_type =#{brandType}
			]]>
		</if>
		
		<if test="inStock">
		<![CDATA[
		and  a.id in (select ProductId from yjj_ProductSKU where RemainCount > 0 )
		]]>	
		</if>
		<if test="onSale">
		<![CDATA[
		and   unix_timestamp() * 1000 < PromotionEndTime  and unix_timestamp() * 1000 > PromotionStartTime   and PromotionSetting = 1
		]]>	
		</if>
		
		
		<if test="filterMap.size() > 0">
				and
		  <foreach collection="filterMap" index="key"   item="id" separator="and"  >
                <![CDATA[
			 a.id in (select ProductId from yjj_ProductProperty where  PropertyNameId = #{key} and PropertyValueId in (
			 ]]>
			
			 <foreach collection="id"    item="vls" separator=","  >
                <![CDATA[
			 #{vls}
			
			]]>
            </foreach>
             <![CDATA[
			 ) )
		
			]]>
            </foreach>
			
		</if>
				<if test="colorSizeMap.size() > 0">
				and
		  <foreach collection="colorSizeMap" index="key"   item="id" separator="and"  >
                <![CDATA[
			a.id in (select ProductId from yjj_ProductSKU where status >= 0 and (
			 ]]>
			 <foreach collection="id" index="key"   item="colorSize" separator="OR"  >
                <![CDATA[
			  PropertyIds like   '%${colorSize}%'
			]]>
            </foreach>
             <![CDATA[
			 
			 )) 
		
			]]>
            </foreach>
		</if>
		<if test="tagFilterMap.size() > 0">
				and
		  <foreach collection="tagFilterMap" index="key"   item="id" separator="and"  >
                <![CDATA[
			 a.id in (SELECT  ProductId FROM yjj_ProductTag where TagId in (
			 ]]>
			
			 <foreach collection="id"    item="vl" separator=","  >
                <![CDATA[
			 #{vl}
			
			]]>
            </foreach>
             <![CDATA[
			 ) and Status = 0 )
		
			]]>
            </foreach>
			
		</if>
		
		<if test="sortType != null">
			<![CDATA[
				${sortType.orderSql}
			]]>
		</if>
		<![CDATA[
			limit #{pageQuery.limit} offset #{pageQuery.offset}
		]]>
	</select>

	<select id="getProductByFilterAndTagIds" parameterType="map" resultType="ProductVOShop">
		<![CDATA[
			select a.*,
			a.member_ladder_price_json AS ladderPriceJson,
			a.member_ladder_price_json AS memberLadderPriceJson,
			a.member_ladder_price_min AS memberLadderPriceMin,
			a.member_ladder_price_max AS memberLadderPriceMax,
			a.badge_image as badgeImage,a.vedio_main as vedioMain,(select logo from yjj_Subscript where id = SubscriptId) subscriptLogo
			]]>
			
<!-- 	 	<if test="storeId > 0">
			<![CDATA[
			,(SELECT count(1) FROM shop_product where store_id = #{storeId} and product_id= a.id  and status = 0) uploadNum
			]]>
		</if>  -->
		
		<if test="sortType.intValue == 10">
		<![CDATA[
		,(select visitCount from yjj_ProductVisitTemp where ProductId = a.id ) visitCount 
		]]>
		</if>
		<![CDATA[
			from yjj_Product a
			where a.minLadderPrice >0 AND a.vip = #{vip} AND a.id in (
		]]>
		<![CDATA[
			SELECT ProductId FROM yjj_ProductTag WHERE STATUS = 0 AND TagId IN 
		]]>
		<foreach collection="tagIds" item="tagId" open="(" separator="," close=")">
			<![CDATA[
				#{tagId}
			]]>
		</foreach>
		

		<![CDATA[
			) and a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where/* sku.RemainCount>0 AND*/ sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)  and a.ShowStatus = 0 
			
		]]>
		
		<if test="guideFlag == 1">
		       
		<include refid="guideProduct"/>
		 </if>
		 <!-- if test="guideFlag == 0">
			<include refid="storeAvailableProduct"/>
		 </if -->
		
		<!--
		 <if test="storeId > 0">
		        and brandId in (SELECT brandId FROM yjj_StoreBrandRelation where BusinessNumber = #{storeId})
		 </if>
		-->
		
		<if test="brandId > 0">
		<![CDATA[
		and a.BrandId = #{brandId}
		]]>
		</if>
		<if test="keyWords.length() > 0">
		<![CDATA[
		and a.Name like  concat("%", #{keyWords}, "%")
		]]>
		</if>
		<if test="minPrice > 0">
		<![CDATA[
		and a.WholeSaleCash >= #{minPrice}
		]]>
		</if>
		<if test="maxPrice > 0">
		<![CDATA[
		and a.WholeSaleCash <= #{maxPrice}
		]]>	
		</if>
		<if test="brandType != -1">
			<![CDATA[
				and a.brand_type =#{brandType}
			]]>
		</if>
		
		<if test="inStock">
		<![CDATA[
		and  a.id in (select ProductId from yjj_ProductSKU where RemainCount > 0 )
		]]>	
		</if>
		<if test="onSale">
		<![CDATA[
		and   unix_timestamp() * 1000 < PromotionEndTime  and unix_timestamp() * 1000 > PromotionStartTime   and PromotionSetting = 1
		]]>	
		</if>
		
		
		<if test="filterMap.size() > 0">
				and
		  <foreach collection="filterMap" index="key"   item="id" separator="and"  >
                <![CDATA[
			 a.id in (select ProductId from yjj_ProductProperty where  PropertyNameId = #{key} and PropertyValueId in (
			 ]]>
			
			 <foreach collection="id"    item="vls" separator=","  >
                <![CDATA[
			 #{vls}
			
			]]>
            </foreach>
             <![CDATA[
			 ) )
		
			]]>
            </foreach>
			
		</if>
				<if test="colorSizeMap.size() > 0">
				and
		  <foreach collection="colorSizeMap" index="key"   item="id" separator="and"  >
                <![CDATA[
			a.id in (select ProductId from yjj_ProductSKU where status >= 0 and (
			 ]]>
			 <foreach collection="id" index="key"   item="colorSize" separator="OR"  >
                <![CDATA[
			  PropertyIds like   '%${colorSize}%'
			]]>
            </foreach>
             <![CDATA[
			 
			 )) 
		
			]]>
            </foreach>
		</if>
		<if test="tagFilterMap.size() > 0">
				and
		  <foreach collection="tagFilterMap" index="key"   item="id" separator="and"  >
                <![CDATA[
			 a.id in (SELECT  ProductId FROM yjj_ProductTag where TagId in (
			 ]]>
			
			 <foreach collection="id"    item="vl" separator=","  >
                <![CDATA[
			 #{vl}
			
			]]>
            </foreach>
             <![CDATA[
			 ) and Status = 0 )
		
			]]>
            </foreach>
			
		</if>
		
		<if test="sortType != null">
			<![CDATA[
				${sortType.orderSql}
			]]>
		</if>
		<![CDATA[
			limit #{pageQuery.limit} offset #{pageQuery.offset}
		]]>
	</select>
	
	<select id="getProductCountOfBrand" parameterType="map" resultType="int">
		<![CDATA[
			select count(1) from yjj_Product a
			where a.BrandId=#{brandId} 
		]]>
		<![CDATA[
			  and a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where  sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)  and a.ShowStatus = 0 
			 and a.id not in (select ProductId from yjj_Category b, yjj_ProductCategory c where b.id=c.categoryid and b.categorytype=2 and c.status=0)
		]]>
	</select>

	<select id="getProductOfBrand" parameterType="map" resultType="Product">
		<![CDATA[
			select * ,(select logo from yjj_Subscript where id= SubscriptId) subscriptLogo
			]]>
		<if test="sortType.intValue == 10">
		<![CDATA[
		,(select visitCount from yjj_ProductVisitTemp where ProductId = a.id ) visitCount 
		]]>
		</if>
		<![CDATA[
			 from yjj_Product a
			where a.BrandId=#{brandId} 
		]]>
		<![CDATA[
			 and a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where /* sku.RemainCount>0 AND*/ sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)  and a.ShowStatus = 0  
			and a.id not in (select ProductId from yjj_Category b, yjj_ProductCategory c where b.id=c.categoryid and b.categorytype=2 and c.status=0)
		]]>
		<if test="sortType != null">
			<![CDATA[
				${sortType.orderSql}
			]]>
		</if>
		<![CDATA[
			limit #{pageQuery.limit} offset #{pageQuery.offset}
		]]>
	</select>
	
	<select id="getProductCountOfCategoryProperty" parameterType="map" resultType="int">
		<![CDATA[
			select count(1) from yjj_Product a
			where a.WholeSaleCash>0 AND a.id in (
		]]>
		<![CDATA[
			select b.ProductId from yjj_ProductCategory b, yjj_ProductProperty c where b.Status = 0 and b.CategoryId in
		]]>
		<foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
			<![CDATA[
				#{categoryId}
			]]>
		</foreach>
		<![CDATA[
			and b.ProductId = c.ProductId and c.PropertyValueId in
		]]>
		<foreach collection="propertyValueIds" item="propertyValueId" open="(" separator="," close=")">
			<![CDATA[
				#{propertyValueId}
			]]>
		</foreach>
		<![CDATA[
			)  and a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where  /*sku.RemainCount>0 AND */sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)  and a.ShowStatus = 0 
		]]>
	</select>

	<select id="getProductOfCategoryProperty" parameterType="map" resultType="Product">
		<![CDATA[
			select *,(select logo from yjj_Subscript where id= SubscriptId) subscriptLogo
			]]>
		<if test="sortType.intValue == 10">
		<![CDATA[
		,(select visitCount from yjj_ProductVisitTemp where ProductId = a.id ) visitCount 
		]]>
		</if>
		<![CDATA[
			 from yjj_Product a
			where a.WholeSaleCash>0 AND a.id in (
				select b.ProductId from yjj_ProductCategory b, yjj_ProductProperty c where b.Status = 0 and b.CategoryId in
		]]>
		<foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
			<![CDATA[
				#{categoryId}
			]]>
		</foreach>
		<![CDATA[
			and b.ProductId = c.ProductId and c.PropertyValueId in
		]]>
		<foreach collection="propertyValueIds" item="propertyValueId" open="(" separator="," close=")">
			<![CDATA[
				#{propertyValueId}
			]]>
		</foreach>
		<![CDATA[
			)  and a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where /* sku.RemainCount>0 AND*/ sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)  and a.ShowStatus = 0 
		]]>
		<if test="sortType != null">
			<![CDATA[
				${sortType.orderSql}
			]]>
		</if>
		<![CDATA[
			limit #{pageQuery.limit} offset #{pageQuery.offset}
		]]>
	</select>
	
	<select id="getBestSellerProductCount" resultType="int">
		<![CDATA[
			select count(1) from yjj_Product a
			where  a.WholeSaleCash>0 AND a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where  sku.Status >= 0 /*and sku.remainCount > 0 */and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)  and a.ShowStatus = 0 and a.id in (select product_id from jiuy_boutique_product where status = 0 )
		]]>
	</select>
	
	<!-- select id="getUserBestSellerProductList186" parameterType="map" resultType="ProductVOShop">
		<![CDATA[
			select a.*,(select logo from yjj_Subscript where id= SubscriptId) subscriptLogo  from yjj_Product a
			where  a.ShowStatus = 0 and a.id in (select product_id from jiuy_boutique_product where status = 0 )
            and a.brandId <> 572  and a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where  sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)
			]]>
			<include refid="storeAvailableProduct"/>
			<if test = "storeId > 0">
			< [CDATA[
			order by  (a.HotSttstcs - (SELECT 30 * 0.4 * ifnull(sum(BuyCount),0) FROM yjj_OrderItem where userId = #{storeId} and ProductId = a.Id)
				            	- 0.25 * (SELECT IFNULL(Count, 0) FROM yjj_UserVisitHistory where type=0 and RelatedId = a.Id and userId = #{storeId} )
				 				-10 * 0.25 * (SELECT count(1) FROM yjj_UserFavorite where type=0 and status =0 and RelatedId = a.Id and userId = #{storeId})
								-20 * 0.25 * (select count(1)  FROM yjj_ShoppingCart where ProductId = a.Id and userId = #{storeId})
								)* ifnull(( select Weight from yjj_ProductSeasonWeight where SeasonValue =  (SELECT PropertyValueId FROM yjj_ProductProperty where  PropertyNameId = 9 and ProductId = a.id)),1) desc
			]]>
			</if>
			<if test = "storeId == 0">
			<![CDATA[
			order by a.HotSttstcs * ifnull(( select Weight from yjj_ProductSeasonWeight where SeasonValue =  (SELECT PropertyValueId FROM yjj_ProductProperty where  PropertyNameId = 9 and ProductId = a.id)),1)  desc
			]]>
			</if 
			<![CDATA[
			order by a.Weight desc 
			]]>
			<![CDATA[
			limit #{pageQuery.limit} offset #{pageQuery.offset}
		]]>
	</select -->
	<select id="getUserBestSellerProductList186" parameterType="map" resultType="ProductVOShop">
		<![CDATA[
			select a.*,a.badge_image as badgeImage,a.vedio_main as vedioMain,(select logo from yjj_Subscript where id= SubscriptId) subscriptLogo  from yjj_Product a
			where  a.WholeSaleCash>0 AND a.ShowStatus = 0 and a.id in (select product_id from jiuy_boutique_product where status = 0 )
            and a.brandId <> 572  and a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where /*sku.RemainCount>0 AND  V375:显示库存0 */ sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)
			]]>
			<if test = "storeId != 0">
			<![CDATA[
			AND a.Id NOT IN (SELECT product_id FROM shop_product 
			WHERE STATUS=0 AND (sold_out=0 OR sold_out=1) AND store_id=#{storeId})
			]]>
			</if>
			<!-- include refid="storeAvailableProduct"/ -->
			<![CDATA[
			ORDER BY a.Weight DESC,(SELECT update_time FROM jiuy_boutique_product WHERE product_id=a.Id) DESC
			limit #{pageQuery.limit} offset #{pageQuery.offset}
			]]>
	</select>

	<!-- sql暂未使用 -->
	<select id="getUserBuyGuessProduct186" parameterType="map" resultType="ProductVOShop">
		<![CDATA[
			select a.*,(select logo from yjj_Subscript where id= SubscriptId) subscriptLogo  from yjj_Product a
			where  a.WholeSaleCash>0 AND a.ShowStatus = 0 
            and a.brandId <> 572  and a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where /*sku.RemainCount>0 AND */ sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)
			
			]]>
			
			<if test = "storeId > 0">
			<![CDATA[
			order by (a.CartSttstcs - (SELECT 30 * 0.3 * ifnull(sum(BuyCount),0) FROM yjj_OrderItem where userId = #{storeId} and ProductId = a.Id)
				            	+ (15 - 0.2) * (SELECT IFNULL(Count, 0) FROM yjj_UserVisitHistory where type=0 and RelatedId = a.Id and userId = #{storeId} )
				 				- 10 * 0.2 * (SELECT count(1) FROM yjj_UserFavorite where type=0 and status =0 and RelatedId = a.Id and userId = #{storeId})
								- 20 * 0.2 * (select count(1)  FROM yjj_ShoppingCart where ProductId = a.Id and userId = #{storeId})
			) desc
			]]>
			</if>
			<if test = "storeId == 0">
			<![CDATA[
			order by a.CartSttstcs  desc
			]]>
			</if>
			<![CDATA[
			
			limit #{pageQuery.limit} offset #{pageQuery.offset}
			
		]]>
	</select>
		
	<select id="getBestSellerProductList185" parameterType="map" resultType="ProductVOShop">
		<![CDATA[
			select * ,(select logo from yjj_Subscript where id= SubscriptId) subscriptLogo
			]]>
		<if test="sortType.intValue == 10">
		<![CDATA[
		,(select visitCount from yjj_ProductVisitTemp where ProductId = a.id ) visitCount 
		]]>
		</if>
		<![CDATA[
			 from yjj_Product a
			where  a.WholeSaleCash>0 AND a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where /*sku.RemainCount>0 AND */ sku.Status >= 0 and sku.remainCount > 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000 )
			)  and a.ShowStatus = 0 
			
			]]>
		<if test="sortType != null">
			<![CDATA[
				${sortType.orderSql}
			]]>
		</if>
		<![CDATA[
			limit #{pageQuery.limit} offset #{pageQuery.offset}
		]]>
	</select>
	
	<update id="updateSaleCount" parameterType="map">
		<![CDATA[
			update yjj_Product
			set SaleTotalCount = SaleTotalCount + #{by}
			where Id = #{id} and SaleTotalCount + #{by} >= 0
		]]>
	</update>
	
	<select id="getProductBySaleTime" parameterType="map" resultType="Product">
		<![CDATA[
			select *,(select logo from yjj_Subscript where id= SubscriptId) subscriptLogo, (SELECT count(1) FROM yjj_ProductSKU sku where   sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000) and ProductId =a.Id) skuOnSaleNum
			]]>
		<if test="sortType.intValue == 10">
		<![CDATA[
		,(select visitCount from yjj_ProductVisitTemp where ProductId = a.id ) visitCount 
		]]>
		</if>
		<![CDATA[
			 from yjj_Product a
			where a.id in (
		]]>
		<![CDATA[
			select ProductId from yjj_ProductCategory where Status = 0 and CategoryId in
		]]>
		<foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
			<![CDATA[
				#{categoryId}
			]]>
		</foreach>
		<![CDATA[
			) and a.Status = 0 and a.ShowStatus > 0 and a.SaleStartTime >= #{startTimeBegin} and a.SaleStartTime <= #{startTimeEnd}
		]]>
		<if test="sortType != null">
			<![CDATA[
				${sortType.orderSql}
			]]>
		</if>
	</select>
	
	<select id="getBrandIds" resultType="long">
		<![CDATA[
			select distinct(a.BrandId) from yjj_Product a
			where a.id in 
		]]>
		<foreach collection="productIds" item="productId" open="(" separator="," close=")">
			<![CDATA[
				#{productId}
			]]>
		</foreach>
		<![CDATA[
			 and a.Status = 0 
		]]>
	</select>
	
	<select id="getProductListByIds" resultType="ProductVOShop">
	<![CDATA[
			select a.*,a.badge_image as badgeImage from yjj_Product a
			where a.id in 
		]]>
		<foreach collection="productIds" item="productId" open="(" separator="," close=")">
			<![CDATA[
				#{productId}
			]]>
		</foreach>
	</select>
	
	<select id="getBuyAlsoProduct" resultType="Product">
		SELECT 
		    *
		FROM
		    (SELECT 
		        ProductId, COUNT(*)
		    FROM
		        (SELECT a.*
		    	FROM
		        	(SELECT DISTINCT (UserId)
		    		FROM
		        		yjj_OrderItem
		    		WHERE
		        		ProductId in 
					<foreach collection="productIds" item="productId" open="(" separator="," close=")">
						<![CDATA[
							#{productId}
						]]>
					</foreach>) AS e
		    		LEFT JOIN yjj_OrderItem a ON e.UserId = a.UserId
		    	WHERE
		        	ProductId NOT IN 
		        	<foreach collection="productIds" item="productId" open="(" separator="," close=")">
						<![CDATA[
							#{productId}
						]]>
					</foreach>) AS b
		    	GROUP BY 
		    		ProductId
		    	ORDER BY 
		    		COUNT(*) DESC limit #{count}) AS c
		LEFT JOIN
		    yjj_Product d ON c.ProductId = d.Id
		WHERE 
		ProductId in (select productId from yjj_ProductSKU 
	 		<![CDATA[
		 			where name <> "补差价" and status > -1 and remainCount > 0 
		 				and saleStartTime < unix_timestamp()*1000 and (saleEndTime = 0 or saleEndTime > unix_timestamp()*1000))
		 	]]>
		LIMIT #{pageQuery.limit}
	</select>
	
		
	<select id="getZeroBuyerLog" parameterType="map" resultType="int">
		<![CDATA[
			select IFNULL(sum(BuyCount), 0) from yjj_OrderItem a
			where a.UserId = #{storeId} and Money < 1.0
		]]>
		<![CDATA[
			and a.CreateTime >= #{time}
		]]>
	</select>
		
	<select id="getZeroBuyerMonthly" parameterType="map" resultType="int">
		<![CDATA[
			select IFNULL(sum(BuyCount), 0) from yjj_OrderItem a
			where a.UserId = #{storeId} and Money < 1.0
		
			and a.CreateTime >= #{startTime}
			and a.CreateTime <= #{endTime}
		]]>
	</select>
	
	<select id="getUserRestrictBuy" parameterType="map" resultType="int">
		<![CDATA[
			select IFNULL(sum(BuyCount), 0) from yjj_OrderItem a
			where a.UserId = #{storeId} and ProductId in(
			select id FROM yjj_Product where RestrictId = #{restrictId}
			) and a.CreateTime >= #{startTime}
			and a.CreateTime <= #{endTime}
		]]>
	</select>
	
	<select id="getUserRestrictBuyByStoreOrder" parameterType="map" resultType="int">
		<![CDATA[
			SELECT IFNULL(SUM(BuyCount), 0) FROM store_OrderItem a JOIN store_Order b
			WHERE a.storeId = #{storeId} AND ProductId IN(
			SELECT id FROM yjj_Product WHERE RestrictId = #{restrictId}
			) AND a.CreateTime >= #{startTime} AND b.orderStatus NOT IN (100 , 90) AND b.STATUS = 0
			AND a.CreateTime <= #{endTime} AND b.OrderNo=a.OrderNo
		]]>
	</select>
	
	<select id="getBuyerLogByStoreOrder" parameterType="map" resultType="RestrictProductVO">
		SELECT 
		    c.Id AS ProductId,
		    c.RestrictCycle,
		    c.RestrictDayBuy,
		    c.RestrictHistoryBuy,
		    c.RestrictDayBuyTime,
		    c.RestrictHistoryBuyTime,
		    b.BuyCount,
		    a.CreateTime
		FROM
		    (SELECT 
		        *
		    FROM
		        store_Order
		    WHERE
		        orderStatus NOT IN (100 , 90)
		            AND Status = 0
		            AND storeId = #{storeId}
			) AS a
		        JOIN
		    store_OrderItem b ON a.OrderNo = b.OrderNo
		        JOIN
		    yjj_Product c ON c.Id = b.ProductId
		WHERE
		    b.Status = 0 AND ProductId IN
		    	<foreach collection="productIds" item="productId" open="(" separator="," close=")">
					<![CDATA[
						#{productId}
					]]>
				</foreach>
		order by ProductId
	</select>
	
	<select id="getProductOfWarehouse" parameterType="map" resultType="Product">
		<![CDATA[
			select *,a.badge_image as badgeImage,(select logo from yjj_Subscript where id= SubscriptId) subscriptLogo
			]]>
		<if test="sortType.intValue == 10">
		<![CDATA[
		,(select visitCount from yjj_ProductVisitTemp where ProductId = a.id ) visitCount 
		]]>
		</if>
		<![CDATA[
			 from yjj_Product a
			where a.LOWarehouseId = #{loWarehouseId} 
		]]>
		<![CDATA[
			 and a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where  sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)  and a.ShowStatus = 0  
		]]>
		<if test="sortType != null">
			<![CDATA[
				${sortType.orderSql}
			]]>
		</if>
		<![CDATA[
			limit #{pageQuery.limit} offset #{pageQuery.offset}
		]]>
	</select>
	
	<select id="getProductCountOfWarehouse" parameterType="map" resultType="int">
		<![CDATA[
			select count(1) from yjj_Product a
			where a.LOWarehouseId = #{loWarehouseId} 
		]]>
		<![CDATA[
			  and a.id in (
            select sku.ProductId from yjj_ProductSKU sku
			where  sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)  and a.ShowStatus = 0 
		]]>
	</select>
	
	<select id="getProductBySkuNo" resultType="Product">
		select * from yjj_Product 
		where Id in 
			(select distinct(ProductId) from yjj_ProductSKU 
				where SkuNo = #{skuNo})
	</select>
	
	<select id="getProductByBrandIds" resultType="ProductVOShop">
		<![CDATA[
		select * from yjj_Product a  where a.status=0 and a.Id in (
            select sku.ProductId from yjj_ProductSKU sku
			where/* sku.RemainCount>0 and */sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)  and a.ShowStatus = 0   AND a.minLadderPrice >0 
			]]>
		<if test="categoryIds != null">
			<![CDATA[
				and a.id in (select ProductId from yjj_ProductCategory where Status = 0 and CategoryId in
			]]>
			<foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
				<![CDATA[
					#{categoryId}
				]]>
			</foreach>
			<![CDATA[
				)
			]]>
		</if>
		<if test="brandIds.size > 0">
		<![CDATA[
		and BrandId IN
		]]>
		<foreach collection="brandIds" item="brandId" open="(" separator="," close=")">
			<![CDATA[
				#{brandId}
			]]>
		</foreach>
		</if>
		<if test="guideFlag == 1">
		<![CDATA[
		and (Type = 0 or Type = 1)
		]]>
		</if>
		<if test="guideFlag == 0">
		<![CDATA[
		and (Type = 1 or Type = 2)
		]]>
		</if>
		
		<if test="type == 0">
		<![CDATA[
		
		order by CartSttstcs desc
		]]>
		</if>
		<if test="type > 0">
		<![CDATA[
		
		order by HotSttstcs DESC
		]]>
		</if>
	</select>
	
	
		<select id="getStoreAvailableBrandStr" parameterType="map" resultType="String">
		<![CDATA[
			SELECT  group_concat(brandId) str FROM yjj_StoreBrandRelation where StoreId= #{storeId} and Status = 0
			
		]]>
	</select>
	
		<select id="getProductMapByOrderNo" resultType="ProductVOShop">
		<![CDATA[
			select *,(select logo from yjj_Subscript where id = a.SubscriptId) subscriptLogo, (SELECT count(1) FROM yjj_ProductSKU sku where   sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000) and ProductId =a.Id) skuOnSaleNum
			
			 from yjj_Product a
			where Id in (select ProductId from store_OrderItem where OrderNo =#{orderNo})
		]]>
	</select>
	
	<select id="getProduct" resultType="Product">
		select a.*,a.badge_image as badgeImage,a.member_ladder_price_min as memberLadderPriceMin,a.member_ladder_price_max as memberLadderPriceMax from yjj_Product a
		where Id = #{id}
	</select>
	
		
	<select id="getProductShareByProId" resultType="ProductShare">
		<![CDATA[
			select * from yjj_ProductShare
			where ProductId = #{id} limit 1
		]]>
	</select>
	
	<select id="getAllProductIdsByUser" resultType="long">
		<![CDATA[
			SELECT b.productId as ProductId 
			FROM yjj_Order a 
			join yjj_OrderItem b ON a.Id = b.OrderId 
			JOIN yjj_Product c ON c.Id = b.ProductId
			WHERE a.orderStatus NOT IN (100 , 90) AND a.STATUS = 0 AND a.UserId =#{storeId} and b.Status = 0 and c.RestrictId IN
		]]>
		<foreach collection="restrictIds" item="restrictId" open="(" separator="," close=")">
					<![CDATA[
						#{restrictId}
					]]>
		</foreach>
		<![CDATA[
			group by ProductId
		]]>
	</select>
	
	<select id="getProductCountsByRestrictId" parameterType="map" resultType="int">
		<![CDATA[
			SELECT 	COALESCE(SUM(b.BuyCount),0)
			FROM (SELECT * FROM yjj_Order WHERE orderStatus NOT IN (100 , 90) AND STATUS = 0 AND UserId =#{storeId}) AS a
     		JOIN
     		yjj_OrderItem b ON a.Id = b.OrderId
     		JOIN
     		yjj_Product c ON c.Id = b.ProductId
     		WHERE
     		b.Status = 0 AND a.CreateTime>#{restrictDayTime} AND c.RestrictId=#{restrictionCombinationId}
		]]>
	</select>
	
	<select id="getTagProducts" parameterType="map" resultType="ProductVOShop">
		<![CDATA[
			SELECT a.*,a.badge_image as badgeImage FROM yjj_Product a
			WHERE  a.WholeSaleCash>0 AND a.ShowStatus = 0 AND a.id IN (SELECT product_id FROM jiuy_boutique_product WHERE STATUS = 0 ) 
            AND a.id IN (
            SELECT sku.ProductId FROM yjj_ProductSKU sku
			WHERE/* sku.RemainCount>0 AND */ sku.Status >= 0 AND sku.SaleStartTime < UNIX_TIMESTAMP()*1000 AND (sku.SaleEndTime = 0 OR sku.SaleEndTime > UNIX_TIMESTAMP()*1000)
			)
		]]>
		<if test = "tagId > 0">
			<![CDATA[
				AND a.Id IN(SELECT ProductId FROM yjj_ProductTag WHERE TagId=#{tagId} AND STATUS=0)
			]]>
		</if>
		<if test = "storeId > 0">
			<![CDATA[
				AND a.Id NOT IN (SELECT product_id FROM shop_product WHERE STATUS=0 AND (sold_out=0 OR sold_out=2) AND store_id=#{storeId})
			]]>
		</if>
		<![CDATA[
			ORDER BY (SELECT update_time FROM jiuy_boutique_product WHERE product_id=a.Id) DESC
		]]>
		<if test = "pageQuery != null">
			<![CDATA[
				limit #{pageQuery.limit} offset #{pageQuery.offset}
			]]>
		</if>
	</select>
	<select id="getTagProductsCount" parameterType="map" resultType="int">
		<![CDATA[
			SELECT count(*) FROM yjj_Product a
			WHERE  a.WholeSaleCash>0 AND a.ShowStatus = 0 AND a.id IN (SELECT product_id FROM jiuy_boutique_product WHERE STATUS = 0 ) 
            AND a.id IN (
            SELECT sku.ProductId FROM yjj_ProductSKU sku
			WHERE/* sku.RemainCount>0 AND*/  sku.Status >= 0 AND sku.SaleStartTime < UNIX_TIMESTAMP()*1000 AND (sku.SaleEndTime = 0 OR sku.SaleEndTime > UNIX_TIMESTAMP()*1000)
			)
		]]>
		<if test = "tagId > 0">
			<![CDATA[
				AND a.Id IN(SELECT ProductId FROM yjj_ProductTag WHERE TagId=#{tagId} AND STATUS=0)
			]]>
		</if>
		<if test = "storeId > 0">
			<![CDATA[
				AND a.Id NOT IN (SELECT product_id FROM shop_product WHERE STATUS=0 AND (sold_out=0 OR sold_out=1) AND store_id=#{storeId})
			]]>
		</if>
	</select>
	
	<select id="getProductsByIds" resultType="Product">
	   <![CDATA[
			select Id, SaleStartTime, WholeSaleCash, CreateTime, UpdateTime from yjj_Product 
			where Id in 
		]]>
		<foreach collection="ids" item="productId" open="(" separator="," close=")">
					<![CDATA[
						#{productId}
					]]>
		</foreach>
	</select>


	<!-- @reference com.jiuyuan.service.common.ProductNewService#getBrandProductList -->
	<select id="getProductByBrands" resultType="ProductVOShop">
		<![CDATA[
		select * from yjj_Product a
		where a.status=0
		and a.Id in (
			select sku.ProductId from yjj_ProductSKU sku
			where  /*sku.RemainCount>0 AND  V375:显示库存0 */ sku.Status >= 0 and sku.SaleStartTime < unix_timestamp()*1000 and (sku.SaleEndTime = 0 or sku.SaleEndTime > unix_timestamp()*1000)
			)
		and a.ShowStatus = 0
	    and a.minLadderPrice >0
	    and a.delState = 0
			]]>
		<if test="categoryIds != null">
			<![CDATA[
				and a.id in (select ProductId from yjj_ProductCategory where Status = 0 and CategoryId in
			]]>
			<foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
				<![CDATA[
					#{categoryId}
				]]>
			</foreach>
			<![CDATA[
				)
			]]>
		</if>
		<if test="states != null and states.size>0">
			<![CDATA[
				and state IN
			]]>
			<foreach collection="states" item="state" open="(" separator="," close=")">
				<![CDATA[
					#{state}
				]]>
			</foreach>
		</if>
		<if test="brandIds.size > 0">
			<![CDATA[
		and BrandId IN
		]]>
			<foreach collection="brandIds" item="brandId" open="(" separator="," close=")">
				<![CDATA[
				#{brandId}
			]]>
			</foreach>
		</if>
		<if test="guideFlag == 1">
			<![CDATA[
		and (Type = 0 or Type = 1)
		]]>
		</if>
		<if test="guideFlag == 0">
			<![CDATA[
		and (Type = 1 or Type = 2)
		]]>
		</if>

		<if test="type == 0">
			<![CDATA[

		order by CartSttstcs desc
		]]>
		</if>
		<if test="type > 0">
			<![CDATA[

		order by HotSttstcs desc
		]]>
		</if>
	</select>


	<select id="checkProduct" resultType="long">
		<![CDATA[
            SELECT
            b.ProductId
            FROM
            yjj_productsku b
            JOIN yjj_product a ON a.Id = b.ProductId
			WHERE a.state = 6
			AND	b.ProductId IN
		]]>
		<foreach collection="productIds" item="productId" open="(" separator="," close=")">
			#{productId}
		</foreach>
		<![CDATA[
			GROUP BY b.ProductId HAVING SUM(b.RemainCount) > 0
		]]>
	</select>

</mapper>