<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.store.entity"/>
        <package name="com.store.constant"/>

        <package name="com.jiuyuan.entity"/>
        <package name="com.jiuyuan.constant"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.wxa.db.DynamicDataSourceInterceptor">
        </plugin>
    </plugins>
</configuration>
