<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.jiuy.rb.mapper.product.PropertyValueRbMapper"> 
 
 	<!-- 主要的返回映射-->
	<resultMap id="BaseResultMap" type="com.jiuy.rb.model.product.PropertyValueRb"	>
		<id column="Id" property="id" jdbcType="BIGINT" />
		<result column="PropertyValue"  property="propertyValue"  jdbcType="VARCHAR" />
		<result column="PropertyNameId"  property="propertyNameId"  jdbcType="BIGINT" />
		<result column="Status"  property="status"  jdbcType="TINYINT" />
		<result column="OrderIndex"  property="orderIndex"  jdbcType="TINYINT" />
		<result column="CreateTime"  property="createTime"  jdbcType="BIGINT" />
		<result column="UpdateTime"  property="updateTime"  jdbcType="BIGINT" />
		<result column="supplierId"  property="supplierId"  jdbcType="BIGINT" />
		<result column="propertyValueGroupId"  property="propertyValueGroupId"  jdbcType="BIGINT" />
	</resultMap>

	<!-- 所有的列名-->
	<sql id="Base_Column_List" >
		Id,PropertyValue,PropertyNameId,Status,OrderIndex,CreateTime,UpdateTime,supplierId,propertyValueGroupId
	</sql>

	<!-- 精确更新的字段-->
	<sql id="updateBase">
		<if test="id  !=null">
			Id = #{id,jdbcType=BIGINT}, 
		</if>
		<if test="propertyValue  !=null">
			PropertyValue = #{propertyValue,jdbcType=VARCHAR}, 
		</if>
		<if test="propertyNameId  !=null">
			PropertyNameId = #{propertyNameId,jdbcType=BIGINT}, 
		</if>
		<if test="status  !=null">
			Status = #{status,jdbcType=TINYINT}, 
		</if>
		<if test="orderIndex  !=null">
			OrderIndex = #{orderIndex,jdbcType=TINYINT}, 
		</if>
		<if test="createTime  !=null">
			CreateTime = #{createTime,jdbcType=BIGINT}, 
		</if>
		<if test="updateTime  !=null">
			UpdateTime = #{updateTime,jdbcType=BIGINT}, 
		</if>
		<if test="supplierId  !=null">
			supplierId = #{supplierId,jdbcType=BIGINT}, 
		</if>
		<if test="propertyValueGroupId  !=null">
			propertyValueGroupId = #{propertyValueGroupId,jdbcType=BIGINT} 
		</if>
	</sql>

	<!-- 通过主键查找-->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
		select 
		<include refid="Base_Column_List" />
		from yjj_propertyvalue
		where  Id = #{id,jdbcType=BIGINT} 
	</select>

	<!-- 通过主键删除-->
	<delete id="deleteByPrimaryKey" parameterType="Long" >
		delete from yjj_propertyvalue
		where Id = #{id,jdbcType=BIGINT} 
	</delete>

	<!-- 普通插入全字段插t入-->
	<insert id="insert" parameterType="com.jiuy.rb.model.product.PropertyValueRb" >
		insert into yjj_propertyvalue
		(
			Id,
			PropertyValue,
			PropertyNameId,
			Status,
			OrderIndex,
			CreateTime,
			UpdateTime,
			supplierId,
			propertyValueGroupId
		)
		values
		(
			#{id ,jdbcType=BIGINT},
			#{propertyValue ,jdbcType=VARCHAR},
			#{propertyNameId ,jdbcType=BIGINT},
			#{status ,jdbcType=TINYINT},
			#{orderIndex ,jdbcType=TINYINT},
			#{createTime ,jdbcType=BIGINT},
			#{updateTime ,jdbcType=BIGINT},
			#{supplierId ,jdbcType=BIGINT},
			#{propertyValueGroupId ,jdbcType=BIGINT}
		)
	</insert>

	<!-- 批量插入，全部字段插入-->
	<insert id="insertBach"   parameterType="List" useGeneratedKeys="true" keyProperty="id">
		insert into yjj_propertyvalue
		(
			Id,
			PropertyValue,
			PropertyNameId,
			Status,
			OrderIndex,
			CreateTime,
			UpdateTime,
			supplierId,
			propertyValueGroupId
		)
		values 
		<foreach collection="list" item="item" separator=",">
		(
			#{item.id ,jdbcType=BIGINT},
			#{item.propertyValue ,jdbcType=VARCHAR},
			#{item.propertyNameId ,jdbcType=BIGINT},
			#{item.status ,jdbcType=TINYINT},
			#{item.orderIndex ,jdbcType=TINYINT},
			#{item.createTime ,jdbcType=BIGINT},
			#{item.updateTime ,jdbcType=BIGINT},
			#{item.supplierId ,jdbcType=BIGINT},
			#{item.propertyValueGroupId ,jdbcType=BIGINT}
		)
		</foreach>
	</insert>

	<!-- 精确插入，非null得字段才会插入-->
	<insert id="insertSelective" parameterType="com.jiuy.rb.model.product.PropertyValueRb" useGeneratedKeys="true" keyProperty="id" >
		insert into yjj_propertyvalue
		<trim prefix="(" suffix=")" suffixOverrides="," > 
			<if test="id !=null">  
				Id,
			</if>
			<if test="propertyValue !=null">  
				PropertyValue,
			</if>
			<if test="propertyNameId !=null">  
				PropertyNameId,
			</if>
			<if test="status !=null">  
				Status,
			</if>
			<if test="orderIndex !=null">  
				OrderIndex,
			</if>
			<if test="createTime !=null">  
				CreateTime,
			</if>
			<if test="updateTime !=null">  
				UpdateTime,
			</if>
			<if test="supplierId !=null">  
				supplierId,
			</if>
			<if test="propertyValueGroupId !=null">  
				propertyValueGroupId,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id  !=null">
				#{id,jdbcType=BIGINT}, 
			</if>
			<if test="propertyValue  !=null">
				#{propertyValue,jdbcType=VARCHAR}, 
			</if>
			<if test="propertyNameId  !=null">
				#{propertyNameId,jdbcType=BIGINT}, 
			</if>
			<if test="status  !=null">
				#{status,jdbcType=TINYINT}, 
			</if>
			<if test="orderIndex  !=null">
				#{orderIndex,jdbcType=TINYINT}, 
			</if>
			<if test="createTime  !=null">
				#{createTime,jdbcType=BIGINT}, 
			</if>
			<if test="updateTime  !=null">
				#{updateTime,jdbcType=BIGINT}, 
			</if>
			<if test="supplierId  !=null">
				#{supplierId,jdbcType=BIGINT}, 
			</if>
			<if test="propertyValueGroupId  !=null">
				#{propertyValueGroupId,jdbcType=BIGINT} 
			</if>
		</trim>
	</insert> 

	<!-- 精确更新-->
	<update id="updateByPrimaryKeySelective" parameterType="com.jiuy.rb.model.product.PropertyValueRb" >
		update yjj_propertyvalue
		<set>
			<include refid="updateBase"/>
		</set>
		where Id = #{id,jdbcType=BIGINT} 
	</update> 

	<!-- 全字段更新 需要注意-->
	<update id="updateByPrimaryKey" parameterType="com.jiuy.rb.model.product.PropertyValueRb" >
		update yjj_propertyvalue
		set 
			Id = #{id ,jdbcType=BIGINT},
			PropertyValue = #{propertyValue ,jdbcType=VARCHAR},
			PropertyNameId = #{propertyNameId ,jdbcType=BIGINT},
			Status = #{status ,jdbcType=TINYINT},
			OrderIndex = #{orderIndex ,jdbcType=TINYINT},
			CreateTime = #{createTime ,jdbcType=BIGINT},
			UpdateTime = #{updateTime ,jdbcType=BIGINT},
			supplierId = #{supplierId ,jdbcType=BIGINT},
			propertyValueGroupId = #{propertyValueGroupId ,jdbcType=BIGINT}
		where Id = #{id,jdbcType=BIGINT} 
	</update> 

	<!-- 所有的条件集合-->
	<sql id="whereCase"  >
		where  1=1 
		<if test="id  !=null">
			AND Id = #{id,jdbcType=BIGINT} 
		</if>
		<if test="propertyValue  !=null">
			AND PropertyValue = #{propertyValue,jdbcType=VARCHAR} 
		</if>
		<if test="propertyNameId  !=null">
			AND PropertyNameId = #{propertyNameId,jdbcType=BIGINT} 
		</if>
		<if test="status  !=null">
			AND Status = #{status,jdbcType=TINYINT} 
		</if>
		<if test="orderIndex  !=null">
			AND OrderIndex = #{orderIndex,jdbcType=TINYINT} 
		</if>
		<if test="createTime  !=null">
			AND CreateTime = #{createTime,jdbcType=BIGINT} 
		</if>
		<if test="updateTime  !=null">
			AND UpdateTime = #{updateTime,jdbcType=BIGINT} 
		</if>
		<if test="supplierId  !=null">
			AND supplierId = #{supplierId,jdbcType=BIGINT} 
		</if>
		<if test="propertyValueGroupId  !=null">
			AND propertyValueGroupId = #{propertyValueGroupId,jdbcType=BIGINT} 
		</if>
		<include refid="costomWhereCase"/>
	</sql>

	<!-- 查询一条，如果返回多条会报错-->
	<select id="selectOne" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" /> 
		FROM yjj_propertyvalue 
		<include refid="whereCase" /> 
	</select>

	<!-- 查询一个list-->
	<select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" /> 
		FROM yjj_propertyvalue 
		<include refid="whereCase" /> 
	</select>

	<!-- 查询一个list-->
	<select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT
		count(1) 
		FROM yjj_propertyvalue
		<include refid="whereCase" /> 
	</select>

	<!--  @Costom -->
	<!-- 从上一行注释以上为系统生成 从这一行往下为用户自定义 请将自定义的sql放在此行下面 -->
	<sql id="costomWhereCase">
		<if test="ids != null">
			AND id IN
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
		</if>
	</sql>

</mapper>