<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.jiuy.rb.mapper.product.SecondBuyActivityRbMapper"> 
 
 	<!-- 主要的返回映射-->
	<resultMap id="BaseResultMap" type="com.jiuy.rb.model.product.SecondBuyActivityRb"	>
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="store_id"  property="storeId"  jdbcType="BIGINT" />
		<result column="activity_title"  property="activityTitle"  jdbcType="VARCHAR" />
		<result column="shop_product_id"  property="shopProductId"  jdbcType="BIGINT" />
		<result column="clothes_number"  property="clothesNumber"  jdbcType="VARCHAR" />
		<result column="shop_product_name"  property="shopProductName"  jdbcType="VARCHAR" />
		<result column="shop_product_mainimg"  property="shopProductMainimg"  jdbcType="VARCHAR" />
		<result column="activity_product_price"  property="activityProductPrice"  jdbcType="DECIMAL" />
		<result column="activity_price"  property="activityPrice"  jdbcType="DECIMAL" />
		<result column="activity_product_count"  property="activityProductCount"  jdbcType="INTEGER" />
		<result column="activity_start_time"  property="activityStartTime"  jdbcType="BIGINT" />
		<result column="activity_end_time"  property="activityEndTime"  jdbcType="BIGINT" />
		<result column="activity_hand_end_time"  property="activityHandEndTime"  jdbcType="BIGINT" />
		<result column="activity_member_count"  property="activityMemberCount"  jdbcType="INTEGER" />
		<result column="del_state"  property="delState"  jdbcType="TINYINT" />
		<result column="create_time"  property="createTime"  jdbcType="BIGINT" />
		<result column="update_time"  property="updateTime"  jdbcType="BIGINT" />
		<result column="shop_product_showcase_imgs"  property="shopProductShowcaseImgs"  jdbcType="VARCHAR" />
		<result column="ordered_product_count"  property="orderedProductCount"  jdbcType="INTEGER" />
	</resultMap>

	<!-- 所有的列名-->
	<sql id="Base_Column_List" >
		id,store_id,activity_title,shop_product_id,clothes_number,shop_product_name,shop_product_mainimg,activity_product_price,activity_price,
		activity_product_count,activity_start_time,activity_end_time,activity_hand_end_time,activity_member_count,del_state,create_time,update_time,
		shop_product_showcase_imgs,ordered_product_count
	</sql>

	<!-- 精确更新的字段-->
	<sql id="updateBase">
		<if test="id  !=null">
			id = #{id,jdbcType=BIGINT}, 
		</if>
		<if test="storeId  !=null">
			store_id = #{storeId,jdbcType=BIGINT}, 
		</if>
		<if test="activityTitle  !=null">
			activity_title = #{activityTitle,jdbcType=VARCHAR}, 
		</if>
		<if test="shopProductId  !=null">
			shop_product_id = #{shopProductId,jdbcType=BIGINT}, 
		</if>
		<if test="clothesNumber  !=null">
			clothes_number = #{clothesNumber,jdbcType=VARCHAR}, 
		</if>
		<if test="shopProductName  !=null">
			shop_product_name = #{shopProductName,jdbcType=VARCHAR}, 
		</if>
		<if test="shopProductMainimg  !=null">
			shop_product_mainimg = #{shopProductMainimg,jdbcType=VARCHAR}, 
		</if>
		<if test="activityProductPrice  !=null">
			activity_product_price = #{activityProductPrice,jdbcType=DECIMAL}, 
		</if>
		<if test="activityPrice  !=null">
			activity_price = #{activityPrice,jdbcType=DECIMAL}, 
		</if>
		<if test="activityProductCount  !=null">
			activity_product_count = #{activityProductCount,jdbcType=INTEGER}, 
		</if>
		<if test="activityStartTime  !=null">
			activity_start_time = #{activityStartTime,jdbcType=BIGINT}, 
		</if>
		<if test="activityEndTime  !=null">
			activity_end_time = #{activityEndTime,jdbcType=BIGINT}, 
		</if>
		<if test="activityHandEndTime  !=null">
			activity_hand_end_time = #{activityHandEndTime,jdbcType=BIGINT}, 
		</if>
		<if test="activityMemberCount  !=null">
			activity_member_count = #{activityMemberCount,jdbcType=INTEGER}, 
		</if>
		<if test="delState  !=null">
			del_state = #{delState,jdbcType=TINYINT}, 
		</if>
		<if test="createTime  !=null">
			create_time = #{createTime,jdbcType=BIGINT}, 
		</if>
		<if test="updateTime  !=null">
			update_time = #{updateTime,jdbcType=BIGINT}, 
		</if>
		<if test="shopProductShowcaseImgs  !=null">
			shop_product_showcase_imgs = #{shopProductShowcaseImgs,jdbcType=VARCHAR} 
		</if>
		<if test="orderedProductCount  !=null">
			ordered_product_count = #{orderedProductCount,jdbcType=INTEGER},
		</if>
	</sql>

	<!-- 通过主键查找-->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
		select 
		<include refid="Base_Column_List" />
		from store_second_buy_activity
		where  id = #{id,jdbcType=BIGINT} 
	</select>

	<!-- 通过主键删除-->
	<delete id="deleteByPrimaryKey" parameterType="Long" >
		delete from store_second_buy_activity
		where id = #{id,jdbcType=BIGINT} 
	</delete>

	<!-- 普通插入全字段插t入-->
	<insert id="insert" parameterType="com.jiuy.rb.model.product.SecondBuyActivityRb" >
		insert into store_second_buy_activity
		(
			id,
			store_id,
			activity_title,
			shop_product_id,
			clothes_number,
			shop_product_name,
			shop_product_mainimg,
			activity_product_price,
			activity_price,
			activity_product_count,
			activity_start_time,
			activity_end_time,
			activity_hand_end_time,
			activity_member_count,
			del_state,
			create_time,
			update_time,
			shop_product_showcase_imgs,
		  	ordered_product_count
		)
		values
		(
			#{id ,jdbcType=BIGINT},
			#{storeId ,jdbcType=BIGINT},
			#{activityTitle ,jdbcType=VARCHAR},
			#{shopProductId ,jdbcType=BIGINT},
			#{clothesNumber ,jdbcType=VARCHAR},
			#{shopProductName ,jdbcType=VARCHAR},
			#{shopProductMainimg ,jdbcType=VARCHAR},
			#{activityProductPrice ,jdbcType=DECIMAL},
			#{activityPrice ,jdbcType=DECIMAL},
			#{activityProductCount ,jdbcType=INTEGER},
			#{activityStartTime ,jdbcType=BIGINT},
			#{activityEndTime ,jdbcType=BIGINT},
			#{activityHandEndTime ,jdbcType=BIGINT},
			#{activityMemberCount ,jdbcType=INTEGER},
			#{delState ,jdbcType=TINYINT},
			#{createTime ,jdbcType=BIGINT},
			#{updateTime ,jdbcType=BIGINT},
			#{shopProductShowcaseImgs ,jdbcType=VARCHAR},
			#{orderedProductCount ,jdbcType=INTEGER}
		)
	</insert>

	<!-- 批量插入，全部字段插入-->
	<insert id="insertBach"   parameterType="List" >
		insert into store_second_buy_activity
		(
			id,
			store_id,
			activity_title,
			shop_product_id,
			clothes_number,
			shop_product_name,
			shop_product_mainimg,
			activity_product_price,
			activity_price,
			activity_product_count,
			activity_start_time,
			activity_end_time,
			activity_hand_end_time,
			activity_member_count,
			del_state,
			create_time,
			update_time,
			shop_product_showcase_imgs,
			ordered_product_count
		)
		values 
		<foreach collection="list" item="item" separator=",">
		(
			#{item.id ,jdbcType=BIGINT},
			#{item.storeId ,jdbcType=BIGINT},
			#{item.activityTitle ,jdbcType=VARCHAR},
			#{item.shopProductId ,jdbcType=BIGINT},
			#{item.clothesNumber ,jdbcType=VARCHAR},
			#{item.shopProductName ,jdbcType=VARCHAR},
			#{item.shopProductMainimg ,jdbcType=VARCHAR},
			#{item.activityProductPrice ,jdbcType=DECIMAL},
			#{item.activityPrice ,jdbcType=DECIMAL},
			#{item.activityProductCount ,jdbcType=INTEGER},
			#{item.activityStartTime ,jdbcType=BIGINT},
			#{item.activityEndTime ,jdbcType=BIGINT},
			#{item.activityHandEndTime ,jdbcType=BIGINT},
			#{item.activityMemberCount ,jdbcType=INTEGER},
			#{item.delState ,jdbcType=TINYINT},
			#{item.createTime ,jdbcType=BIGINT},
			#{item.updateTime ,jdbcType=BIGINT},
			#{item.shopProductShowcaseImgs ,jdbcType=VARCHAR},
			#{item.orderedProductCount ,jdbcType=INTEGER}
		)
		</foreach>
	</insert>

	<!-- 精确插入，非null得字段才会插入-->
	<insert id="insertSelective" parameterType="com.jiuy.rb.model.product.SecondBuyActivityRb" useGeneratedKeys="true" keyProperty="id" >
		insert into store_second_buy_activity
		<trim prefix="(" suffix=")" suffixOverrides="," > 
			<if test="id !=null">  
				id,
			</if>
			<if test="storeId !=null">  
				store_id,
			</if>
			<if test="activityTitle !=null">  
				activity_title,
			</if>
			<if test="shopProductId !=null">  
				shop_product_id,
			</if>
			<if test="clothesNumber !=null">  
				clothes_number,
			</if>
			<if test="shopProductName !=null">  
				shop_product_name,
			</if>
			<if test="shopProductMainimg !=null">  
				shop_product_mainimg,
			</if>
			<if test="activityProductPrice !=null">  
				activity_product_price,
			</if>
			<if test="activityPrice !=null">  
				activity_price,
			</if>
			<if test="activityProductCount !=null">  
				activity_product_count,
			</if>
			<if test="activityStartTime !=null">  
				activity_start_time,
			</if>
			<if test="activityEndTime !=null">  
				activity_end_time,
			</if>
			<if test="activityHandEndTime !=null">  
				activity_hand_end_time,
			</if>
			<if test="activityMemberCount !=null">  
				activity_member_count,
			</if>
			<if test="delState !=null">  
				del_state,
			</if>
			<if test="createTime !=null">  
				create_time,
			</if>
			<if test="updateTime !=null">  
				update_time,
			</if>
			<if test="shopProductShowcaseImgs !=null">  
				shop_product_showcase_imgs,
			</if>
			<if test="orderedProductCount !=null">
				ordered_product_count,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id  !=null">
				#{id,jdbcType=BIGINT}, 
			</if>
			<if test="storeId  !=null">
				#{storeId,jdbcType=BIGINT}, 
			</if>
			<if test="activityTitle  !=null">
				#{activityTitle,jdbcType=VARCHAR}, 
			</if>
			<if test="shopProductId  !=null">
				#{shopProductId,jdbcType=BIGINT}, 
			</if>
			<if test="clothesNumber  !=null">
				#{clothesNumber,jdbcType=VARCHAR}, 
			</if>
			<if test="shopProductName  !=null">
				#{shopProductName,jdbcType=VARCHAR}, 
			</if>
			<if test="shopProductMainimg  !=null">
				#{shopProductMainimg,jdbcType=VARCHAR}, 
			</if>
			<if test="activityProductPrice  !=null">
				#{activityProductPrice,jdbcType=DECIMAL}, 
			</if>
			<if test="activityPrice  !=null">
				#{activityPrice,jdbcType=DECIMAL}, 
			</if>
			<if test="activityProductCount  !=null">
				#{activityProductCount,jdbcType=INTEGER}, 
			</if>
			<if test="activityStartTime  !=null">
				#{activityStartTime,jdbcType=BIGINT}, 
			</if>
			<if test="activityEndTime  !=null">
				#{activityEndTime,jdbcType=BIGINT}, 
			</if>
			<if test="activityHandEndTime  !=null">
				#{activityHandEndTime,jdbcType=BIGINT}, 
			</if>
			<if test="activityMemberCount  !=null">
				#{activityMemberCount,jdbcType=INTEGER}, 
			</if>
			<if test="delState  !=null">
				#{delState,jdbcType=TINYINT}, 
			</if>
			<if test="createTime  !=null">
				#{createTime,jdbcType=BIGINT}, 
			</if>
			<if test="updateTime  !=null">
				#{updateTime,jdbcType=BIGINT}, 
			</if>
			<if test="shopProductShowcaseImgs  !=null">
				#{shopProductShowcaseImgs,jdbcType=VARCHAR} 
			</if>
			<if test="orderedProductCount  !=null">
				#{orderedProductCount,jdbcType=INTEGER},
			</if>
		</trim>
	</insert> 

	<!-- 精确更新-->
	<update id="updateByPrimaryKeySelective" parameterType="com.jiuy.rb.model.product.SecondBuyActivityRb" >
		update store_second_buy_activity
		<set>
			<include refid="updateBase"/>
		</set>
		where id = #{id,jdbcType=BIGINT} 
	</update> 

	<!-- 全字段更新 需要注意-->
	<update id="updateByPrimaryKey" parameterType="com.jiuy.rb.model.product.SecondBuyActivityRb" >
		update store_second_buy_activity
		set 
			id = #{id ,jdbcType=BIGINT},
			store_id = #{storeId ,jdbcType=BIGINT},
			activity_title = #{activityTitle ,jdbcType=VARCHAR},
			shop_product_id = #{shopProductId ,jdbcType=BIGINT},
			clothes_number = #{clothesNumber ,jdbcType=VARCHAR},
			shop_product_name = #{shopProductName ,jdbcType=VARCHAR},
			shop_product_mainimg = #{shopProductMainimg ,jdbcType=VARCHAR},
			activity_product_price = #{activityProductPrice ,jdbcType=DECIMAL},
			activity_price = #{activityPrice ,jdbcType=DECIMAL},
			activity_product_count = #{activityProductCount ,jdbcType=INTEGER},
			activity_start_time = #{activityStartTime ,jdbcType=BIGINT},
			activity_end_time = #{activityEndTime ,jdbcType=BIGINT},
			activity_hand_end_time = #{activityHandEndTime ,jdbcType=BIGINT},
			activity_member_count = #{activityMemberCount ,jdbcType=INTEGER},
			del_state = #{delState ,jdbcType=TINYINT},
			create_time = #{createTime ,jdbcType=BIGINT},
			update_time = #{updateTime ,jdbcType=BIGINT},
			shop_product_showcase_imgs = #{shopProductShowcaseImgs ,jdbcType=VARCHAR},
			ordered_product_count = #{orderedProductCount ,jdbcType=INTEGER}
		where id = #{id,jdbcType=BIGINT} 
	</update> 

	<!-- 所有的条件集合-->
	<sql id="whereCase"  >
		where  1=1 
		<if test="id  !=null">
			AND id = #{id,jdbcType=BIGINT} 
		</if>
		<if test="storeId  !=null">
			AND store_id = #{storeId,jdbcType=BIGINT} 
		</if>
		<if test="activityTitle  !=null">
			AND activity_title = #{activityTitle,jdbcType=VARCHAR} 
		</if>
		<if test="shopProductId  !=null">
			AND shop_product_id = #{shopProductId,jdbcType=BIGINT} 
		</if>
		<if test="clothesNumber  !=null">
			AND clothes_number = #{clothesNumber,jdbcType=VARCHAR} 
		</if>
		<if test="shopProductName  !=null">
			AND shop_product_name = #{shopProductName,jdbcType=VARCHAR} 
		</if>
		<if test="shopProductMainimg  !=null">
			AND shop_product_mainimg = #{shopProductMainimg,jdbcType=VARCHAR} 
		</if>
		<if test="activityProductPrice  !=null">
			AND activity_product_price = #{activityProductPrice,jdbcType=DECIMAL} 
		</if>
		<if test="activityPrice  !=null">
			AND activity_price = #{activityPrice,jdbcType=DECIMAL} 
		</if>
		<if test="activityProductCount  !=null">
			AND activity_product_count = #{activityProductCount,jdbcType=INTEGER} 
		</if>
		<if test="activityStartTime  !=null">
			AND activity_start_time = #{activityStartTime,jdbcType=BIGINT} 
		</if>
		<if test="activityEndTime  !=null">
			AND activity_end_time = #{activityEndTime,jdbcType=BIGINT} 
		</if>
		<if test="activityHandEndTime  !=null">
			AND activity_hand_end_time = #{activityHandEndTime,jdbcType=BIGINT} 
		</if>
		<if test="activityMemberCount  !=null">
			AND activity_member_count = #{activityMemberCount,jdbcType=INTEGER} 
		</if>
		<if test="delState  !=null">
			AND del_state = #{delState,jdbcType=TINYINT} 
		</if>
		<if test="createTime  !=null">
			AND create_time = #{createTime,jdbcType=BIGINT} 
		</if>
		<if test="updateTime  !=null">
			AND update_time = #{updateTime,jdbcType=BIGINT} 
		</if>
		<if test="shopProductShowcaseImgs  !=null">
			AND shop_product_showcase_imgs = #{shopProductShowcaseImgs,jdbcType=VARCHAR} 
		</if>
		<if test="orderedProductCount  !=null">
			AND ordered_product_count = #{orderedProductCount,jdbcType=INTEGER}
		</if>
		<include refid="costomWhereCase"/>
	</sql>

	<!-- 查询一条，如果返回多条会报错-->
	<select id="selectOne" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" /> 
		FROM store_second_buy_activity 
		<include refid="whereCase" /> 
	</select>

	<!-- 查询一个list-->
	<select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" /> 
		FROM store_second_buy_activity 
		<include refid="whereCase" /> 
	</select>

	<!-- 查询一个list-->
	<select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT
		count(1) 
		FROM store_second_buy_activity
		<include refid="whereCase" /> 
	</select>

	<!--  @Costom -->
	<!-- 从上一行注释以上为系统生成 从这一行往下为用户自定义 请将自定义的sql放在此行下面 -->
	<sql id="costomWhereCase">
		<if test="gtActivityEndTime != null">
			activity_hand_end_time > #{gtActivityEndTime}
		</if>
	</sql>


	<select id="listSecondBuyActivity" resultType="com.jiuy.rb.model.product.SecondBuyActivityRb">
		<![CDATA[
		SELECT
			id AS id,
			store_id AS storeId,
			activity_title AS activityTitle,
			shop_product_id AS shopProductId,
			clothes_number AS clothesNumber,
			shop_product_name AS shopProductName,
			shop_product_mainimg AS shopProductMainimg,
			shop_product_showcase_imgs AS shopProductShowcaseImgs,
			activity_product_price AS activityProductPrice,
			activity_price AS activityPrice,
			activity_product_count AS activityProductCount,
			activity_start_time AS activityStartTime,
			activity_end_time AS activityEndTime,
			activity_hand_end_time AS activityHandEndTime,
			activity_member_count AS activityMemberCount,
			ordered_product_count AS orderedProductCount,
			del_state AS delState,
			create_time AS createTime,
			update_time AS updateTime,

			-- 进行中活动按结束时间升序
			CASE
				WHEN activity_hand_end_time = 0 AND activity_end_time > #{gtActivityEndTime}
					THEN CASE
								-- 进行中
								WHEN activity_start_time < #{gtActivityEndTime} THEN activity_end_time
								-- 待开始
								ELSE 8888888888888
							 END
					ELSE  8888888888888
			END AS doingAct,
			-- 未开始活动按开始时间升序
						CASE
				WHEN activity_hand_end_time = 0 AND activity_end_time > #{gtActivityEndTime}
					THEN CASE
								WHEN activity_start_time >= #{gtActivityEndTime} THEN activity_start_time
								ELSE 8888888888888
							 END
				-- 活动已结束
					ELSE 8888888888888
			END AS unstartAct

		FROM
			store_second_buy_activity
		where
			1=1
		 ]]>
		<if test="storeId != null">
			AND store_id = #{storeId}
		</if>
		AND del_state = 0

		AND activity_end_time >=UNIX_TIMESTAMP(NOW())*1000
		ORDER BY
		doingAct ASC,
		unstartAct ASC,
		id

	</select>




	
	<update id="updateUserAndProductCount">
		update store_second_buy_activity
		set activity_member_count = activity_member_count + #{userCount}
		, ordered_product_count = ordered_product_count + #{buyCount}
		where id = #{secondId}
		and activity_member_count + #{userCount} >= 0
		and ordered_product_count + #{buyCount} >= 0
	</update>


	<select id="selectAvailableSecondOrderByEndTime" resultMap="BaseResultMap" parameterType="com.jiuy.rb.model.product.SecondBuyActivityRbQuery">
		SELECT
		<include refid="Base_Column_List" />
		<![CDATA[
		,CASE
		WHEN a.activity_start_time >= #{gtActivityEndTime} THEN 2
		ELSE 1
		END AS startTimeOrder
		FROM
		store_second_buy_activity a
		WHERE
		store_id = #{storeId}
		AND
		activity_hand_end_time = 0
		AND
		activity_end_time > #{gtActivityEndTime}
		AND del_state = 0
		ORDER BY startTimeOrder DESC, activity_end_time ASC
				 ]]>
	</select>
	
</mapper>