<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.e_commerce.miscroservice.user.mapper.MemberMapper"> 
 
 	<!-- 主要的返回映射-->
	<resultMap id="BaseResultMap" type="com.e_commerce.miscroservice.commons.entity.application.user.Member"	>
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="platform_type"  property="platformType"  jdbcType="TINYINT" />
		<result column="user_id"  property="userId"  jdbcType="BIGINT" />
		<result column="member_level"  property="memberLevel"  jdbcType="TINYINT" />
		<result column="money_total"  property="moneyTotal"  jdbcType="DECIMAL" />
		<result column="del_state"  property="delState"  jdbcType="TINYINT" />
		<result column="create_time"  property="createTime"  jdbcType="TIMESTAMP" />
		<result column="update_time"  property="updateTime"  jdbcType="TIMESTAMP" />
		<result column="type"  property="type"  jdbcType="TINYINT" />
		<result column="valid_time_queue"  property="validTimeQueue"  jdbcType="VARCHAR" />
		<result column="end_time"  property="endTime"  jdbcType="BIGINT" />
		<result column="canal"  property="canal"  jdbcType="VARCHAR" />
		<result column="city"  property="city"  jdbcType="VARCHAR" />
		<result column="province"  property="province"  jdbcType="VARCHAR" />
		<result column="district"  property="district"  jdbcType="VARCHAR" />
		<result column="name"  property="name"  jdbcType="VARCHAR" />
	</resultMap>

	<!-- 所有的列名-->
	<sql id="Base_Column_List" >
		id,platform_type,user_id,member_level,money_total,del_state,create_time,update_time,type,
		valid_time_queue,end_time,canal,city,province,district,name
	</sql>

	<!-- 精确更新的字段-->
	<sql id="updateBase">
		<if test="id  !=null">
			id = #{id,jdbcType=BIGINT}, 
		</if>
		<if test="platformType  !=null">
			platform_type = #{platformType,jdbcType=TINYINT}, 
		</if>
		<if test="userId  !=null">
			user_id = #{userId,jdbcType=BIGINT}, 
		</if>
		<if test="memberLevel  !=null">
			member_level = #{memberLevel,jdbcType=TINYINT}, 
		</if>
		<if test="moneyTotal  !=null">
			money_total = #{moneyTotal,jdbcType=DECIMAL}, 
		</if>
		<if test="delState  !=null">
			del_state = #{delState,jdbcType=TINYINT}, 
		</if>
		<if test="createTime  !=null">
			create_time = #{createTime,jdbcType=TIMESTAMP}, 
		</if>
		<if test="updateTime  !=null">
			update_time = #{updateTime,jdbcType=TIMESTAMP}, 
		</if>
		<if test="type  !=null">
			type = #{type,jdbcType=TINYINT}, 
		</if>
		<if test="validTimeQueue  !=null">
			valid_time_queue = #{validTimeQueue,jdbcType=VARCHAR}, 
		</if>
		<if test="endTime  !=null">
			end_time = #{endTime,jdbcType=BIGINT}, 
		</if>
		<if test="canal  !=null">
			canal = #{canal,jdbcType=VARCHAR}, 
		</if>
		<if test="city  !=null">
			city = #{city,jdbcType=VARCHAR}, 
		</if>
		<if test="province  !=null">
			province = #{province,jdbcType=VARCHAR}, 
		</if>
		<if test="district  !=null">
			district = #{district,jdbcType=VARCHAR}, 
		</if>
		<if test="name  !=null">
			name = #{name,jdbcType=VARCHAR} 
		</if>
	</sql>

	<!-- 通过主键查找-->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
		select 
		<include refid="Base_Column_List" />
		from yjj_member
		where  id = #{id,jdbcType=BIGINT} 
	</select>


	<!-- 普通插入全字段插t入-->
	<insert id="insert" parameterType="com.e_commerce.miscroservice.commons.entity.application.user.Member" >
		insert into yjj_member
		(
			id,
			platform_type,
			user_id,
			member_level,
			money_total,
			del_state,
			create_time,
			update_time,
			type,
			valid_time_queue,
			end_time,
			canal,
			city,
			province,
			district,
			name
		)
		values
		(
			#{id ,jdbcType=BIGINT},
			#{platformType ,jdbcType=TINYINT},
			#{userId ,jdbcType=BIGINT},
			#{memberLevel ,jdbcType=TINYINT},
			#{moneyTotal ,jdbcType=DECIMAL},
			#{delState ,jdbcType=TINYINT},
			#{createTime ,jdbcType=TIMESTAMP},
			#{updateTime ,jdbcType=TIMESTAMP},
			#{type ,jdbcType=TINYINT},
			#{validTimeQueue ,jdbcType=VARCHAR},
			#{endTime ,jdbcType=BIGINT},
			#{canal ,jdbcType=VARCHAR},
			#{city ,jdbcType=VARCHAR},
			#{province ,jdbcType=VARCHAR},
			#{district ,jdbcType=VARCHAR},
			#{name ,jdbcType=VARCHAR}
		)
	</insert>

	<!-- 批量插入，全部字段插入-->
	<insert id="insertBach"   parameterType="List" >
		insert into yjj_member
		(
			id,
			platform_type,
			user_id,
			member_level,
			money_total,
			del_state,
			create_time,
			update_time,
			type,
			valid_time_queue,
			end_time,
			canal,
			city,
			province,
			district,
			name
		)
		values 
		<foreach collection="list" item="item" separator=",">
		(
			#{item.id ,jdbcType=BIGINT},
			#{item.platformType ,jdbcType=TINYINT},
			#{item.userId ,jdbcType=BIGINT},
			#{item.memberLevel ,jdbcType=TINYINT},
			#{item.moneyTotal ,jdbcType=DECIMAL},
			#{item.delState ,jdbcType=TINYINT},
			#{item.createTime ,jdbcType=TIMESTAMP},
			#{item.updateTime ,jdbcType=TIMESTAMP},
			#{item.type ,jdbcType=TINYINT},
			#{item.validTimeQueue ,jdbcType=VARCHAR},
			#{item.endTime ,jdbcType=BIGINT},
			#{item.canal ,jdbcType=VARCHAR},
			#{item.city ,jdbcType=VARCHAR},
			#{item.province ,jdbcType=VARCHAR},
			#{item.district ,jdbcType=VARCHAR},
			#{item.name ,jdbcType=VARCHAR}
		)
		</foreach>
	</insert>

	<!-- 精确插入，非null得字段才会插入-->
	<insert id="insertSelective" parameterType="com.e_commerce.miscroservice.commons.entity.application.user.Member" useGeneratedKeys="true" keyProperty="id" >
		insert into yjj_member
		<trim prefix="(" suffix=")" suffixOverrides="," > 
			<if test="id !=null">  
				id,
			</if>
			<if test="platformType !=null">  
				platform_type,
			</if>
			<if test="userId !=null">  
				user_id,
			</if>
			<if test="memberLevel !=null">  
				member_level,
			</if>
			<if test="moneyTotal !=null">  
				money_total,
			</if>
			<if test="delState !=null">  
				del_state,
			</if>
			<if test="createTime !=null">  
				create_time,
			</if>
			<if test="updateTime !=null">  
				update_time,
			</if>
			<if test="type !=null">  
				type,
			</if>
			<if test="validTimeQueue !=null">  
				valid_time_queue,
			</if>
			<if test="endTime !=null">  
				end_time,
			</if>
			<if test="canal !=null">  
				canal,
			</if>
			<if test="city !=null">  
				city,
			</if>
			<if test="province !=null">  
				province,
			</if>
			<if test="district !=null">  
				district,
			</if>
			<if test="name !=null">  
				name,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id  !=null">
				#{id,jdbcType=BIGINT}, 
			</if>
			<if test="platformType  !=null">
				#{platformType,jdbcType=TINYINT}, 
			</if>
			<if test="userId  !=null">
				#{userId,jdbcType=BIGINT}, 
			</if>
			<if test="memberLevel  !=null">
				#{memberLevel,jdbcType=TINYINT}, 
			</if>
			<if test="moneyTotal  !=null">
				#{moneyTotal,jdbcType=DECIMAL}, 
			</if>
			<if test="delState  !=null">
				#{delState,jdbcType=TINYINT}, 
			</if>
			<if test="createTime  !=null">
				#{createTime,jdbcType=TIMESTAMP}, 
			</if>
			<if test="updateTime  !=null">
				#{updateTime,jdbcType=TIMESTAMP}, 
			</if>
			<if test="type  !=null">
				#{type,jdbcType=TINYINT}, 
			</if>
			<if test="validTimeQueue  !=null">
				#{validTimeQueue,jdbcType=VARCHAR}, 
			</if>
			<if test="endTime  !=null">
				#{endTime,jdbcType=BIGINT}, 
			</if>
			<if test="canal  !=null">
				#{canal,jdbcType=VARCHAR}, 
			</if>
			<if test="city  !=null">
				#{city,jdbcType=VARCHAR}, 
			</if>
			<if test="province  !=null">
				#{province,jdbcType=VARCHAR}, 
			</if>
			<if test="district  !=null">
				#{district,jdbcType=VARCHAR}, 
			</if>
			<if test="name  !=null">
				#{name,jdbcType=VARCHAR} 
			</if>
		</trim>
	</insert> 

	<!-- 精确更新-->
	<update id="updateByPrimaryKeySelective" parameterType="com.e_commerce.miscroservice.commons.entity.application.user.Member" >
		update yjj_member
		<set>
			<include refid="updateBase"/>
		</set>
		where id = #{id,jdbcType=BIGINT} 
	</update> 

	<!-- 全字段更新 需要注意-->
	<update id="updateByPrimaryKey" parameterType="com.e_commerce.miscroservice.commons.entity.application.user.Member" >
		update yjj_member
		set 
			id = #{id ,jdbcType=BIGINT},
			platform_type = #{platformType ,jdbcType=TINYINT},
			user_id = #{userId ,jdbcType=BIGINT},
			member_level = #{memberLevel ,jdbcType=TINYINT},
			money_total = #{moneyTotal ,jdbcType=DECIMAL},
			del_state = #{delState ,jdbcType=TINYINT},
			create_time = #{createTime ,jdbcType=TIMESTAMP},
			update_time = #{updateTime ,jdbcType=TIMESTAMP},
			type = #{type ,jdbcType=TINYINT},
			valid_time_queue = #{validTimeQueue ,jdbcType=VARCHAR},
			end_time = #{endTime ,jdbcType=BIGINT},
			canal = #{canal ,jdbcType=VARCHAR},
			city = #{city ,jdbcType=VARCHAR},
			province = #{province ,jdbcType=VARCHAR},
			district = #{district ,jdbcType=VARCHAR},
			name = #{name ,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT} 
	</update> 

	<!-- 所有的条件集合-->
	<sql id="whereCase"  >
		where  1=1 
		<if test="id  !=null">
			AND id = #{id,jdbcType=BIGINT} 
		</if>
		<if test="platformType  !=null">
			AND platform_type = #{platformType,jdbcType=TINYINT} 
		</if>
		<if test="userId  !=null">
			AND user_id = #{userId,jdbcType=BIGINT} 
		</if>
		<if test="memberLevel  !=null">
			AND member_level = #{memberLevel,jdbcType=TINYINT} 
		</if>
		<if test="moneyTotal  !=null">
			AND money_total = #{moneyTotal,jdbcType=DECIMAL} 
		</if>
		<if test="delState  !=null">
			AND del_state = #{delState,jdbcType=TINYINT} 
		</if>
		<if test="createTime  !=null">
			AND create_time = #{createTime,jdbcType=TIMESTAMP} 
		</if>
		<if test="updateTime  !=null">
			AND update_time = #{updateTime,jdbcType=TIMESTAMP} 
		</if>
		<if test="type  !=null">
			AND type = #{type,jdbcType=TINYINT} 
		</if>
		<if test="validTimeQueue  !=null">
			AND valid_time_queue = #{validTimeQueue,jdbcType=VARCHAR} 
		</if>
		<if test="endTime  !=null">
			AND end_time = #{endTime,jdbcType=BIGINT} 
		</if>
		<if test="canal  !=null">
			AND canal = #{canal,jdbcType=VARCHAR} 
		</if>
		<if test="city  !=null">
			AND city = #{city,jdbcType=VARCHAR} 
		</if>
		<if test="province  !=null">
			AND province = #{province,jdbcType=VARCHAR} 
		</if>
		<if test="district  !=null">
			AND district = #{district,jdbcType=VARCHAR} 
		</if>
		<if test="name  !=null">
			AND name = #{name,jdbcType=VARCHAR} 
		</if>
		<include refid="costomWhereCase"/>
	</sql>

	<!-- 查询一条，如果返回多条会报错-->
	<select id="selectOne" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" /> 
		FROM yjj_member 
		<include refid="whereCase" /> 
	</select>

	<!-- 查询一个list-->
	<select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" /> 
		FROM yjj_member 
		<include refid="whereCase" /> 
	</select>

	<!-- 查询一个list-->
	<select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT
		count(1) 
		FROM yjj_member
		<include refid="whereCase" /> 
	</select>

	<!--  @Costom -->
	<!-- 从上一行注释以上为系统生成 从这一行往下为用户自定义 请将自定义的sql放在此行下面 -->
	<sql id="costomWhereCase">
	</sql>




	<update id="updateEndTime">
		UPDATE `yjj_member`
		SET
		money_total = money_total + #{totalMoney}
		, end_time = #{endTime}
		, `type` = #{memberPackageType}
		, valid_time_queue = #{validTimeQueue}
		WHERE
		id = #{id}
		AND (money_total + #{totalMoney} >= 0 OR money_total IS NULL)

	</update>
</mapper>