<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.e_commerce.miscroservice.user.mapper.StoreBusinessAccountMapper">
    <!-- 修改账户信息 根据账单记录 更新到可用金额-->
    <update id="updateStoreBusinessAccountUseMoney">
        update yjj_storebusiness_account
        <set>
                real_use_money = real_use_money - #{yjjStoreBusinessAccountLog.operMoney}
        </set>
        where user_id = #{yjjStoreBusinessAccountLog.userId}
    </update>
    <update id="updateStoreBusinessAccountUseMoneyInto">
        update yjj_storebusiness_account
       <set>
           real_use_money = real_use_money + #{yjjStoreBusinessAccountLog.operMoney}
       </set>

        where user_id = #{yjjStoreBusinessAccountLog.userId}
    </update>

    <!-- 修改账户信息 根据账单记录 更新到 待结金额 支出-->
    <update id="updateStoreBusinessAccountWaitInMoney">
        update yjj_storebusiness_account
        <set>
            wait_in_money = wait_in_money - #{yjjStoreBusinessAccountLog.operMoney}

        </set>
        where user_id = #{yjjStoreBusinessAccountLog.userId}
    </update>
    <!--收入-->
    <update id="updateStoreBusinessAccountWaitInMoneyInto">

        update yjj_storebusiness_account
        <set>
            wait_in_money = wait_in_money + #{yjjStoreBusinessAccountLog.operMoney}
        </set>
        where user_id = #{yjjStoreBusinessAccountLog.userId}

    </update>
    <update id="waitMoneyInUse">

        UPDATE yjj_storebusiness_account
        SET
        wait_in_money = wait_in_money - #{remainingWaitMoney}
        ,real_use_money = real_use_money + #{remainingWaitMoney}
        WHERE id = #{id}
        AND wait_in_money - #{remainingWaitMoney} >= 0
        AND real_use_money + #{remainingWaitMoney} >= 0
    </update>
    <!--查询账单记录-->
    <select id="findStoreBusinessAccountLog"
            resultType="com.e_commerce.miscroservice.commons.entity.application.user.YjjStoreBusinessAccountLog">
		  select *,in_out inOutType from yjj_storebusiness_account_log where user_id = #{userId}
		    and `type` <![CDATA[<>]]> 0
		   and `type` <![CDATA[<>]]> 1
		  order by create_time desc
	</select>
    <!--查询所有待结算金额日志-->
    <select id="findAllWaitInToUseMoneyLog"
            resultType="com.e_commerce.miscroservice.commons.entity.application.user.YjjStoreBusinessAccountLog">
        SELECT
            a.*
        FROM
            yjj_storebusiness_account_log a,
            shop_member_order b
        WHERE
            a.about_order_no = b.order_number
        AND b.order_status = 4
        AND PERIOD_DIFF(
            date_format(now(), '%Y%m'),
            from_unixtime(b.confirmSignedTime/1000, '%Y%m')
        ) = 1;
    </select>
    <!--根据小程序id查询-->
    <select id="findStoreBusinessAccountByMemberId"
            resultType="com.e_commerce.miscroservice.user.entity.ShopMember">
        select * from shop_member where id = #{memberId} and status = 0
    </select>

    <select id="findByAboutOrderAndType"
            resultType="com.e_commerce.miscroservice.commons.entity.application.user.YjjStoreBusinessAccountLog">
        SELECT
            id,
            about_order_no AS aboutOrderNo,
            type,
            oper_money AS operMoney
        FROM
            `yjj_storebusiness_account_log`
        WHERE
            del_status = 0
        AND `status` = 0
        AND about_order_no = #{aboutOrderNo}
        <if test="type != null">
            AND `type` = #{type}
        </if>
    </select>
    <!--根据订单号查询订单-->
    <select id="findOrderByOrderNo"
            resultType="com.e_commerce.miscroservice.commons.entity.application.order.ShopMemberOrder">
		select *,store_id storeId from shop_member_order where order_number = #{aboutOrderNo}
    </select>
</mapper>