<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.e_commerce.miscroservice.user.mapper.YjjStoreBusinessAccountMapper">

	<update id="upUseMoney">
		update yjj_storebusiness_account
		<set>
			count_money = count_money+#{operMoney},
			use_money = use_money + #{operMoney}
		</set>
		where user_id = #{userId}
	</update>
</mapper>