<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuy.core.dao.impl.sql.StoreMessageBoardDaoSqlImpl">
	
	<select id="search" parameterType="map" resultType="map">
		SELECT *
		FROM store_AfterSaleMessageBoard
		<where>
			<if test="serviceId != -1 ">
				and ServiceId = #{serviceId}
			</if>
		</where>
		limit #{pageQuery.limit} offset #{pageQuery.offset}
	</select>
	
	<select id="searchCount" parameterType="map" resultType="int">
		SELECT count(1)
		FROM store_AfterSaleMessageBoard
		<where>
			<if test="serviceId != -1 ">
				and ServiceId = #{serviceId}
			</if>
		</where>
	</select>
	
	<insert id="add" parameterType="map">
		INSERT INTO store_AfterSaleMessageBoard(ServiceId, AdminId, AdminName, Message, CreateTime)
		VALUES(#{serviceId}, #{adminId}, #{adminName}, #{message}, #{createTime})
	</insert>
</mapper>