<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiuy.core.dao.impl.sql.StoreCouponTemplateDaoSqlImpl">


	<select id="search" resultMap="StoreCouponTemplateMap">

		select * from store_CouponTemplate
		<where>
			Status = 0
			AND supplier_id = 0
			<if test="publishCountMin != null">
    			<![CDATA[and PublishCount >= #{publishCountMin}]]>
			</if>
			<if test="publishCountMax != null">
    			<![CDATA[and PublishCount <= #{publishCountMax}]]>
			</if>
			<if test="id != null">
				and Id = #{id}
			</if>
			<if test="storeCouponTemplate != null">
				<if test="storeCouponTemplate.id != null">
					and Id = #{storeCouponTemplate.id}
				</if>
				<if test="storeCouponTemplate.name != null">
					and Name like concat ("%", #{storeCouponTemplate.name}, "%")
				</if>
				<if test="storeCouponTemplate.type != null">
					and Type = #{storeCouponTemplate.type}
				</if>
				<if test="storeCouponTemplate.rangeType != null">
					and RangeType = #{storeCouponTemplate.rangeType}
				</if>
				<if test="storeCouponTemplate.validityStartTime != null">
	    			<![CDATA[and ValidityStartTime >= #{storeCouponTemplate.validityStartTime}]]>
				</if>
				<if test="storeCouponTemplate.validityEndTime != null">
	    			<![CDATA[and ValidityEndTime <= #{storeCouponTemplate.validityEndTime}]]>
				</if>
				<if test="storeCouponTemplate.isLimit != null">
					and IsLimit = #{storeCouponTemplate.isLimit}
				</if>
				<if test="storeCouponTemplate.rangeType != null and ids != null">
					and (
					<foreach collection="ids"
						open="(" close=")" item="rangeTypeId" separator="or">
    		    <![CDATA[ BrandIds like concat ("%", #{rangeTypeId}, "%") ]]>
					</foreach>
					)
				</if>

			</if>
			<if test="moneyMin != null">
    			<![CDATA[and Money >= #{moneyMin}]]>
			</if>
			<if test="moneyMax != null">
    			<![CDATA[and Money <= #{moneyMax}]]>
			</if>
			<if test="limitMin != null">
    			<![CDATA[and LimitMoney >= #{limitMin}]]>
			</if>
			<if test="limitMax != null">
    			<![CDATA[and LimitMoney <= #{limitMax}]]>
			</if>
		</where>
		order by id desc
		<if test="pageQuery != null">
			limit #{pageQuery.limit} offset #{pageQuery.offset}
		</if>

	</select>

	<select id="searchCount" parameterType="map" resultType="int">
		select count(1) from store_CouponTemplate
		<where>
			Status = 0
			AND supplier_id = 0
			<if test="publishCountMin != null">
    			<![CDATA[and PublishCount >= #{publishCountMin}]]>
			</if>
			<if test="publishCountMax != null">
    			<![CDATA[and PublishCount <= #{publishCountMax}]]>
			</if>
			<if test="storeCouponTemplate.id != null">
				and Id = #{storeCouponTemplate.id}
			</if>
			<if test="storeCouponTemplate.name != null">
				and Name like concat ("%", #{storeCouponTemplate.name}, "%")
			</if>
			<if test="storeCouponTemplate.type != null">
				and Type = #{storeCouponTemplate.type}
			</if>
			<if test="storeCouponTemplate.rangeType != null">
				and RangeType = #{storeCouponTemplate.rangeType}
			</if>
			<if test="storeCouponTemplate.validityStartTime != null">
    			<![CDATA[and ValidityStartTime >= #{storeCouponTemplate.validityStartTime}]]>
			</if>
			<if test="storeCouponTemplate.validityEndTime != null">
    			<![CDATA[and ValidityEndTime <= #{storeCouponTemplate.validityEndTime}]]>
			</if>
			<if test="storeCouponTemplate.isLimit != null">
				and IsLimit = #{storeCouponTemplate.isLimit}
			</if>
			<if test="ids != null">
				and (
				<foreach collection="ids" open="("
					close=")" item="rangeTypeId" separator="or">
    		    <![CDATA[ BrandIds like concat ("%", #{rangeTypeId}, "%") ]]>
				</foreach>
				)
			</if>
			<if test="moneyMin != null">
    			<![CDATA[and Money >= #{moneyMin}]]>
			</if>
			<if test="moneyMax != null">
    			<![CDATA[and Money <= #{moneyMax}]]>
			</if>
			<if test="limitMin != null">
    			<![CDATA[and LimitMoney >= #{limitMin}]]>
			</if>
			<if test="limitMax != null">
    			<![CDATA[and LimitMoney <= #{limitMax}]]>
			</if>
		</where>
	</select>

	<insert id="add" useGeneratedKeys="true" keyProperty="id">
		insert into store_CouponTemplate(Name, Type, Money, RangeType,RangeContent,
		ValidityStartTime, ValidityEndTime, IsLimit, CreateTime, UpdateTime,
		ExchangeJiuCoinSetting,ExchangeJiuCoinCost,ExchangeLimitTotalCount,ExchangeLimitSingleCount,ExchangeStartTime,ExchangeEndTime,
		PromotionJiuCoinSetting,PromotionJiuCoin,PromotionStartTime,
		PromotionEndTime, LimitMoney, RangeTypeIds, RangeTypeNames)
		values(#{name}, #{type}, #{money}, #{rangeType}, #{rangeContent},
		#{validityStartTime}, #{validityEndTime}, #{isLimit}, #{createTime},
		#{updateTime},
		#{exchangeJiuCoinSetting},#{exchangeJiuCoinCost},#{exchangeLimitTotalCount},#{exchangeLimitSingleCount},#{exchangeStartTime},#{exchangeEndTime},
		#{promotionJiuCoinSetting},#{promotionJiuCoin},#{promotionStartTime},#{promotionEndTime},
		#{limitMoney},#{rangeTypeIds},#{rangeTypeNames})
	</insert>

	<update id="update">
		update store_CouponTemplate
		<set>
			<if test="name != null">
				Name = #{name},
			</if>
			<if test="type != null">
				Type = #{type},
			</if>
			<if test="money != null">
				Money = #{money},
			</if>
			<if test="rangeType != null">
				RangeType = #{rangeType},
			</if>
			<if test="isLimit != null">
				IsLimit = #{isLimit},
			</if>
			<if test="validityStartTime != null">
				ValidityStartTime = #{validityStartTime},
			</if>
			<if test="validityEndTime != null">
				ValidityEndTime = #{validityEndTime},
			</if>
			<if test="rangeContent != null">
				RangeContent = #{rangeContent},
			</if>
			<if test="publishCount != null">
				PublishCount = PublishCount + #{publishCount},
			</if>
			<if test="grantCount != null">
				GrantCount = GrantCount + #{grantCount},
			</if>
			<if test="availableCount != null">
				AvailableCount = AvailableCount + #{availableCount},
			</if>
			<if test="coexist != null">
				Coexist = #{coexist},
			</if>
			<if test="status != null">
				Status = #{status},
			</if>
			<if test="limitMoney != null">
				LimitMoney = #{limitMoney},
			</if>
			<if test="updateTime != null">
				UpdateTime = #{updateTime},
			</if>
			<if test="exchangeJiuCoinSetting != null">
				ExchangeJiuCoinSetting = #{exchangeJiuCoinSetting},
			</if>
			<if test="exchangeJiuCoinCost != null">
				ExchangeJiuCoinCost = #{exchangeJiuCoinCost},
			</if>
			<if test="exchangeLimitTotalCount != null">
				ExchangeLimitTotalCount = #{exchangeLimitTotalCount},
			</if>
			<if test="exchangeLimitSingleCount != null">
				ExchangeLimitSingleCount = #{exchangeLimitSingleCount},
			</if>
			<if test="exchangeStartTime != null">
				ExchangeStartTime = #{exchangeStartTime},
			</if>
			<if test="exchangeEndTime != null">
				ExchangeEndTime = #{exchangeEndTime},
			</if>
			<if test="promotionJiuCoinSetting != null">
				PromotionJiuCoinSetting = #{promotionJiuCoinSetting},
			</if>
			<if test="promotionJiuCoin != null">
				PromotionJiuCoin = #{promotionJiuCoin},
			</if>
			<if test="promotionStartTime != null">
				PromotionStartTime = #{promotionStartTime},
			</if>
			<if test="promotionEndTime != null">
				PromotionEndTime = #{promotionEndTime},
			</if>
		</set>
		where Id = #{id}
	</update>

	<update id="updatePublished">
		update store_CouponTemplate
		<set>
			<if test="exchangeJiuCoinSetting != null">
				ExchangeJiuCoinSetting = #{exchangeJiuCoinSetting},
			</if>
			<if test="exchangeJiuCoinCost != null">
				ExchangeJiuCoinCost = #{exchangeJiuCoinCost},
			</if>
			<if test="exchangeLimitTotalCount != null">
				ExchangeLimitTotalCount = #{exchangeLimitTotalCount},
			</if>
			<if test="exchangeLimitSingleCount != null">
				ExchangeLimitSingleCount = #{exchangeLimitSingleCount},
			</if>
			<if test="exchangeStartTime != null">
				ExchangeStartTime = #{exchangeStartTime},
			</if>
			<if test="exchangeEndTime != null">
				ExchangeEndTime = #{exchangeEndTime},
			</if>
			<if test="promotionJiuCoinSetting != null">
				PromotionJiuCoinSetting = #{promotionJiuCoinSetting},
			</if>
			<if test="promotionJiuCoin != null">
				PromotionJiuCoin = #{promotionJiuCoin},
			</if>
			<if test="promotionStartTime != null">
				PromotionStartTime = #{promotionStartTime},
			</if>
			<if test="promotionEndTime != null">
				PromotionEndTime = #{promotionEndTime},
			</if>
		</set>
		where Id = #{id}
	</update>

	<update id="clearExchangeCount" parameterType="long">
		update store_CouponTemplate
		<set>
			ExchangeCount = 0
		</set>
		where Id = #{id}
	</update>

	<select id="searchValidity" resultType="StoreCouponTemplate">
		select * from
		store_CouponTemplate
		where Status = 0 and Id = #{templateId}
	</select>

	<!-- 更新发行量 -->
	<update id="updateCount">
		update store_CouponTemplate
		set PublishCount =
		PublishCount + #{count}
		where Id = #{templateId}
	</update>

	<!-- 更新发放量 -->
	<update id="updateGrant">
		update store_CouponTemplate
		set GrantCount =
		GrantCount + #{count}
		where Id = #{templateId}
	</update>
	<resultMap type="StoreCouponTemplate" id="StoreCouponTemplateMap">
	  <result column="RangeTypeIds" property="rangeTypeIds"/>
	  <result column="RangeTypeNames" property="rangeTypeNames"/>
	</resultMap>

</mapper>