<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="wap/common::header-common-seo"></div>
    <link rel="stylesheet" href="wap/css/joinUs.css?v20180814">
</head>
<body>
    <div th:replace="wap/common::nav-common"></div>
    <div class="join-head"></div>
    <!--  加入我们 -->
    <div class="join-section01">
        <div class="public-title">
            <h2 class="title">加入我们</h2>
            <div class="sub-title">
                <span class="line"></span>
                <span class="name">JOIN US</span>
                <span class="line"></span>
            </div>
        </div>
        <div class="section01-box">
            <div class="section01-mod section01-mod1">
                <div class="mod-title">
                    <p class="title">BRAND</p>
                    <p class="sub-title">ENTRY</p>
                </div> 
                <div class="line"></div>
                <dl class="mod-text">
                    <dt>品牌入驻优势</dt>
                    <dt class="d-title">品牌孵化</dt>
                    <dd>全面资源扶持，以平台格局助力品牌孵化成长</dd>
                    <dt class="d-title">渠道整合</dt>
                    <dd>全国渠道推广，精准客户社群整合，直面千万实体门店</dd>
                    <dt class="d-title">推广营销</dt>
                    <dd>多元化平台营销，品牌产品全曝光，营销更精准</dd>
                    <dt class="d-title">政策优惠</dt>
                    <dd>免费入住；保证金不交；免费推广；纯佣金模式，交易额10%；免费专业模特拍图</dd>
                </dl>
                <dl class="tel">
                    <dt>品牌热线：<span>400-118-0099转1号线</span></dt>
                </dl>
            </div>
        </div>
        <div class="section01-box1">
            <div class="section01-box">
                <div class="section01-mod section01-mod1">
                    <div class="mod-title">
                        <p class="title">INTELLIGENT</p>
                        <p class="sub-title">STORE</p>
                    </div> 
                    <div class="line"></div>
                    <dl class="mod-text">
                        <dt>智能门店</dt>
                        <dt class="d-title">进货不难</dt>
                        <dd>强大的服装供应链资源</dd>
                        <dt class="d-title">运营无忧</dt>
                        <dd>资深运营团队／新零售全域运营手段</dd>
                        <dt class="d-title">卖货不难</dt>
                        <dd>专为服装客户设计的小程序工具</dd>
                    </dl>
                    <dl class="tel">
                        <dt>开店热线：<span>400-118-0099转3号线</span></dt>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <!-- 人才招聘 -->
    <div class="wd1200 join-section02">
        <div class="public-title">
            <h2 class="title">人才招聘</h2>
            <div class="sub-title">
                <span class="line"></span>
                <span class="name">JOIN US</span>
                <span class="line"></span>
            </div>
        </div>
        <div class="section02-box">
            <p class="title">查看岗位详情,请点击以下合作网站</p>
            <dl class="join-site">
                <dd class="first"><a href="https://jobs.51job.com/all/co3650204.html"><img src="images/join/btn1.png" alt="前程无忧"></a></dd>
                <dd><a href="https://www.liepin.com/company/8531687/"><img src="images/join/btn2.png" alt="猎聘"></a></dd>
            </dl>
        </div>
    </div>
    <!-- 底部 -->
    <div th:replace="wap/common::foot-common"></div>
</body>
</html>