<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="wap/common::header-common-seo"></div>
</head>
<body>
    <div th:replace="wap/common::nav-common"></div>
    <div class="clause-head"></div>
    <!--  服务条款 -->
    <div class="wd1200 clause-section">
       <div class="public-title">
            <h2 class="title">服务条款</h2>
            <div class="sub-title">
                <span class="line"></span>
                <span class="name">SERVICE CLAUSE</span>
                <span class="line"></span>
            </div>
        </div>
        <div class="clause-box">
            <p class="summary">
                杭州玖远网络科技有限公司（"玖远科技"、“俞姐姐”“俞姐姐门店宝”"我们"、"我方"或"我们的"）授权您使用本网站（"网站"）以及俞姐姐门店宝App（App）， 但您须遵守下列使用条款和条件（"服务条款"或"协议"）。请仔细阅读本使用条款。访问本网站， 下载 俞姐 姐 App即表示您同意受本使用条款的约束。 如果您不愿意受本使用条款的约束，请不要访问或使用本网站、俞姐姐门店宝App。
            </p>
            <dl class="content">
                
                <dt>1 . 许可证</dt>
                <dd>本网站、App的内容由杭州玖远网络科技有限公司拥有和运营。本网站、App上提供的所有文件和其他信息与内容均受全世 界版权法律的保护。授予您有限许可，允许您仅出于以下目的复制部分内容： 作为杭州玖远网络科技有限公司的求职应 聘者、当前或潜在客户、当前或潜在商业合作伙伴， 或当前或潜在投资者来查阅网站内容。任何复制品上必须保留有关任 何网站、App内容的所有版权和其他专有声明。 严禁未经授权对任何网站、App内容进行复制、修改、散布或演绎。供应 商保留所有未在本使用条款中明确授予的权利。</dd>

                <dt>2 . 商标</dt>
                <dd>"俞姐姐门店宝"及本网站、App上所使用的其他相关的图表、标识、 服务标志和商业名称都属于杭州玖远网络科技有限公司所有， 未经许可不得用于与任何第三方产品或服务相关的活动中。 网站、App上出现的其他商标、服务标志和商业名称均为其各 自所有者的财产。</dd>

                <dt>3 . 修改</dt>
                <dd>1）我们保留在发出或不发出通知的情况下， 随时修改网站、App内容或修改、暂停或停用本网站、App或其中任何一部分 内容的权利。</dd>

                <dd>2）玖远科技不会因修改任何网站、App内容或修改、暂停或停用本网站、App而对您或任何第三方追究责任。</dd>

                <dt>4 . 反馈</dt>
                <dd>玖远科技会将您向我们提供的任何反馈或建议作为非机密和非专有信息来处理。 因此，如果您没有与玖远科技签订其他书 面协议，则表明您已将此反馈或建议的所有权转让给玖远科技。</dd>

                <dt>5 . 安全与隐私</dt>
                <dd>1）您有责任妥善保存你的密码。</dd>

                <dd>2）玖远科技"隐私条款"是构成本使用条款的一部分。</dd>

                <dt>6 . 禁止内容</dt>
                <dd>禁止使用本网站进行任何非法或者未经授权的行为。使用本网站和App，您必须遵守任何和全部的中华人民共和国适用法 律、 法规和行为守则，国际用户同意遵守当地有关约束互联网行为和内容的法律。</dd>

                <dt>7 . 第三方链接</dt>
                <dd>本网站、App可能包含由第三方运营的其他网站的链接，此类第三方网站不受玖远科技的控制。 玖远科技不对任何第三方网 站的内容或第三方网站中包含的任何链接负责。 玖远科技提供这些链接仅便于使用者参考，并不审查、批准、监控、认可、 担保第三方网站之内容，亦不对其做任何声明。</dd>

                <dt>8 . 责任范围</dt>
                <dd>对于由本网站，App引起或与之相关的任何间接、偶然、特殊、典型或后果性损害， 包括但不限于由于无法使用、数据丢失 或利润损失而导致的任何损害。 无论公司是否已被告知发生此类损害的可能性或接到任何关于责任理论的建议，公司概不 承担责任。 除按照销售条款执行的情况外，关于合同、侵权行为或其他任何情况， 公司对于与本使用条款、网站、或网站 内容相关的累积责任赔偿总额不超过200人民币。</dd>

                <dt>9 . 条款的修订</dt>
                <dd>玖远科技可以随时通过更新本发布内容来修订本使用条款。 使用本网站，即表示您同意受这些修订的约束， 并且应该定期 访问网站的这一页面来查看最新的使用条款。 本使用条款的某些规定可能被本网站中特定页面上明确指定的法律通告或 条款所取代。</dd>

                <dt>10 . 版权声明</dt>
                <dd>1）除了可识别的个人信息之外，任何您在此网站上公布的资料都将视为非机密和非专有的。我们对该类资料将不承担责任。</dd>

                <dd>2）我们和我们指定的人员可自由复制、披露、散布、整合和以其他方式使用该类资料和所有数据、图像、声音、文本和其中包含的其他内容，以用作任何和全部商业或非商业目的。</dd>

                <dd>3）俞姐姐门店宝有权审查并删除任何内容、邮件、照片或文本（统称为"内容"），只要 俞姐姐 经过合理判断， 认为该类内容违反了本协议，或具有攻击性、违法性，或侵犯了他人权利，或损害、威胁了会员安全。</dd>

                <dd>4）您声明并保证您在任何时候公布的内容是（a）未违反本协议；（b）不会伤害到任何其他人。</dd>

                <dd>5）通过将内容发布到 俞姐姐门店宝 的公共区域，表示您同意、自动授予，并且保证您有权授予 俞姐姐门店宝 一项不可取消的、永久的、非独占的、完全付费的、世界范围的许可， 以使用、复制、执行、显示并散布该类信息和内容， 也可准备该类信息和内容的衍生作品或整合到其他作品中，以及授予上述权利的再授权。</dd>

                <dt>11 . 其他条款</dt>
                <dd>1）如果本使用条款中的任何规定因任何原因而无效或无法执行， 则本使用条款中的其他规定将不受影响， 而无效或无法执行的条款将在法律允许的范围内最大程度地加以修改以确保有效且可执行。</dd>

                <dd>2）本使用条款及与之相关的任何行为都将受到中华人民共和国的管辖和控制， 并按照中华人民共和国法律来解释和定义，任何要求适用其他司法管辖区法律的原则均无效。</dd>

                <dd>3）使用本网站，即表示您明确同意属人管辖权和审判地归属于中华人民共和国， 并且同意您依据本使用条款所提起的任何诉讼主张仅能提交本国法院受理，不得提交任何境外法院。 如果您对上述内容有任何疑问，请通过以下电子邮箱联系我们：<span class="ft-red">business@yujiejie.com</span></dd>
            </dl>
        </div>
    </div>
    <!-- 底部 -->
    <div th:replace="wap/common::foot-common"></div>
</body>
</html>