{
## check parameters
#if (${operation.paramType} == "object")
    	if (${operation.params.get(0).name} == null) {
    		throw new IllegalArgumentException("Can't delete by a null data object.");
    	}

#end
## prepare parameters
#if (${operation.params.size()} == 0)
#set ($paramName = "null")

##1个参数，如果是java.util的，则必须是java.util.Map
#elseif (${operation.params.size()} == 1 && (!${operation.param.javaType}  || ${operation.param.package} == "java.util" &&  ${operation.param.javaType} == "java.util.Map"))
#if (${operation.param.javaTypePrimitive})
        ${operation.param.simpleJavaTypeForPrimitive} param = new ${operation.param.simpleJavaTypeForPrimitive}(${operation.param.name});
#set ($paramName = "param")

#else
#set ($paramName = ${operation.param.name})

#end
#else
        Map<String,Object> param = new HashMap<String,Object>();

#foreach ($param in ${operation.params})
#if ($param.javaTypeForPrimitive)
        param.put("${param.name}", new ${param.simpleJavaTypeForPrimitive}(${param.name}));
#else
        param.put("${param.name}", ${param.name});
#end
#end
#set ($paramName = "param")

#end
        return getSqlMapClientTemplate().delete("${operation.mappedStatementId}", ${paramName});
    }