<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yujj.dao.mapper.BrandMapper">
	
	<select id="getBrandMap" parameterType="map" resultType="Brand">
		select * from yjj_Brand
		where BrandId in
		<foreach collection="brandIds" item="brandId" open="(" separator="," close=")">
			#{brandId}
		</foreach>
	</select>
	
	<select id="getBrandListByArr" parameterType="map" resultType="Brand">
	 <![CDATA[
		select * from yjj_Brand
		where BrandId in (
		]]>
			 <foreach collection="arr"  item="vl" separator=","  >
                <![CDATA[
			 #{vl}
			]]>
            </foreach>
             <![CDATA[
		)
		]]>
	</select>
	<select id="getBrands" resultType="Brand">
	<![CDATA[
		select BrandId, BrandName, CnName, Weight from yjj_Brand
	]]>
	</select>
	
		
	<select id="getBrandListShow" parameterType="map" resultType="BrandVO">
	 <![CDATA[
		select * from yjj_Brand b
		where Status = 0 
		]]>
		<if test="searchBrand != null">
			<![CDATA[
				and BrandName like '%${searchBrand}%'
			]]>
		</if>
		<if test="type == 0">
			<![CDATA[
				order by (select IFNULL(sum(BuyCount),0) from yjj_OrderItem where BrandId = b.brandId and orderNo in (select orderNo from yjj_OrderNew where OrderStatus in (10,50,70))) DESC,Weight desc
			]]>
		</if>
		<if test="type == 1">
			<![CDATA[
				order by weight desc
			]]>
		</if>
		<if test="type == 2">
			<![CDATA[
				order by weight desc
			]]>
		</if>
		<if test="type == 3">
			<![CDATA[
				order by (select IFNULL(max(createTime),0) from yjj_OrderItem where BrandId = b.brandId and UserId  = #{userId} ) DESC,Weight desc

			]]>
		</if>
		<![CDATA[ limit #{pageQuery.limit} offset #{pageQuery.offset}]]>
	</select>
</mapper>