<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yujj.dao.mapper.BrandBusinessMapper">
	<select id="getById" resultType="BrandBusiness">
		select * from yjj_BrandBusiness
		where Id = #{id} and Status = 0
	</select>
	
	<select id="getByBrandId" resultType="BrandBusiness">
		select * from yjj_BrandBusiness
		where BrandId = #{brandId} and Status = 0
	</select>

	
</mapper>