<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yujj.dao.mapper.DrawLotteryMapper">
	
	<select id="load" resultType="DrawLottery">
		select * from yjj_DrawLottery
		where Status = 0 
	</select>
	
	<select id="getFirstLottery" resultType="DrawLottery">
		select * from yjj_DrawLottery
		where Status = 0 
		order by Weight desc
		limit 1
	</select>
	
	<update id="updateLastAdjustTime">
		update yjj_DrawLottery
		set LastAdjustTime = #{lastAdjustTime}
		where Id = #{id}
	</update>
	
	<select id="getById" resultType="DrawLottery">
		select * from yjj_DrawLottery
		where Id = #{id}
	</select>
	
</mapper>