<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yujj.dao.mapper.FetchCouponCenterLogMapper">
	
	<insert id="add">
		insert into yjj_FetchCouponCenterLog (CouponTemplateId, UserId, CreateTime)
		values (#{fetchCouponCenterLog.couponTemplateId}, #{fetchCouponCenterLog.userId}, #{fetchCouponCenterLog.createTime}) 
	</insert>
	
	<select id="getFetchCount" resultType="map">
		select count(1) as count, CouponTemplateId
		from yjj_FetchCouponCenterLog
		where UserId = #{userId} and <![CDATA[ #{startTime} <= CreateTime and CreateTime <= #{endTime} ]]>
		group by CouponTemplateId
	</select>
	
	<select id="getCount" resultType="int">
		select count(1)
		from yjj_FetchCouponCenterLog
		where UserId = #{userId} and CouponTemplateId = #{couponTemplateId}
			and <![CDATA[ #{startTime} <= CreateTime and CreateTime <= #{endTime} ]]>
			
	</select>
	
</mapper>