<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yujj.dao.mapper.IdMapper">
	<select id="getLastLogId" parameterType="map" resultType="long">
		<![CDATA[
			select LastLogId from yjj_Id where Id=1
		]]>
	</select>
	<update id="updateLastLogId">
		<![CDATA[
			update yjj_Id
			set LastLogId = LastLogId + #{count}
			where Id=1
		]]>
	</update>
</mapper>