<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yujj.dao.mapper.PaymentLogMapper">
<!--  删除旧表
	<insert id="createBeforePay" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into yjj_PaymentLog
			(OrderID, UserId,OrderNo,PaymentCount, CreateTime, UpdateTime, OperationPoint)
			values
			(#{id}, #{userId}, #{orderNo}, #{paymentCount}, #{createTime}, #{updateTime}, #{operationPoint})
		]]>
	</insert> -->
	
	<update id="updateAfterPay" parameterType="map">
		<![CDATA[
			update yjj_PaymentLog set 
			PaymentCount = #{total_fee},
			BuyerEmail = #{buyer_email},
			BuyerId = #{buyer_id},
			SellerEmail = #{seller_email},
			SellerId = #{seller_id},
			TradeNo = #{trade_no},
			TradeStatus = #{trade_status},
			OperationPoint = 'UPDATE_LOG_TO_FINISH'
		]]>
			<where>
				<![CDATA[
					OrderNo = #{out_trade_no}
				]]>
			</where>
	</update>
	
</mapper>