<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yujj.dao.mapper.SendBackMapper">
<!-- 
	<insert id="addSendBack">
		<![CDATA[
			insert into yjj_SendBack
			(UserId, OrderId, CreateTime, UpdateTime, Status, ExpressSupplier, ExpressOrderNo, Phone)
			values
			(#{userId}, #{orderId}, #{createTime}, #{updateTime}, #{status}, #{expressSupplier}, #{expressOrderNo}, #{phone})
		]]>
	</insert> -->
</mapper>