<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yujj.dao.mapper.LOWarehouseMapper">
	<select id="getById" parameterType="map" resultType="LOWarehouse">
		<![CDATA[
			select * from yjj_LOWarehouse
			where Id = #{id}
		]]>
	</select>
</mapper>