<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="pc/common::header-common"></div>
    <title th:text="${article.seoTitle}"></title>
    <meta name="keywords"  th:content="${article.seoKeywords}" />
    <meta name="description"  th:content="${article.seoDescriptor}" />
    <link rel="stylesheet" href="/css/news.css">

</head>
<body class="gray-body">

    <div th:include="pc/common::#nav-common"></div>
    <div class="news-head"></div>
    <!--  新闻内容 -->
    <div class="wd1200 news-detail-box">
        <h2 class="news-title" th:text="${article.title}"></h2>
        <div class="sub-title" th:text="${#dates.format(article.createTime,'yyyy-MM-dd')}"></div>
        <div class="content" th:utext="${article.content}">
        </div>
    </div>
    <!-- 底部 -->
	<div th:replace="pc/common::#foot-common"></div>
</body>
</html>
